<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-lg-6 col-md-12">
                <label for="Passengers">Users:<span class="required">*</span></label>
                <autocomplete [items]="items" (notify)='onNotify($event)' (InvokeAutoCompleteReset)="invokeReset();"></autocomplete>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 buttonholder">
                <button class="btn btn-primary" type="button" (click)="save()">Submit</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 d-block d-lg-none text-right">
                <md-checkbox id="IsAutoApproved" [(ngModel)]="allSelectMember" (change)="selectAllMember($event)" aria-label="Add">Select
                    Member Of
                </md-checkbox>
            </div>
            <div class="col-sm-6 d-block d-lg-none text-right">
                <md-checkbox id="IsAutoApproved" [(ngModel)]="allSelectHOD" (change)="selectAllHOD($event)" aria-label="Add">Select
                    HOD
                </md-checkbox>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <responsive-table>
                    <table responsive-table-body>
                        <thead>
                            <tr>
                                <th>Department Code</th>
                                <th>
                                    <ng-template [ngIf]="isCanViewDisplay | accesibility: currentDepartmentId : 'SelectMemberOf'">
                                        <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="allSelectMember" (change)="selectAllMember($event)" aria-label="Add">
                                            Select Member Of
                                        </md-checkbox>
                                    </ng-template>
                                </th>
                                <th>
                                    <ng-template [ngIf]="isOnlyHodDisplay | accesibility: currentDepartmentId : 'SelectHOD'">
                                        <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="allSelectHOD" (change)="selectAllHOD($event)" aria-label="Add">
                                            Select HOD
                                        </md-checkbox>
                                    </ng-template>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [hidden]="departmentsToView.length != 0">
                                <td colspan="3">No records found.</td>
                            </tr>
                            <tr *ngFor="let departmentToView of departmentsToView">
                                <td data-title="Department Code">{{departmentToView.DepartmentName}}</td>
                                <td data-title="Select Member Of">
                                    <ng-template [ngIf]="isCanViewDisplay | accesibility: currentDepartmentId : 'SelectMemberOf'">
                                        <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="departmentToView.IsMemberOf" aria-label="Add" (change)="checkAllStatusMember($event, departmentToView)"></md-checkbox>
                                    </ng-template>
                                </td>
                                <td data-title="Is HOD">
                                    <ng-template [ngIf]="isOnlyHodDisplay | accesibility: currentDepartmentId : 'SelectHOD'">
                                        <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="departmentToView.IsHod" aria-label="Add" (change)="checkAllStatusHod($event, departmentToView)"></md-checkbox>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 buttonholder">
                <button class="btn btn-primary" type="button" (click)="save()">Submit</button>
            </div>
        </div>
    </div>
</div>