<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/pages/dashboard/actionable/openActionable']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Open Actionable</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pages/dashboard/actionable/closeActionable']" routerLinkActive="active">Close Actionable</a>
            </li>

        </ul>
    </div>
    <div class="card-block">
        <router-outlet></router-outlet>
    </div>
</div>
