<button class="btn btn-primary" type="submit" (click)="closedActionableClick(closeActionables)"  *ngIf="(!isArchive && isShowUpdateCloseChecklist | accesibility:currentDepartmentId:'UpdateCloseChecklist')">Submit</button><br/><br/>

<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Description</th>
                <th>Schedule Close Time</th>
                <th>Actual Close Time</th>
                <th>Completion Status</th>
                <th>Download</th>
                <th>Trail</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="closeActionables.length != 0">
                <td colspan="8">No records found.</td>
            </tr>
            <template ngFor let-actionable [ngForOf]="closeActionables" let-i="index">
                <tr>
                    <td data-title="Serial Number">{{i+1}}</td>
                    <td data-title="Description">
                        <i class="fa fa-plus" aria-hidden="true" [hidden]="hasChildChecklist(actionable.ChklistId)==false || actionable.expanded == true"
                            (click)="openChildActionable(actionable); $event.stopPropagation();"></i>
                        <i class="fa fa-minus" aria-hidden="true" [hidden]="hasChildChecklist(actionable.ChklistId)==false || actionable.expanded == false "
                            (click)="openChildActionable(actionable); $event.stopPropagation();"></i>                        {{actionable.Description}}
                    </td>
                    <td data-title="Schedule Close Time">{{actionable.ScheduleClose | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                    <td data-title="Actual Close Time">{{actionable.ActualClose | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                    <td data-title="Completion Status">
                        <span *ngIf="hasChildChecklist(actionable.ChklistId)==true">{{actionable.CompletionStatus}}</span>
                        <select id="selectCompletionStatus" class="form-control" *ngIf="hasChildChecklist(actionable.ChklistId)==false" [(ngModel)]="actionable.CompletionStatus"
                            (change)="IsReopen($event,actionable)">
                            <option value=''>Select Completion Status</option>
                            <option *ngFor="let completionStatusType of completionStatusTypes" [value]="completionStatusType.caption">
                                    {{completionStatusType.text}}
                            </option>
                        </select>
                        <!--<md-checkbox class="Marght" [disabled]="hasChildChecklist(actionable.ChklistId) || isArchive" id="Reopen" name="Reopen" [ngModel]="actionable.Done"
                            (change)="IsReopen($event,actionable)" aria-label="Reopen">
                        </md-checkbox>-->
                    </td>
                    <td data-title="Download">
                        <a class="fa fa-download" target="_self" *ngIf="actionable.UploadLinks!=null" href="{{actionable.UploadLinks}}" download="{{actionable.FileName}}">Download</a>
                    </td>
                    <td data-title="Trail"><i class="fa fa-info-circle fa-2x" (click)="openTrail(actionable)"></i> </td>
                    <td data-title="View"><i class="fa fa-edit fa-2x" (click)="openActionableDetail(actionable)"></i></td>
                </tr>
                <tr *ngIf="actionable.expanded">
                    <td colspan="8">
                        <responsive-table>
                            <table responsive-table-body>
                                <thead>
                                    <th>Description</th>
                                    <th>Scheduled End Time</th>
                                    <th>Completion Status</th>
                                    <th>Department Name</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let actionableChild of actionable.actionableChilds; let i = index;">
                                        <td data-title="Description">{{actionableChild.Description}}</td>
                                        <td data-title="Scheduled End Time">{{actionableChild.ScheduleClose | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                                        <td data-title="Completion Status">
                                            {{actionableChild.CompletionStatus}}
                                        </td>
                                        <td data-title="Department Name">{{actionableChild.DepartmentName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</responsive-table>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Additional Information</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUpdateCommentAndURL()">
                  <span aria-hidden="true">&times;</span>
                   </button>
            </div>
            <div class="modal-body">
                <div class="holderStyle">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <label><i>Comments:</i></label>
                                <input type="text" [ngModel]="actionableModelToUpdate.Comments" formControlName="Comments" value="{{actionableModelToUpdate.Comments}}"
                                    placeholder="Comments" />
                            </div>
                            <div class="col-sm-6">
                                <label><i>URL:</i></label>
                                <input disabled type="text" [ngModel]="actionableModelToUpdate.URL" formControlName="URL" value="{{actionableModelToUpdate.URL}}"
                                    placeholder="URL" />
                            </div>
                        </div>
                        <div style="float: right" *ngIf="!isArchive">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #childModalTrail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Checklist Completion status Trail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelTrail()">
                  <span aria-hidden="true">&times;</span>
                   </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <responsive-table>
                            <table responsive-table-body>
                                <tbody>
                                    <tr *ngIf="!checklistTrails.length>0">
                                        <td> No Records to display.
                                        </td>
                                    </tr>
                                    <tr *ngFor="let trail of checklistTrails">
                                        <td [innerHTML]="trail.Query" type="text">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>