<div class="row">
    <div class="col-sm-12">
        <div class="button-align">
            <button class="btn btn-primary" type="submit" (click)="activeActionableClick(activeActionables)" [disabled]="isArchive" *ngIf="(isShowUpdateOpenChecklist | accesibility:currentDepartmentId:'UpdateOpenChecklist')">Submit</button>
        </div>
    </div>
</div>
<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Serial</th>
                <th width="48%">Description</th>
                <th>Schedule Close Time </th>
                <th>Completion Status</th>
                <th>RAG</th>
                <th>Download</th>
                <th>Trail</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="activeActionables.length != 0">
                <td colspan="8">No records found.</td>
            </tr>
            <ng-container *ngFor="let actionable of activeActionables; let i = index;">
                <tr>
                    <td data-title="Serial Number">{{i+1}}</td>
                    <td data-title="Description">
                        <i class="fa fa-plus" aria-hidden="true" [hidden]="hasChildChecklist(actionable.ChklistId)==false || actionable.expanded == true"
                            (click)="openChildActionable(actionable); $event.stopPropagation();">&nbsp;</i>
                        <i class="fa fa-minus" aria-hidden="true" [hidden]="hasChildChecklist(actionable.ChklistId)==false || actionable.expanded == false"
                            (click)="openChildActionable(actionable); $event.stopPropagation();">&nbsp;</i>{{actionable.Description}}
                    </td>
                    <td data-title="Schedule Close Time">{{actionable.ScheduleClose | date: 'dd-MMM-yyyy HH:mm'}}</td>
                    <td data-title="Completion Status">
                        <span *ngIf="hasChildChecklist(actionable.ChklistId)==true">{{actionable.CompletionStatus}}</span>
                        <select id="selectCompletionStatus" [disabled]="isArchive" *ngIf="hasChildChecklist(actionable.ChklistId)==false" class="form-control"
                            [(ngModel)]="actionable.CompletionStatus" (change)="IsDone($event,actionable)">
                            <option value=''>Select Completion Status</option>
                            <option *ngFor="let completionStatusType of completionStatusTypes" [value]="completionStatusType.caption">
                                {{completionStatusType.text}}
                            </option>
                        </select>
                    </td>
                    <td data-title="RAG">
                        <div [class]="actionable.RagColor"></div>
                    </td>
                    <td data-title="Download">
                        <a class="down-icon" target="_self" *ngIf="actionable.UploadLinks!=null && (isDashboardOpenChecklistDownloadLink | accesibility: currentDepartmentId:'DashboardOpenChecklistDownloadLink')"
                            href="{{actionable.UploadLinks}}" download="{{actionable.FileName}}"><i class="fa fa-download fa-2x"
                                aria-hidden="true"></i></a>
                    </td>
                    <td data-title="Trail"><i *ngIf="isShowCommentTrail | accesibility:currentDepartmentId:'ViewChecklistTrail'"
                            class="fa fa-info-circle fa-2x" (click)="openTrail(actionable)"></i> </td>
                    <td data-title="Details">
                        <i *ngIf="isShowViewAdditionalInfo | accesibility:currentDepartmentId:'ViewChecklistAdditionalInfo'" class="fa fa-edit fa-2x"
                            (click)="openActionableDetail(actionable)"></i>
                    </td>
                </tr>
                <tr *ngIf="actionable.expanded == true">
                    <td colspan="8">
                        <responsive-table>
                            <table responsive-table-body>
                                <thead>
                                    <th>Description</th>
                                    <th>Scheduled End Time</th>
                                    <th>Completion Status</th>
                                    <th>Department Name</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let actionableChild of actionable.actionableChilds">
                                        <td data-title="Description">{{actionableChild.Description}}&nbsp;</td>
                                        <td data-title="Scheduled End Time">{{actionableChild.ScheduleClose | date: 'dd-MMM-yyyy
                                            HH:mm'}}&nbsp;
                                        </td>
                                        <td data-title="Completion Status">
                                            {{actionableChild.CompletionStatus}}&nbsp;
                                        </td>
                                        <td data-title="Department Name">{{actionableChild.DepartmentName}}&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</responsive-table>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
    (onShow)="onShowChildModel()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Additional Information</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUpdateCommentAndURL(actionableModelToUpdate)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="holderStyle">
                    <form [formGroup]="form" (ngSubmit)="updateCommentAndURL(form.value,actionableModelToUpdate)">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-lg-6 col-sm-12 col-md-6">
                                                <label><i>Comments:</i><span class="required">*</span></label>
                                                <input type="text" [ngModel]="actionableModelToUpdate.Comments" [readonly]="isArchive" class="form-control" formControlName="Comments"
                                                    value="{{actionableModelToUpdate.Comments}}" placeholder="" />

                                                <small *ngIf="!form.controls.Comments.valid" [hidden]="form.controls.Comments.valid || (form.controls.Comments.pristine && !isSubmitted)"
                                                    class="text-danger">
                                                    Required.
                                                </small>
                                            </div>
                                            <div class="form-group col-lg-6 col-sm-12 col-md-6">
                                                <label><i>URL:</i></label>
                                                <label class="form-control"  readonly>
                                                    <a href=" {{actionableModelToUpdate.URL}}"  target=" _blank">{{actionableModelToUpdate.URL}}</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="!isArchive">
                                            <div class="col-lg-12">
                                                <input #myFileInput type="file" class="form-control-file" (change)="fileChangeEvent($event)" placeholder="Upload file..."
                                                />
                                                <br/>
                                                <button type="button" class="btn btn-primary" (click)="upload(actionableModelToUpdate)" [disabled]="disableUploadButton">Upload</button>
                                                <button type="button" class="btn btn-primary" (click)="clearFileUpload($event)">Clear</button>
                                                <a *ngIf="filepathWithLinks!=null" class="down-icon" target="_self" href="{{filepathWithLinks}}" download="{{fileName}}">
                                                    <i class="fa fa-download fa" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row" *ngIf="!isArchive">
                            <div class="col-lg-12 text-right">
                                    <button *ngIf="isShowUpdateAdditionalInfo | accesibility:currentDepartmentId:'UpdateChecklistAdditionalInfo'" class="btn btn-primary"
                                    type="submit">Submit</button>&nbsp;
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #childModalTrail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Checklist Completion status Trail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelTrail()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <responsive-table>
                            <table responsive-table-body>
                                <tbody>
                                    <tr *ngIf="!checklistTrails.length>0">
                                        <td> No Records to display.
                                        </td>
                                    </tr>
                                    <tr *ngFor="let trail of checklistTrails">
                                        <td [innerHTML]="trail.Query" type="text">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
