<button class="btn btn-primary" type="submit" (click)="activeActionableClick(activeActionables)" *ngIf="!isArchive">Submit</button><br/><br/>
<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Serial</th>
                <th width="48%">Description</th>
                <th>Schedule Close Time </th>
                <th>Completion Status</th>
                <th>RAG</th>
                <th>Download</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="activeActionables.length != 0">
                <td colspan="8">No records found.</td>
            </tr>

            <ng-container *ngFor="let actionable of activeActionables; let i = index;">
                <!--<tr *ngFor="let actionable of activeActionables; let i = index;">-->
                <tr>
                    <td data-title="Serial Number">{{i+1}}</td>
                    <td data-title="Description">
                        <i class="fa fa-plus" aria-hidden="true" [hidden]="hasChildChecklist(actionable.ChklistId)==false || actionable.expanded == true"
                            (click)="openChildActionable(actionable); $event.stopPropagation();"></i>
                        <i class="fa fa-minus" aria-hidden="true" [hidden]="hasChildChecklist(actionable.ChklistId)==false || actionable.expanded == false "
                            (click)="openChildActionable(actionable); $event.stopPropagation();"></i>                        &nbsp;{{actionable.Description}}
                    </td>
                    <td data-title="Schedule Close Time">{{actionable.ScheduleClose | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                    <td data-title="Completion Status">
                        <span *ngIf="hasChildChecklist(actionable.ChklistId)==true">{{actionable.CompletionStatus}}</span>
                        <select id="selectCompletionStatus" *ngIf="hasChildChecklist(actionable.ChklistId)==false" class="form-control" [(ngModel)]="actionable.CompletionStatus"
                            (change)="IsDone($event,actionable)">
                            <option value=''>Select Completion Status</option>
                            <option *ngFor="let completionStatusType of completionStatusTypes" [value]="completionStatusType.caption">
                                    {{completionStatusType.text}}
                            </option>
                        </select>
                    </td>
                    <td data-title="RAG">
                        <div [class]="actionable.RagColor"></div>
                    </td>
                    <td data-title="Download">
                        <a class="fa fa-download fa-2x" target="_self" *ngIf="actionable.UploadLinks!=null" href="{{actionable.UploadLinks}}" download="{{actionable.FileName}}"></a>
                    </td>
                    <td data-title="Details"><i class="fa fa-edit fa-2x" (click)="openActionableDetail(actionable)"></i>
                    </td>
                </tr>
                <!--<ng-container *ngIf="actionable.expanded == true">-->
                <tr *ngIf="actionable.expanded == true">
                    <td colspan="7">
                        <responsive-table>
                            <table responsive-table-body>
                                <thead>
                                    <th>Description</th>
                                    <th>Scheduled End Time</th>
                                    <th>Completion Status</th>
                                    <th>Department Name</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let actionableChild of actionable.actionableChilds">
                                        <td data-title="Description">{{actionableChild.Description}}</td>
                                        <td data-title="Scheduled End Time">{{actionableChild.ScheduleClose | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                                        <td data-title="Completion Status">
                                            {{actionableChild.CompletionStatus}}
                                        </td>
                                        <td data-title="Department Name">{{actionableChild.DepartmentName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </td>
                </tr>
                <!--</ng-container>-->

            </ng-container>



            <!--<template ngFor let-actionable [ngForOf]="activeActionables" let-i="index">
                <tr>
                    <td data-title="Serial Number">{{i+1}}</td>
                    <td data-title="Description">
                        <i class="fa fa-plus" aria-hidden="true" [hidden]="hasChildChecklist(actionable.ChklistId)==false || actionable.expanded == true"
                            (click)="openChildActionable(actionable); $event.stopPropagation();"></i>
                        <i class="fa fa-minus" aria-hidden="true" [hidden]="hasChildChecklist(actionable.ChklistId)==false || actionable.expanded == false "
                            (click)="openChildActionable(actionable); $event.stopPropagation();"></i>                        &nbsp;{{actionable.Description}}
                    </td>
                    <td data-title="Schedule Close Time">{{actionable.ScheduleClose | amDateFormat:'LL - HH:mm:ss'}}</td>
                    <td data-title="Completion Status">
                        <span *ngIf="hasChildChecklist(actionable.ChklistId)==true">{{actionable.CompletionStatus}}</span>
                        <select id="selectCompletionStatus" *ngIf="hasChildChecklist(actionable.ChklistId)==false" class="form-control" [(ngModel)]="actionable.CompletionStatus"
                            (change)="IsDone($event,actionable)">
                            <option value=''>Select Completion Status</option>
                            <option *ngFor="let completionStatusType of completionStatusTypes" [value]="completionStatusType.caption">
                                    {{completionStatusType.text}}
                            </option>
                        </select>
                    </td>
                    <td data-title="RAG">
                        <div [class]="actionable.RagColor"></div>
                    </td>
                    <td data-title="Download">
                        <a class="fa fa-download fa-2x" target="_self" *ngIf="actionable.UploadLinks!=null" href="{{actionable.UploadLinks}}"
                            download="{{actionable.FileName}}"></a>
                    </td>
                    <td data-title="Details"><i class="fa fa-edit fa-2x" (click)="openActionableDetail(actionable)"></i>
                    </td>
                </tr>
                <tr *ngIf="actionable.expanded">
                    <td colspan="7">
                        <responsive-table>
                            <table responsive-table-body>
                                <thead>
                                    <th>Description</th>
                                    <th>Scheduled End Time</th>
                                    <th>Completion Status</th>
                                    <th>Department Name</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let actionableChild of actionable.actionableChilds; let i = index;">
                                        <td data-title="Description">{{actionableChild.Description}}</td>
                                        <td data-title="Scheduled End Time">{{actionableChild.ScheduleClose | amDateFormat:'LL - HH:mm:ss'}}</td>
                                        <td data-title="Completion Status">
                                            {{actionableChild.CompletionStatus}}
                                        </td>
                                        <td data-title="Department Name">{{actionableChild.DepartmentName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </td>
                </tr>
            </template>-->
        </tbody>
    </table>
</responsive-table>




<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Additional Information</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUpdateCommentAndURL(actionableModelToUpdate)">
                  <span aria-hidden="true">&times;</span>
                   </button>
            </div>
            <div class="modal-body">
                <div class="holderStyle">
                    <form [formGroup]="form" (ngSubmit)="updateCommentAndURL(form.value,actionableModelToUpdate)">
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-12 col-md-6">
                                <label><i>Comments:</i></label>
                                <input type="text" [ngModel]="actionableModelToUpdate.Comments" class="form-control" formControlName="Comments" value="{{actionableModelToUpdate.Comments}}"
                                    placeholder="Comments" />
                            </div>
                            <div class="form-group col-lg-6 col-sm-12 col-md-6">
                                <label><i>URL:</i></label>
                                <!--<input disabled type="text" [ngModel]="actionableModelToUpdate.URL" class="form-control" formControlName="URL" value="{{actionableModelToUpdate.URL}}"
                                    placeholder="URL" />-->
                                <label class="form-control"  readonly>
                                    <a href="{{actionableModelToUpdate.URL}}"  target="_blank">{{actionableModelToUpdate.URL}}</a>
                                        </label>
                            </div>
                        </div>
                        <div class="row" *ngIf="!isArchive">
                            <a class="glyphicon glyphicon-download-alt" target="_self" *ngIf="filepathWithLinks!=null" href="{{filepathWithLinks}}" download="{{fileName}}">Download</a>
                            <div class="buttonholder col-sm-10">
                                <input #myFileInput type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
                                <button type="button" class="btn btn-primary" (click)="upload(actionableModelToUpdate)" [disabled]="disableUploadButton">Upload</button>
                                <button type="button" class="btn btn-primary" (click)="clearFileUpload($event)">Clear</button>
                            </div>
                            <div class="col-sm-2">
                                <div class="row buttonholder" *ngIf="!isArchive">
                                    <button class="btn btn-primary" type="submit">Submit</button>&nbsp;
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>