<div class="row">
    <div class="col-sm-12 butt-des">
        <input type="button" class="btn btn-primary" (click)="expandSearchPanel(expandSearch)" [ngModel]="searchValue" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12" *ngIf="expandSearch">
        <generic-search [filterConfigs]="searchConfigs" (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();">
        </generic-search>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <responsive-table>
            <table responsive-table-body>
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Quick Link Name</th>
                        <th>Quick Link URL</th>
                        <th>File Download</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="quicklinks.length != 0">
                        <td colspan="6">No records found.</td>
                    </tr>
                    <tr *ngFor="let quicklink of quicklinks">
                        <td data-title="Group">{{(quicklink.QuickLinkGroup != null)? quicklink.QuickLinkGroup.GroupName:
                            ''}}&nbsp;</td>
                        <td data-title="Quick Link Name">{{quicklink.QuickLinkName}}&nbsp;</td>
                        <td data-title="Quick Link URL">
                            <a href="{{ quicklink.QuickLinkURL }}" target="_blank">{{ quicklink.QuickLinkURL }}&nbsp;
                            </a>
                        </td>
                        <td data-title="File">
                            <a target="_self" *ngIf="quicklink.UploadURL!=null" href="{{quicklink.UploadURL}}" download="QuicklinkFile">
                                <i class="fa fa-download fa-2x" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td data-title="Edit">
                            <i class="fa fa-edit fa-2x" (click)="editQuickLink(quicklink)"></i>
                        </td>
                        <td data-title="Delete">
                            <a target="_self" (click)="delQuickLink(quicklink.QuickLinkId,quicklink)">
                                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </responsive-table>
    </div>
</div>