<div class="row">
    <div class="col-12 butt-des">
        <input type="button" class="btn btn-primary" (click)="expandSearchPanel(expandSearch)" [ngModel]="searchValue" />
    </div>
</div>
<div class="row">
    <div class="col-12" *ngIf="expandSearch">
        <generic-search [filterConfigs]="searchConfigs" (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();">
        </generic-search>
    </div>
</div>

<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Quick Link Name</th>
                <th>Quick Link URL</th>
                <th>Quick Link Upload File</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="quicklinks.length != 0">
                <td colspan="6">No records found.</td>
            </tr>
            <tr *ngFor="let quicklink of quicklinks">
                <td data-title="Quick Link Name">{{quicklink.QuickLinkName}}</td>
                <td data-title="Quick Link URL" ><a href="{{ quicklink.QuickLinkURL }}" target="_blank">{{ quicklink.QuickLinkURL }}</a></td>
                <td data-title="File">
                    <a class="glyphicon glyphicon-download-alt" target="_self" *ngIf="quicklink.UploadURL!=null"
                          href="{{quicklink.UploadURL}}" download="QuicklinkFile">download</a>
                </td>
                 <td data-title="Edit">
                    <i class="fa fa-edit fa-2x" (click)="editQuickLink(quicklink)"></i>
                </td>
            </tr>

        </tbody>
    </table>
</responsive-table>

