<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Passenge Name</th>
                <th>PNR</th>
                <th>Seat Number</th>
                <th>Baggage Count</th>
                <th>Destination</th>
                <th>Contact Number</th>
                <th>PAX Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="passengers.length<=0">
                <td data-title="Records" colspan="7">No records to show.</td>
            </tr>
            <tr *ngFor="let affected of passengers">
                <td data-title="Passenge Name">{{affected.PassengerName}}</td>
                <td data-title="PNR">{{affected.Pnr}}</td>
                <td data-title="Seat Number">{{affected.Seatno}}</td>
                <td data-title="Baggage Count">{{affected.BaggageCount}}</td>
                <td data-title="Destination">{{affected.Destination}}</td>
                <td data-title="Contact Number">{{affected.ContactNumber}}</td>
                <td data-title="PAX Type">{{affected.PassengerType}}</td>
            </tr>
        </tbody>
    </table>
</responsive-table>