<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <!-- <th>Flight Details</th> -->
                <th>POL</th>
                <th>POU</th>
                <th>AWB</th>
                <th>Manifest Pieces</th>
                <th>Manifest Weight</th>
                <th>Shipper’s Name</th>
                <th>Shipper’s Address</th>
                <th>Shipper’s Contact Number</th>
                <th>Consignee's Name</th>
                <th>Consignee's Address</th>
                <th>Consignee's Contact Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Cargo Type</th>
                <th>Advisory To Consignee</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="cargoes.length<=0">
                <td data-title="Records" colspan="15">No records to show.</td>
            </tr>
            <tr *ngFor="let affected of cargoes">
                <!-- <td data-title="Flight Details">{{affected.FlightDetails}}</td> -->
                <td data-title="POL">{{affected.POL}}&nbsp;</td>
                <td data-title="POU">{{affected.POU}}&nbsp;</td>
                <td data-title="AWB">{{affected.AWB}}&nbsp;</td>
                <td data-title="Manifest Pieces">{{affected.mftpcs}}&nbsp;</td>
                <td data-title="Manifest Weight">{{affected.mftwgt}}&nbsp;</td>
                <td data-title="Shipper’s Name">{{affected.ShipperName}}&nbsp;</td>
                <td data-title="Shipper’s Address">{{affected.ShipperAddress}}&nbsp;</td>
                <td data-title="Shipper’s Contact Number">{{affected.ShipperContactNo}}&nbsp;</td>
                <td data-title="Consignee's Name">{{affected.ConsigneeName}}&nbsp;</td>
                <td data-title="Consignee's Address">{{affected.ConsigneeAddress}}&nbsp;</td>
                <td data-title="Consignee's Contact Number">{{affected.ConsigneeContactNo}}&nbsp;</td>
                <td data-title="Origin">{{affected.Origin}}&nbsp;</td>
                <td data-title="Destination">{{affected.Destination}}&nbsp;</td>
                <td data-title="Cargo Type">{{affected.CargoType}}&nbsp;/td>
                <td data-title="Advisory To Consignee">{{affected.AdvisoryToConsignee}}&nbsp;</td>
            </tr>
        </tbody>
    </table>
</responsive-table>