<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Flight Details</th>
                <th>POL</th>
                <th>POU</th>
                <th>AWB</th>
                <th>Manifest Pieces</th>
                <th>Manifest Weight</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="cargoes.length<=0">
                <td data-title="Records" colspan="6">No records to show.</td>
            </tr>
            <tr *ngFor="let affected of cargoes">
                <td data-title="Flight Details">{{affected.FlightDetails}}</td>
                <td data-title="POL">{{affected.POL}}</td>
                <td data-title="POU">{{affected.POU}}</td>
                <td data-title="AWB">{{affected.AWB}}</td>
                <td data-title="Manifest Pieces">{{affected.mftpcs}}</td>
                <td data-title="Manifest Weight">{{affected.mftwgt}}</td>
            </tr>
        </tbody>
    </table>
</responsive-table>