Call centre
<button class="btn btn-primary" type="button" (click)="save()">Save</button>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <input type="hidden" formControlName="EnquiryId" name="EnquiryId" />
    <div class="form-control">
        <label for="EnquiryType">Enquiry Type:<span class="red">*</span></label>
        <select id="selectenquiryType" class="form-control" [(ngModel)]="enquiry.EnquiryType"
            formControlName="EnquiryType">
                        <option *ngFor="let enquiryType of enquiryTypes" [value]="enquiryType.value">
                                {{enquiryType.text}}
                        </option>
                   </select>
    </div>

    <div class="form-control">
        <label for="CallerName">Caller Name:<span class="red">*</span></label>
        <input id="CallerName" type="text" formControlName="CallerName" style="width: 89%;" placeholder="Enter Caller Name" required autofocus />
</div>

<div class="form-control">
    <label for="ContactNo">Contact No:<span class="red">*</span></label>
    <input id="ContactNo" type="text" style="width: 89%;" formControlName="ContactNumber" placeholder="Enter Contact No" required autofocus />
</div>

<div class="form-control">
    <label for="AlterNateContactNo">Alt Contact No:<span class="red">*</span></label>
    <input id="AlterNateContactNo" type="text" style="width: 89%;" formControlName="AlternateContactNumber" placeholder="Enter AlterNate Contact No" required autofocus />

</div>
<div [hidden]="enquiry.EnquiryType!=1">
    <label for="Passengers">PDA Name:<span class="red">*</span></label>
    <autocomplete [items]="passengers" (notify)='onNotifyPassenger($event)'></autocomplete>
</div>
<div [hidden]="enquiry.EnquiryType!=5">
        <label for="Passengers">PDA Name:<span class="red">*</span></label>
    <autocomplete [items]="crews" (notify)='onNotifyCrew($event)'></autocomplete>
    </div>
<div [hidden]="enquiry.EnquiryType!=2">
    <label for="awb">AWB:<span class="red">*</span></label>
    <autocomplete [items]="awbs" (notify)='onNotifyCargo($event)'></autocomplete>
</div>
  
  <div class="form-control" [hidden]="enquiry.EnquiryType!=1  && enquiry.EnquiryType!=2 && enquiry.EnquiryType!=5">
    <label for="Relationship">Relationship:<span class="red">*</span></label>
    <input id="Relationship" type="text" formControlName="Relationship" style="width: 89%;" placeholder="Enter Relationship" required autofocus />
</div>

<div class="form-control">
    <label for="DiscussionNote">Discussion Note:<span class="red">*</span></label>
    <input id="DiscussionNote" type="text" formControlName="Queries" style="width: 89%;" placeholder="Enter Discussion Note" required autofocus />
</div>
 <div class="col-sm-3">
            <label for="Callback">Callbcak:</label>
            <md-checkbox class="Marght" id="IsCallBack" formControlName="IsCallBack" aria-label="Add">
            </md-checkbox>
        </div>
         <div class="col-sm-3">
            <label for="TravelRequest">Travel Request:</label>
            <md-checkbox class="Marght" id="IsTravelRequest" formControlName="IsTravelRequest" aria-label="Add">
            </md-checkbox>
        </div>
         <div class="col-sm-3">
            <label for="AdminRequest">Admin Request:</label>
            <md-checkbox class="Marght" id="IsAdminRequest" formControlName="IsAdminRequest" aria-label="Add">
            </md-checkbox>
        </div>
</form>