<div>
    <h3>Department Functionality</h3>
    <autocomplete [items]="items" (notify)='onNotify($event)'></autocomplete>

    <button class="btn btn-primary" type="button" (click)="save()">Save</button>
    <div class="row" *ngFor="let pageFordepartment of pagesForDepartment">
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Page Name:</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{pageFordepartment.PageName}}</li>
            </ul>
        </div>
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Can View.</i></strong></li>
                <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="pageFordepartment.AllowView" aria-label="Add">
                </md-checkbox>
            </ul>
        </div>
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Only HOD.</i></strong></li>
                <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="pageFordepartment.OnlyForHod" aria-label="Add">
                </md-checkbox>
            </ul>
        </div>
    </div>
</div>