<form [formGroup]="form">
    <div class="card">
        <div class="card-header">
            <strong>Manifest Data Upload</strong>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-12">
                    <responsive-table>
                        <table responsive-table-body>
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Select File</th>
                                    <th>Download Templates</th>
                                    <th>View Records</th>
                                    <th>View Invalid Records</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="File Name">PDA Manifest</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFilePax id="file" formControlName="filePax" (change)="getFileDetails($event,'Passenger')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{passengerTemplatePath}}" download="Passengers.xlsx">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;PDA Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openPassenger()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Passenger Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidPax()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Passenger Records
                                        </a>
                                    </td>
                                </tr>

                                <tr *ngIf="currentOrganizationCode == 'PAL'">
                                    <td data-title="File Name">Crew Manifest</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileCrewManifestPAL id="file" formControlName="fileCrewManifestPAL" (change)="getFileDetails($event,'Crew')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{crewManifestPathPAL}}">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Crew Manifest Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openCrew()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Crew Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidCrew()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Crew Records
                                        </a>
                                    </td>
                                </tr>

                                <tr *ngIf="currentOrganizationCode == 'PAL EX'">
                                    <td data-title="File Name">Crew Manifest</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileCrewManifestPALEx id="file" formControlName="fileCrewManifestPALEx" (change)="getFileDetails($event,'Crew')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{crewManifestPathPALEx}}">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Crew Manifest Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openCrew()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Crew Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidCrew()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Crew Records
                                        </a>
                                    </td>
                                </tr>

                                <tr *ngIf="currentOrganizationCode == 'PAL'">
                                    <td data-title="File Name">Crew Training Record</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileCrewTrainingPAL id="file" formControlName="fileCrewTrainingPAL" (change)="getFileDetails($event,'Crew')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{crewTrainingPAL}}">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Crew Training Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openCrew()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Crew Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidCrew()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Crew Records
                                        </a>
                                    </td>
                                </tr>

                                <tr *ngIf="currentOrganizationCode == 'PAL EX'">
                                    <td data-title="File Name">Crew Training Record(Air Crew)</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileCrewTrainingPALExAir id="file" formControlName="fileCrewTrainingPALExAir" (change)="getFileDetails($event,'Crew')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{crewTrainingPALExAir}}">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Crew Training Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openCrew()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Crew Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidCrew()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Crew Records
                                        </a>
                                    </td>
                                </tr>

                                <tr *ngIf="currentOrganizationCode == 'PAL EX'">
                                    <td data-title="File Name">Crew Training Record(Cabin Crew)</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileCrewTrainingPALExCabin id="file" formControlName="fileCrewTrainingPALExCabin" (change)="getFileDetails($event,'Crew')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{crewTrainingPALExCabin}}">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Crew Training Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openCrew()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Crew Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidCrew()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Crew Records
                                        </a>
                                    </td>
                                </tr>

                                <tr *ngIf="currentOrganizationCode == 'PAL'">
                                    <td data-title="File Name">Cargo Manifest</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileCargo id="file" formControlName="fileCargo" (change)="getFileDetails($event,'Cargo')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{cargoTemplatePathPAL}}">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Cargo Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openCargo()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Cargo Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidCargo()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Cargo Records
                                        </a>
                                    </td>
                                </tr>

                                <tr *ngIf="currentOrganizationCode == 'PAL EX'">
                                    <td data-title="File Name">Cargo Manifest</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileCargoPALEx id="file" formControlName="fileCargoPALEx" (change)="getFileDetails($event,'Cargo')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{CargoTemplatePathPALEx}}">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Cargo Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openCargo()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Cargo Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidCargo()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Cargo Records
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td data-title="File Name">Ground Victim Manifest</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileGroundVictim id="file" formControlName="fileGroundVictim" (change)="getFileDetails($event,'GroundVictim')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a target="_self" href="{{groundVictimTemplatePath}}" download="GroundVictim.xlsx">
                                            <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Ground Victim Template
                                        </a>
                                    </td>
                                    <td data-title="View Records">
                                        <a href="javascript: void(0)" (click)="openGroundVictims()">
                                            <i class="fa fa-file-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Valid Ground Victim Records
                                        </a>
                                    </td>
                                    <td data-title="View Invalid Records">
                                        <a href="javascript: void(0)" (click)="openInvalidGroundVictims()">
                                            <i class="fa fa-file fa-fw fa-lg" aria-hidden="true"></i>&nbsp;Invalid Ground Victim Records
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td data-title="File Name">Load Sheet Document</td>
                                    <td data-title="Select File">
                                        <input type="file" #inputFileLoadSheet id="file" (change)="getLoadSheetFileDetails($event,'LoadSheet')" />
                                    </td>
                                    <td data-title="Download Templates">
                                        <a *ngIf="currentLoadSheetAvailable" target="_self" href="{{loadSheetPath}}">
                                            <i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp;Download Loadsheet Document 
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </responsive-table>
                </div>
                <div class="col-12">
                    <br />
                    <button class="btn btn-primary" type="submit" (click)="uploadFiles()" [disabled] = "disableUploadButton">Upload</button>
                    <!--<button class="btn btn-warning" type="button">Back To DashBoard</button>-->
                    
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <br />
                            <strong>Important instructions for filling out the excel templates:</strong>
                        </div>
                        <div class="col-12">
                            <strong>Donts:</strong>
                        </div>
                        <div class="col-12">
                            <ol>
                                <li>Do not add or remove any column in the excel files.</li>
                                <li>Do not keep any empty columns.</li>
                                <li>Do not rearrange any column in the excel files.</li>
                                <li>Do not save the files on any empty cells.</li>
                                <li>Do not enter invalid data in any of the columns (invalid data e.g-date fields can not have
                                    words written in them)</li>
                                <li>Do not upload wrong excels for wrong manifest (e.g- PDA excel should be uploaded only for
                                    PDA Manifest)</li>
                            </ol>
                        </div>
                        <div class="col-12">
                            <strong>Dos:</strong>
                        </div>
                        <div class="col-12">
                            <ol>
                                <li>Click on "Download Templates" to download templates of respective operational data.</li>
                                <li>Fill out all the columns in the excel file(s) being uploaded.</li>
                                <!-- <li>Enter the same flight number in the excels for which the Crisis has been initiated.</li> -->
                                <!-- <li>Format of the "Flight Number" column should be "Text"</li> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div bsModal #validPassengersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Valid Passenger</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closePassenger()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <validPassengers-list [IncidentId]="IncidentId"></validPassengers-list>
            </div>
        </div>
    </div>
</div>

<div bsModal #validCargoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Valid Cargo</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeCargo()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <validCargo-list [IncidentId]="IncidentId"></validCargo-list>
            </div>
        </div>
    </div>
</div>

<div bsModal #validCrewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Valid Crew</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeCrew()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <validCrew-list [IncidentId]="IncidentId"></validCrew-list>
            </div>
        </div>
    </div>
</div>

<div bsModal #invalidCrewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Invalid Crew</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeInvalidCrew()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <invalidCrew-list [IncidentId]="IncidentId"></invalidCrew-list>
            </div>
        </div>
    </div>
</div>

<div bsModal #invalidPassengersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Invalid Passenger</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeInvalidPax()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <invalidPassengers-list [IncidentId]="IncidentId"></invalidPassengers-list>
            </div>
        </div>
    </div>
</div>

<div bsModal #invalidCargoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Invalid Cargo</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeInvalidCargo()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <invalidCargo-list [IncidentId]="IncidentId"></invalidCargo-list>
            </div>
        </div>
    </div>
</div>

<div bsModal #validGroundVictimModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Valid Ground Victims</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeGroundVictim()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <validGroundVictim-list [IncidentId]="IncidentId"></validGroundVictim-list>
            </div>
        </div>
    </div>
</div>

<div bsModal #invalidGroundVictimModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Invalid Ground Victims</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeInvalidGroundVictim()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <invalidGroundVictim-list [IncidentId]="IncidentId"></invalidGroundVictim-list>
            </div>
        </div>
    </div>
</div>
