@import '../../config/config';
.col-no-left-padding {
    padding-left: 0 !important;
}

.col-no-right-padding {
    padding-right: 0 !important;
}

.row-no-padding>[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.labelStyle {
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.entryHolder {
    background: $entryholder-background;
    padding: 15px;
    border: $entryholder-color solid 1px;
    float: left; // margin: 15px 23px;
    @media screen and (max-width: $resMD-S) {
        margin: 15px 1.5%;
    }
}

.heightFix {
    height: 121px;
}

// .addbuttonHolder {
//     padding: 5px 15px;
//     float: right;
// }
// .formStyle{
//     width : 97%;
// }
// .buttonholder {
//     float: right;
//     vertical-align: middle;
//     padding-top: 27px;
// }
// .butt-des {
//     text-align: right;
//     padding-bottom: 8px
// }