<div class="card card-without-top-border">
    <div class="card-header">
        <strong>Configuration</strong>
    </div>
    <div class="card-block">
        <form [formGroup]="generalform">
            <div class="row">
                <div class="form-group col-lg-2 col-sm-5 col-md-4">
                    <label for="Spiel">Config Parameter:<span class="required">*</span></label>
                    <select id="SpielType" class="form-control" formControlName="SpielType" name="SpielType" (change)="keyvalueChange($event.target,$event.target.value,activeKeyValues)">
                        <option value=''>Select Parameter</option>
                        <option *ngFor="let keyValue of activeKeyValues" [attr.ControlType]="keyValue.ControlType" [value]="keyValue.Key" >
                            {{keyValue.Description}}
                        </option>
                    </select>
                    <small *ngIf="!generalform.controls.SpielType.valid && submitted" class="text-danger">
                        Required.
                </small>
                </div>
            </div>
            <div *ngIf="isTextbox || isDropdown || isTextArea" class="row">
                <div class="form-group col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <label for="Spiel">Config Parameter Value:<span class="required">*</span></label>
                    <input *ngIf="isTextbox" type="text" formControlName="SpielText" name="SpielText" />
                    <select *ngIf="isDropdown" class="form-control" formControlName="SpielText" name="SpielText">
                        <option value=''>Select Department</option>
                        <option *ngFor="let department of activeDepartments" [value]="department.DepartmentId" >
                            {{department.Description}}
                        </option>
                    </select>
                    <textarea *ngIf="isTextArea" id="SpielText" class="form-control" formControlName="SpielText" name="SpielText" rows="4" cols="120">
                    </textarea>
                    <small *ngIf="!generalform.controls.SpielText.valid && submitted" class="text-danger">
                        Required.
                </small>
                </div>
            </div>
            <div *ngIf="isTextbox || isDropdown || isTextArea" class="row">
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <div class="formtype">
                        <button class="btn btn-primary" type="button" (click)="spielSave()">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>