<span class="validationAlert" *ngIf="!(isShowPage | accesibility:currentDepartmentId:'CallCenter')">{{accessibilityErrorMessage}}</span>

<div *ngIf="isShowPage | accesibility:currentDepartmentId:'CallCenter'" class="card card-without-top-border noBorder">
    <div class="card-header">
        <strong>Call center only page</strong>
    </div>
    <div class="card-block">
        <form [formGroup]="generalform">
            <div class="row">
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="CallerFirstName">Caller First Name<span class="required">*</span></label>
                    <input id="CallerFirstName" class="form-control" type="text" name="CallerFirstName" formControlName="CallerFirstName" placeholder="Enter Caller First Name"
                    />
                    <small *ngIf="!generalform.controls.CallerFirstName.valid  && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="CallerLastName">Caller Last Name<span class="required">*</span></label>
                    <input id="CallerLastName" class="form-control" type="text" name="CallerLastName" formControlName="CallerLastName" placeholder="Enter Caller Last Name"
                    />
                    <small *ngIf="!generalform.controls.CallerLastName.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="ContactNumber">Contact Number<span class="required">*</span></label>
                    <input id="ContactNumber" class="form-control" type="text" name="ContactNumber" formControlName="ContactNumber" placeholder="Enter Contact Number"
                    />
                    <small *ngIf="!generalform.controls.ContactNumber.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="AlternateContactNumber">Alternate Number</label>
                    <input id="AlternateContactNumber" class="form-control" type="text" name="AlternateContactNumber" formControlName="AlternateContactNumber"
                        placeholder="Enter Alternate Contact Number" />
                    <!--<small *ngIf="!generalform.controls.AlternateContactNumber.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>-->
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="Relationship">Relationship</label>
                    <input id="Relationship" class="form-control" type="text" name="Relationship" formControlName="Relationship" placeholder="Enter Relationship"
                    />
                    <!--<small *ngIf="!generalform.controls.Relationship.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>-->
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="EnquiryType">Enquiry Type<span class="required">*</span></label>
                    <select id="EnquiryType" class="form-control" formControlName="EnquiryType" name="EnquiryType" (change)="enquiryChanged()">
                                    <option value='' >Select Enquiry Type</option>
                                    <option *ngFor="let enquiry of enquirytypes" [value]="enquiry.value" >
                                        {{enquiry.text}}
                                    </option>
                            </select>
                    <small *ngIf="!generalform.controls.EnquiryType.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
            </div>

        </form>
        <form [formGroup]="pdacrewform">
            <div class="row" [hidden]="enquiryType!=1 && enquiryType!=3">
                <div class="form-group col-lg-2 col-sm-6 col-md-4" [hidden]="enquiryType!=1 && enquiryType!=3">
                    <label for="FirstName">PDA First Name<span class="required">*</span></label>
                    <input id="FirstName" class="form-control" type="text" name="FirstName" formControlName="FirstName" placeholder="Enter First Name"
                    />
                    <small *ngIf="!pdacrewform.controls.FirstName.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="LastName">PDA Last Name<span class="required">*</span></label>
                    <input id="LastName" class="form-control" type="text" name="LastName" formControlName="LastName" placeholder="Enter Last Name"
                    />
                    <small *ngIf="!pdacrewform.controls.LastName.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md4">
                    <label for="Nationality">Nationality<span class="required">*</span></label>
                    <input id="Nationality" class="form-control" type="text" name="Nationality" formControlName="Nationality" placeholder="Enter Nationality"
                    />
                    <small *ngIf="!pdacrewform.controls.Nationality.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>

                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="Age">Age<span class="required">*</span></label>
                    <input id="Age" class="form-control" type="text" name="Age" formControlName="Age" placeholder="Enter Age" />
                    <small *ngIf="!pdacrewform.controls.Age.valid && isSubmitted" class="text-danger">
                            Required or Invalid.
                            </small>
                </div>
                <div class="form-group col-lg-4 col-sm-12 col-md-8">
                    <label for="PermanentAddress">Permanent Address<span class="required">*</span></label>
                    <input id="PermanentAddress" class="form-control" type="text" name="PermanentAddress" formControlName="PermanentAddress"
                        placeholder="Enter Permanent Address" />
                    <small *ngIf="!pdacrewform.controls.PermanentAddress.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>

            </div>
            <div class="row" [hidden]="enquiryType!=1 && enquiryType!=3">
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="FlightNumber">Flight Number<span class="required">*</span></label>
                    <input id="FlightNumber" class="form-control" type="text" name="FlightNumber" formControlName="FlightNumber" placeholder="Enter Flight Number"
                    />
                    <small *ngIf="!pdacrewform.controls.FlightNumber.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="DepartedFrom">Departed From<span class="required">*</span></label>
                    <input id="DepartedFrom" class="form-control" type="text" name="DepartedFrom" formControlName="DepartedFrom" placeholder="Enter Departed From"
                    />
                    <small *ngIf="!pdacrewform.controls.DepartedFrom.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>

                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="TravellingTo">Travelling To<span class="required">*</span></label>
                    <input id="TravellingTo" class="form-control" type="text" name="TravellingTo" formControlName="TravellingTo" placeholder="Enter Travelling To"
                    />
                    <small *ngIf="!pdacrewform.controls.TravellingTo.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4" [hidden]="enquiryType!=1 && enquiryType!=3">
                    <label for="FinalDestination">Final Destination<span class="required">*</span></label>
                    <input id="FinalDestination" class="form-control" type="text" name="Age" formControlName="FinalDestination" placeholder="Enter Final Destination"
                    />
                    <small *ngIf="!pdacrewform.controls.FinalDestination.valid && isSubmitted" class="text-danger">
                            Required or Invalid.
                            </small>
                </div>
                <div class="form-group col-lg-4 col-sm-12 col-md-8">
                    <label for="EnquiryReason">Enquiry Reason<span class="required">*</span></label>
                    <input id="EnquiryReason" class="form-control" type="text" name="EnquiryReason" formControlName="EnquiryReason" placeholder="Enter Enquiry Reason"
                    />
                    <small *ngIf="!pdacrewform.controls.FlightNumber.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
            </div>
            <div class="row" [hidden]="enquiryType!=1 && enquiryType!=3">



            </div>
            <div class="row" [hidden]="enquiryType!=1 && enquiryType!=3">
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="KINFirstName">KIN First Name</label>
                    <input id="KINFirstName" class="form-control" type="text" name="KINFirstName" formControlName="KINFirstName" placeholder="Enter KIN First Name"
                    />
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="KINLastName">KIN Last Name</label>
                    <input id="KINLastName" class="form-control" type="text" name="KINLastName" formControlName="KINLastName" placeholder="Enter KIN Last Name"
                    />
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="KINContactNumber">KIN Contact Number</label>
                    <input id="KINContactNumber" class="form-control" type="text" name="KINContactNumber" formControlName="KINContactNumber"
                        placeholder="Enter KIN Contact Number" />
                </div>
                <div class="form-group col-lg-2 col-sm-6 col-md-4">
                    <label for="KINRelationShip">KIN Relationship</label>
                    <input id="KINRelationShip" class="form-control" type="text" name="KINRelationShip" formControlName="KINRelationShip" placeholder="Enter KIN Relationship"
                    />
                </div>
                <div class="form-group col-lg-4 col-sm-12 col-md-8">
                    <label for="TravellingWith">Travelling With</label>
                    <input id="TravellingWith" class="form-control" type="text" name="TravellingWith" formControlName="TravellingWith" placeholder="Enter Travelling With"
                    />
                </div>
                <!--<small *ngIf="!pdacrewform.controls.KINContactNumber.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>-->
            </div>
            <div class="row" [hidden]="enquiryType!=1 && enquiryType!=3">

                <div class="form-group col-lg-4 col-sm-12 col-md-8">
                    <label for="Query">Query<span class="required">*</span></label>
                    <input id="Query" class="form-control" type="text" name="Query" formControlName="Query" placeholder="Enter Query" />
                    <small *ngIf="!pdacrewform.controls.Query.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="col-lg-8 col-sm-12 col-md-4">
                    <div class="formtype">
                        <button class="btn btn-primary" type="button" (click)="save()">Submit</button>
                        <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>

        </form>
        <form [formGroup]="cargoform">
            <div class="row" [hidden]=" enquiryType!=2">
                <div class="form-group col-lg-3 col-sm-12 col-md-6">
                    <label for="ShippersName">Shipper's Name<span class="required">*</span></label>
                    <input id="ShippersName" class="form-control" type="text" name="ShippersName" formControlName="ShippersName" placeholder="Enter Shipper's Name"
                    />
                    <small *ngIf="!cargoform.controls.ShippersName.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-3 col-sm-12 col-md-6">
                    <label for="ShippersAddress">Shipper's Address<span class="required">*</span></label>
                    <input id="ShippersAddress" class="form-control" type="text" name="ShippersAddress" formControlName="ShippersAddress" placeholder="Enter Shipper's Address"
                    />
                    <small *ngIf="!cargoform.controls.ShippersAddress.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-3 col-sm-12 col-md-6">
                    <label for="ShippersContactNumber">Shipper's Contact Number<span class="required">*</span></label>
                    <input id="ShippersContactNumber" class="form-control" type="text" name="ShippersContactNumber" formControlName="ShippersContactNumber"
                        placeholder="Enter Shipper's Contact Number" />
                    <small *ngIf="!cargoform.controls.ShippersContactNumber.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-3 col-sm-12 col-md-6">
                    <label for="EnquiryReason">Enquiry Reason<span class="required">*</span></label>
                    <input id="EnquiryReason" class="form-control" type="text" name="EnquiryReason" formControlName="EnquiryReason" placeholder="Enter Enquiry Reason"
                    />
                    <small *ngIf="!cargoform.controls.EnquiryReason.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
            </div>
            <div class="row" [hidden]=" enquiryType!=2">
                <div class="form-group col-lg-3 col-sm-12 col-md-6">
                    <label for="ConsigneesName">Consignee's Name<span class="required">*</span></label>
                    <input id="ConsigneesName" class="form-control" type="text" name="ConsigneesName" formControlName="ConsigneesName" placeholder="Enter Consignee's Name"
                    />
                    <small *ngIf="!cargoform.controls.ConsigneesName.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-3 col-sm-12 col-md-6">
                    <label for="ConsigneesAddress">Consignee's Address<span class="required">*</span></label>
                    <input id="ConsigneesAddress" class="form-control" type="text" name="ConsigneesAddress" formControlName="ConsigneesAddress"
                        placeholder="Enter Consignee's Address" />
                    <small *ngIf="!cargoform.controls.ConsigneesAddress.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-3 col-sm-12 col-md-6">
                    <label for="ConsigneesContactNumber">Consignee's Contact Number<span class="required">*</span></label>
                    <input id="ConsigneesContactNumber" class="form-control" type="text" name="ConsigneesContactNumber" formControlName="ConsigneesContactNumber"
                        placeholder="Enter Consignee's Contact Number" />
                    <small *ngIf="!cargoform.controls.ConsigneesContactNumber.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>

                <div class="form-group col-lg-3 col-sm-12 col-md-6">
                    <label for="Query">Query<span class="required">*</span></label>
                    <input id="Query" class="form-control" type="text" name="Query" formControlName="Query" placeholder="Enter Query" />
                    <small *ngIf="!cargoform.controls.Query.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
            </div>
        </form>
        <form [formGroup]="otherform">
            <div class="row" [hidden]="enquiryType<4">
                <div class="form-group col-lg-4 col-sm-12 col-md-6">
                    <label for="source" [hidden]="enquiryType==4">Source<span class="required">*</span></label>
                    <label for="source" [hidden]="enquiryType!=4">Media Name<span class="required">*</span></label>
                    <input id="source" class="form-control" type="text" name="source" formControlName="source" placeholder="Enter Source" />
                    <small *ngIf="!otherform.controls.source.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="form-group col-lg-4 col-sm-12 col-md-6">
                    <label for="Query">Query<span class="required">*</span></label>
                    <input id="Query" class="form-control" type="text" name="Query" formControlName="Query" placeholder="Enter Query" />
                    <small *ngIf="!otherform.controls.Query.valid && isSubmitted" class="text-danger">
                            Required.
                            </small>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6">
                    <div class="formtype">
                        <button class="btn btn-primary" type="button" (click)="save()">Submit</button>
                        <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <div [hidden]="enquiryType!=0 && enquiryType!=2">
            <div class="col-lg-12 col-sm-12 col-md-4">
                <div class="formtype">
                    <button class="btn btn-primary" type="button" (click)="save()">Submit</button>
                    <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="form-group col-lg-6 col-sm-12 col-md-6">
                    <label for="EnglishSpielText">Spiel (English)</label>
                    <p>{{speilEnglish}}</p>
                </div>
                <div class="form-group col-lg-6 col-sm-12 col-md-6">
                    <label for="TagalogSpielText">Spiel (Tagalog)</label>
                    <p>{{speilTagalog}}</p>
                </div>
            </div>
        </div>
    </div>
</div>