<li [title]="menuItem.title" [ngClass]="{'active': menuItem.selected}" (click)="onToggleMenu($event, menuItem)" (mouseenter)="onHoverItem($event)">
	<ng-container *ngIf="menuItem.command === undefined">
		<a [routerLink]="menuItem.route.paths">
			<span class="menu-icon">
      			<i *ngIf="menuItem.icon" class="{{ menuItem.icon }}" aria-hidden="true"></i>
    		</span>
			<span class="menu-text">{{ menuItem.title }}</span>
		</a>
	</ng-container>
	<ng-container *ngIf="menuItem.command !== undefined">
		<a href="javascript:void(0);" (click)="onMenuClick(menuItem.command)">
			<span class="menu-icon">
				<i *ngIf="menuItem.icon" class="{{ menuItem.icon }}" aria-hidden="true"></i>
			</span>
			<span class="menu-text">{{ menuItem.title }}</span>
		</a>
	</ng-container>
</li>