<div class="card">
        <div class="card-content">
            <div class="card-block">
                <responsive-table>
                    <table responsive-table-body>
                        <thead>
                            <tr>
                                <th>Ground Victim Type</th>
                                <th>Victim Name</th>
                                <th>Affected Count</th>
                                <th>Status</th>
                                <th>NOK Name</th>
                                <th>NOK Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!(groundVictimList | async)?.length>0">
                                <td data-title="Records" colspan="6">No ground victim to show.</td>
                            </tr>
                            <tr *ngFor="let affected of groundVictimList | async">
                                <td data-title="Ground Victim Type">{{affected.GroundVictimType}}</td>
                                <td data-title="Victim Name">{{affected.GroundVictimName}}</td>
                                <td data-title="Affected Count">{{affected.AffectedCount}}</td>
                                <td data-title="Status">{{affected.Status}}</td>
                                <td data-title="NOK Name">{{affected.NOKName}}</td>
                                <td data-title="NOK Contact Number">{{affected.NOKContactNumber}}</td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
                <!--<div class="pull-right">
                    <button type="submit" class="pull-right btn btn-primary" aria-label="Close" (click)="hideAllCrews()">Close</button>
                </div>-->
            </div>

        </div>

    </div>