<div class="row ui-section">
    <div class="col-md-12"> 
        <div class="panel-body WidthHun">
            <table class="table footable default">
                <thead>
                    <tr>
                        <th>Emergency Type Name</th>
                        <th>Emergency Category</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emergencyType of emergencyTypes">
                        <td>{{emergencyType.EmergencyTypeName}}</td>
                        <td>{{emergencyType.EmergencyCategory}}</td>
                        <td> <input type="checkbox" [checked]="emergencyType.ActiveFlag==='Active'" name="Status" /> </td>
                        <td><button class="btn btn-warning" type="button"  (click)="UpdateEmergencyType(emergencyType)">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>