<generic-search [filterConfigs] = "searchConfigs" 
        (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();"></generic-search>

<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Emergency Type Name</th>
                <th>Emergency Category</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="emergencyTypes.length != 0">
                <td colspan="6">No records found.</td>
            </tr>
            <tr *ngFor="let emergencyType of emergencyTypes">
                <td data-title="Emergency Type Name">{{emergencyType.EmergencyTypeName}}</td>
                <td data-title="Emergency Category">{{emergencyType.EmergencyCategory == 'FlightRelated' ? 'Flight Related': 'Non Flight Related'}}</td>
                <td data-title="Active">
                    <md-checkbox class="Marght" id="IsActive" name="IsActive" [ngModel]="emergencyType.Active"  aria-label="ActiveFlag" (change)="IsActive($event,emergencyType)">
                    </md-checkbox>
                </td>
                <td data-title="Action">
                    <i class="fa fa-edit fa-2x" (click)="UpdateEmergencyType(emergencyType)"></i>
                </td>
            </tr>

        </tbody>
    </table>
</responsive-table>

