@import '../../config/config';

.halfBoxStyle{
        width: 49.5%;
    padding-left: 14px;
}
.entryHolder{
    background: $entryholder-background;
    padding: 15px;
    border: $entryholder-color solid 1px;
    float: left;
    margin: 15px 23px;
    @media screen and (max-width: $resMD-S){
margin: 15px 1.5%;
}
}

.formStyle{
    width : 97%;
}

.buttonholder{
        float: right;
    vertical-align: middle;
    padding-top: 27px;
}


.addbuttonHolder{
    padding: 5px 22px;
    float: right;
}

.btn-pos {
    margin-right:15px;
    margin-bottom:10px;
}

@media screen and (max-width: $resXS-E) {}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {
.btn-pos {
    margin-right:40px;
    margin-bottom:10px;
}
}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
.btn-pos {
    margin-right:15px;
    margin-bottom:10px;
}
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}

@media screen and (min-width: $resXL-S) {}