@import '../../config/config';
.halfBoxStyle {
    width: 49.5%;
    padding-left: 14px;
}

.entryHolder {
    background: $entryholder-background;
    padding: 15px;
    border: $entryholder-color solid 1px;
    float: left; // margin: 15px 23px;
    @media screen and (max-width: $resMD-S) {
        margin: 15px 1.5%;
    }
}

.btn-pos {
    margin-right: 15px;
    margin-bottom: 10px;
}

.checkbox-bottom-align {
    margin-top: 24px;
}

.non-frozen {
    background-color: #ffffff !important;
    position: relative !important;
    padding: 5px !important;
}

@mixin fixed-column {
    .fixed-column-container {
        overflow-x: hidden;
        margin-left: 622px;
    }
    table.fixed-column {
        th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 207px !important;
            max-width: 207px !important;
        }
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 207px !important;
            max-width: 207px !important;
            height: 67px !important;
        }
        thead th {
            &:nth-child(1) {
                background-color: #f9f09e;
                border-top: 1px solid #c1b971 !important;
                border-left: 1px solid #c1b971 !important;
                margin-top: -1px;
                position: absolute;
                left: 10px;
            }
            &:nth-child(2) {
                background-color: #f9f09e;
                border-top: 1px solid #c1b971 !important;
                margin-top: -1px;
                position: absolute;
                left: 217px;
            }
            &:nth-child(3) {
                background-color: #f9f09e;
                border-top: 1px solid #c1b971 !important;
                margin-top: -1px;
                position: absolute;
                left: 424px;
            }
        }
        >tbody>tr>td {
            &:nth-child(1) {
                text-overflow: ellipsis;
                background-color: #f3eec0;
                border-left: 1px solid #c1b971 !important;
                position: absolute;
                padding: 23px 5px 0 5px;
                margin-top: 1px;
                left: 10px;
            }
            &:nth-child(2) {
                text-overflow: ellipsis;
                background-color: #f3eec0;
                position: absolute;
                padding: 23px 5px 0 5px;
                margin-top: 1px;
                left: 217px;
            }
            &:nth-child(3) {
                text-overflow: ellipsis;
                background-color: #f3eec0;
                position: absolute;
                padding: 23px 5px 0 5px;
                margin-top: 1px;
                left: 424px;
            }
        }
    }
}

@media screen and (max-width: $resXXS-S) {
    .btn-pos {
        margin-right: 6px;
        margin-bottom: 10px;
    }
    .btn {
        padding: 5px 8px !important;
        font-size: 12px;
    }
}

@media screen and (max-width: $resXS-E) {
    .butt-align {
        margin-top: 5px;
    }
    .butt-des {
        margin-top: 5px;
    }
    .checkbox-bottom-align {
        margin-top: 0;
    }
}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {
    .btn-pos {
        margin-right: 40px;
        margin-bottom: 10px;
    }
    .checkbox-bottom-align {
        margin-top: 0;
    }
}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    .btn-pos {
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .butt-align {
        padding-left: 76px;
    }
    .checkbox-bottom-align {
        margin-top: 0;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {
    .butt-align {
        margin-left: 0px;
        margin-top: 1px;
    }
    .butt-des {
        margin-top: 6px;
    }
    @include fixed-column;
}

@media screen and (min-width: $resXL-S) {
    @include fixed-column;
}