@import '../../config/config';
.download-icon > i {
    font-size: 18px;
    padding-left: 25px;
}

.widget-layout-fix-archive {
    padding-right: 0;
    padding-top: 15px;
}

.no-gutters-archive {
    padding-right: 0;
    padding-left: 15px;
}

.no-gutters-archive-left {
    padding-left: 0;
}

.no-gutters-archive-panelfirst {
    margin-top:0;
}

.widget-layout-fix-halign {
    display:flex;
}

@media screen and (max-width: $resXS-E) {
.widget-layout-fix-archive {
    padding-top: 0px;
    padding-right: 7px;
    padding-left: 9px;
}

.no-gutters-archive {
    padding-right: 0;
    padding-left: 0;
}

.no-gutters-archive-panelfirst {
    margin-top:15px;
}

.widget-layout-fix-halign {
    display:block;
}

.upload-padding {
        padding: 10px 15px !important;
}

.report_widget-container-device {
    height:135px !important;
}
.upload-padding-device {
    padding: 0 9px;
}
}
@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
.no-gutters-archive {
    padding-right: 0;
    padding-left: 15px;
}

.no-gutters-archive-first {
    padding-left: 0 !important;
}

.widget-layout-fix-archive {
    padding-right: 15px;
    padding-top: 15px;
}
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}

@media screen and (min-width: $resXL-S) {}