@import '../../config/config';

.container-fluid{ background: #efefef; padding:0;
    
}
login-root{    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0073cc+0,4a97d6+50,9cc4e2+100 */
background: #0073cc; /* Old browsers */
background: -moz-linear-gradient(top,  #0073cc 0%, #4a97d6 50%, #9cc4e2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0073cc 0%,#4a97d6 50%,#9cc4e2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0073cc 0%,#4a97d6 50%,#9cc4e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073cc', endColorstr='#9cc4e2',GradientType=0 ); /* IE6-9 */

    background-size: cover;
    display: block;
    float: left;
    width: 100%;     position: fixed;
    height: 100%;}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

forgot-password .Absolute-Center.is-Responsive {
    height: 70%
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 500px;
    min-width: 200px;
    max-width: 400px;
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 9px 5px rgba(0, 0, 0, 0.38);
    .form-signin {
        margin: 5%;
        #inputEmail,
        #inputPassword {
            direction: ltr;
            height: 44px;
            font-size: 16px;
        }
        input[type=email],
        input[type=password],
        input[type=text],
        button {
            width: 100%;
            display: block;
            z-index: 1;
            position: relative;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        } 
        .btn {
            font-weight: 700;
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
        }
        .btn.btn-signin {
            background-color: rgb(104, 145, 162);
            padding: 0px;
            font-weight: 700;
            font-size: 14px;
            height: 36px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: none;
            -o-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -webkit-transition: all 0.218s;
            transition: all 0.218s;
        }
        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: rgb(12, 97, 33);
        }
        .forgot-password {
            color: rgb(104, 145, 162);
            font-size: 14px;
        }
        .forgot-password:hover,
        .forgot-password:active,
        .forgot-password:focus {
            color: rgb(12, 97, 33);
        }
    }
}

#logo-container {
    width: auto;
    height: 113px;
    margin: 22px auto 15px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 0;
    background: url(./assets/images/pal_logo.png) center center no-repeat;
}
.loginform{
    .form-control{      border: none;
    border-bottom: rgba(68, 68, 68, 0.56) solid 1px;
    background: none;
    color: #666;
    width: 100%;

    }
    label{ color:#666;}
    .input-group{ display:block;}
    
    .btn-block{border-radius: 30px;
    opacity: 1;
    color: #666;
    font-size: 16px;
    background: none;
    background-size: 15%;
    margin-top: 20px;
    height: 40px; }
}
.loginholder-container{     width: 18%;
    margin: 5% auto;
    position: relative;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #333;
@media screen and (max-width: $resLG-E){
width:45%;     margin-top: 9%;

}
@media screen and (max-width: $resMD-E){
width:65%;

}
@media screen and (max-width: $resSM-S){
width:75%;  margin-left: 11%;

}
}
.error_holder{    position: absolute;
    right: 27%;
    top: 48%;     width: 12%;
    @media screen and (max-width: $resLG-E){
right: 1%;
    top: 45%;

}
    @media screen and (max-width: $resMD-E){
    right: 40%;
    top: 50%;

}
    @media screen and (max-width: $resSM-S){
    right: 23%;
    top: 0;

}
    
    
    
    }
    .input-group-addon{    position: relative;
    float: right;
    margin-top: -35px;
    border: 0;
    z-index: 10;}
    .error_white{ background: #fff; padding: 10px; margin: 2px 0;}

@media screen and (max-width: $resXS-E) {}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}

@media screen and (min-width: $resXL-S) {}