@import '../../config/config';
.container-fluid {
    background: #efefef;
    padding: 0;
}

login-root {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0073cc+0,4a97d6+50,9cc4e2+100 */
    background-color: #1a82f7;
    background-image: url(images/linear_bg_1.png);
    background-repeat: repeat-y;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#c13a3a), to(#2d3d88));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #c13a3a, #2d3d88));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #c13a3a, #2d3d88));
    /* IE 10 */
    background: -ms-linear-gradient(left, #c13a3a, #2d3d88));
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #c13a3a, #2d3d88));
    background-size: cover;
    display: block;
    float: left;
    width: 100%;
    position: fixed;
    height: 100%;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

forgot-password .Absolute-Center.is-Responsive {
    height: 70%
}

.Absolute-Center.is-Responsive {
    width: 50%;
    height: 500px;
    min-width: 200px;
    max-width: 400px;
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 9px 5px rgba(0, 0, 0, 0.38);
    .form-signin {
        margin: 5%;
        #inputEmail,
        #inputPassword {
            direction: ltr;
            height: 44px;
            font-size: 16px;
        }
        input[type=email],
        input[type=password],
        input[type=text],
        button {
            width: 100%;
            display: block;
            z-index: 1;
            position: relative;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .btn {
            font-weight: 700;
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
        }
        .btn.btn-signin {
            background-color: rgb(104, 145, 162);
            padding: 0px;
            font-weight: 700;
            font-size: 14px;
            height: 36px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: none;
            -o-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -webkit-transition: all 0.218s;
            transition: all 0.218s;
        }
        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: rgb(12, 97, 33);
        }
        .forgot-password {
            color: rgb(104, 145, 162);
            font-size: 14px;
        }
        .forgot-password:hover,
        .forgot-password:active,
        .forgot-password:focus {
            color: rgb(12, 97, 33);
        }
    }
}

#logo-container {
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: url(./assets/images/pal_logo.png) #fff center center no-repeat;
    background-size: 83%;
    border-radius: 100px;
    @media screen and (max-width: $resLG-E) { 
            height: 110px; width: 110px;  background-size:82%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}
.loginform {
    a {
        color: #fff;
        font-size: 12px
    }
    .form-control {
        border: none;
        border-bottom: #fff solid 1px;
        background: none;
        color: #666;
        width: 100%;
        -webkit-text-fill-color: #ccc!important;
    }
    label {
        color: #fff;
    }
    .input-group {
        display: block;
    }
    .btn-block {
        border-radius: 0;
        opacity: 1;
        color: #fff;
        font-size: 14px;
        background: none;
        /* background-size: 15%; */
        margin-top: 20px;
        padding: 5px;
        border: #fff solid 1px; cursor: pointer;
    }
    .input-group-addon {
        position: relative;
        float: right;
        margin-top: -35px;
        color: #fff;
        border: 0;
        z-index: 10;
        background-color: transparent!important;
    }
}

.loginholder-container {
    width: 25%;
    margin: 5% auto;
    position: relative;
    overflow: auto;
    background: transparent;
    border-radius: 5px;
    @media screen and (max-width: $resLG-E) {
        width:45%;
        margin-top: 9%;
    }
    @media screen and (max-width: $resMD-E) {
        width: 65%;
    }
    @media screen and (max-width: $resSM-S) {
        width: 75%;
        margin-left: 11%;
    }
}

.error_holder {
    position: absolute;
    right: 24%;
    top: 48%;
    width: 12%;
    @media screen and (max-width: $resLG-E) {
        right: 1%;
        top: 45%;
    }
    @media screen and (max-width: $resMD-E) {
        right: 40%;
        top: 50%;
    }
    @media screen and (max-width: $resSM-S) {
        right: 23%;
        top: 0;
    }
}

.error_white {
    background: #fff;
    padding: 10px;
    margin: 2px 0;
}

.error-login{
    color:$login-error !important; font-weight: bold;
}

@media screen and (max-width: $resXS-E) {}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}

@media screen and (min-width: $resXL-S) {}