.margin-top-21px{
    margin-top: 11px;
}

.dilld{
    background: none;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
    width: 8%;
    text-align: center;
    padding: 3px 0;
    font-weight: bold;
}
.mod-head{
    font-size: 16px;
}