<div class="card card-without-top-border ">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                 <a class="nav-link" [routerLink]="['./receivedCalls']" routerLinkActive="active">Received Calls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./assignedcalls']" >Assigned Calls</a>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <router-outlet></router-outlet>
    </div>
</div>