@import '../../config/config';
.side-menu {
    background: $sidebar-bg;
    margin-left: -15px;
    width: 12%;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 41px;
    z-index: 99;
    ul {
        list-style-type: none;
        li {
            border-bottom: 1px solid $sidemenu-border;
            margin-bottom: 0;
            padding: 12px 10px;
            &.active {
                background-color: $sidemenu-active;
                &:after {
                    content: '';
                    width: 24px;
                    height: 24px;
                    background: $sidemenu-active-arrow;
                    position: absolute;
                    @include transform(rotate(45deg));
                    right: -15px;
                    border-right: $sidemenu-active-arrow solid 1px;
                    border-top: $sidemenu-active-arrow solid 1px;
                }
            }
            &:before {
                content: " ";
            }
            &:hover {
                background: $sidemenu-hover-bg;
                a {
                    color: $sidemenu-hover-text;
                }
            }
        }
    }
    a {
        color: $sidemenu-text;
        text-transform: uppercase;
        font-size: $font-size-mid-small;
        margin: 0;
        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
    .menu-icon {
        margin-right: 2px;
    }
}

.dock-menu {
    width: 3.6%;
    ul li {
        padding: 10px 11px;
        &.active:after {
            width: 20px;
            height: 20px;
        }
        span {
            &.menu-text {
                display: none;
            }
            &.menu-icon i {
                font-size: $font-size-above-normal;
            }
        }
    }
}

@media screen and (max-width: $resXS-E) {
    .side-menu {
        width: 40%;
        display: none;
    }
}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    .side-menu {
        width: 17%;
        top: 56px;
    }
    .dock-menu {
        width: 6.1% !important;
    }
    .dock-menu-enabled {
        padding-left: 5.5%;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {
    .side-menu {
        width: 15%;
        ul {
            list-style-type: none;
        }
    }
    .dock-menu {
        width: 4.6% !important;
    }
    .dock-menu-enabled {
        padding-left: 4.5%;
    }
}

@media screen and (min-width: $resXL-S) {
    .side-menu ul {
        list-style-type: none;
    }
    .dock-menu-enabled {
        padding-left: 3%;
    }
}