@import '../../config/config';
.prod-name {
    font-size: $font-size-large;
    margin-top: 6px;
    font-family: $font-family-prod;
    float: left;
    margin-right: 10px;
    line-height:20px;
}

.client-name {
    float: left;
    font-size: $font-size-small;
    padding-top: 14px;
    text-transform: uppercase;
}

.hambarger-menu {
    margin-top: 6px;
}

.login-name {
    font-size:13px;
}

@media screen and (max-width: $resXXS-S) {
    .branding {
        img {
                width: 32%;
                float: left;
            text-align: center;
            height: 44px;
        }
        .logo-align {
            text-align: center;
        }
        .prod-align {
            text-align: center;
            margin-bottom: 2px;
        }
    }
    .client-name,
    .prod-name {
        width: 100%;
        padding-top: 0;
    }
}

@media screen and (min-width: $resXS-S) and (max-width: $resXS-E) {
    .branding {
        img {
            width: 42%;
            text-align: center;
        }
        .logo-align {
            text-align: center;
        }
        .prod-align {
            text-align: center;
            margin-bottom: 2px;
        }
    }
    .client-name,
    .prod-name {
        width: 100%;
        padding-top: 0;
    }
}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {
    .branding {
        img {
            width: 45%;
            text-align: center;
        }
        .prod-align {
            text-align: center;
            margin-bottom: 2px;
        }
    }
}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    .branding {
        height: 55px !important;
        img {
            width: 78%;
            text-align: center;
            margin-top: 0px;
        }
        .prod-align {
            padding-left: 5px !important;
        }
    }
    .prod-name {
        margin-top: 9px;
    }
    .client-name {
        padding-top: 0;
    }
    .hambarger-menu {
        position: absolute;
        left: 11.5%;
        top: 5px;
        z-index: 99;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {
    .branding img {
        width: 114%;
        text-align: center;
        height: 45px;
        margin-top: 0px;
    }
    .hambarger-menu {
        position: absolute;
        left: 8.2%;
        top: 1px;
    }
}

@media screen and (min-width: $resXL-S) {
    .branding img {
        width: 95%;
        text-align: center;
    }
    .hambarger-menu {
        position: absolute;
        left: 7.2%;
        top: 1px;
    }
}