@import '../../config/config';

.card-without-top-border {
    border-top: none !important;
}

.trailButtonStyle {
    font-size:20px;
    color:$trail-green;
}

.modalBodyHeaderStyle {
    background-color: #ccc;
    padding: 5px;
}

.lebelHeaderStyle{
    text-align: center;
}
