@import '../../config/config';

.card-without-top-border {
    border-top: none !important;
}
.trailActiveButtonStyle {
    font-size:20px;
    color:$trail-green;
}
.trailNormalButtonStyle {
    font-size:20px;
    color:$dropdown-item-text;
}

.modalBodyHeaderStyle {
    background-color: #e8e5e5;
    padding: 5px;
}

.lebelHeaderStyle{
    text-align: center;
}

.CallerClass{
    padding: 2px;
}


.dropdown-menu{
      padding: 0;
        margin-top: 19px;
        margin-left: 16px;
        height: 100%;
        border: none;
        ul li>a:hover {
            background-color: $sidemenu-active;
        }
        li.disable-hover>a:hover {
            background-color: $default !important;
            color: #000;
        }
}
