@import '../../config/config';

.multiselect-selector {
    background: $multiselect-background none repeat scroll 0 0;
    border: $multiselect-border solid 1px;
    border-radius: 3px;
    color: $multiselect-color;
    padding: 7px 8px;
    width: 100%;
    font-size: 14px;
}

.multiselect-list {
    background: $multiselect-background none repeat scroll 0 0;
    border: $multiselect-border solid 1px;
    border-radius: 0 0 6px 6px;
    color: $multiselect-color;
    padding: 5px 8px;
    width: 93.5%;
    font-size: 12px;
    height: 150px;
    position: absolute;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    top: 90%;
}

.entryHolder{
    background: $entryholder-background ;
    padding: 15px;
    border: $entryholder-color solid 1px;
    float: left;
    margin: 15px 23px;
}

.addbuttonHolder{
    padding: 22px;
    float: right;
}

.formStyle{
    width : 97%;
}

.buttonholder{
        float: right;
    vertical-align: middle;
    padding-top: 27px;
}