.col-no-left-padding{
    padding-left: 0 !important;
}
.col-no-right-padding{
    padding-right: 0 !important;
}
.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.labelStyle{
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
.statusGreen {
    background: #090 none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}

.statusAmber {
    background: #f8a920 none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}

.statusRed {
    background: #F00 none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}