<div class="license-alignment-apply-key">
	<div>
		<p class="jumbo-text">License key is invalid or not provided. Please enter your license key or contact the Administrator.</p>
	</div>
	<div class="input-align">
		<form [formGroup]="form" (ngSubmit)="verifyKey(form.value)">
			<input id="key" class="key-submit" type="text" name="key" formControlName="key" placeholder="Enter Key" />
			<div class="sub-align">
				<input type="submit" class="btn pull-right" value="Submit">
			</div>
		</form>
	</div>
</div>