@import '../../config/config';
.clock-container {
    @include box-shadow(0px, 3px, 5px, 0, $header-shadow);
    background-color: $clock-widget-bg;
    height: 92px;
    .clock-number,
    .clock-text {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.clock-number {
    font-family: $font-family-widget;
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 0; color:$font-colori-white;
}

.clock-text {
    text-transform: uppercase;
    font-family: $font-family-widget;
    font-size: 12px;
    font-weight: bold;
    background-color: none;
    padding: 5px;
    border-top: 1px solid $clock-widget-border;
    border-bottom: 1px solid $clock-widget-border;
}

.clock-v-border {
    border-left: 2px solid $clock-widget-border;
    border-right: 2px solid $clock-widget-border;
}

@media screen and (max-width: $resXS-E) {
    .clock-container {
        height: 70px !important;
        max-width: 98%;
    }
    .clock-number {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
.clock-number {
    font-family: $font-family-widget;
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 0; color:$font-colori-white;
    line-height:30px;
}

.clock-text {
    text-transform: uppercase;
    font-family: $font-family-widget;
    font-size: 12px;
    font-weight: bold;
    background-color: none;
    padding: 0;
    border-top: 1px solid $clock-widget-border;
    border-bottom: 1px solid $clock-widget-border;
}
}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {

}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    .clock-layout {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}

@media screen and (min-width: $resXL-S) {}

.clock-align{
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
}