@import '../../config/config';
.widget-container {
    @include box-shadow(0px, 3px, 5px, 0, $header-shadow);
    background-color: $summary-widget-bg1;
    color:#fff;
    height: 92px;
}

incident-header-widget .widget-container{height: auto;}

incident-header-widget a{ font-size: 12px;}

.widget-title {
    text-transform: uppercase;
    font-family: $font-family-widget;
    font-size: $font-size-below-normal;
    font-weight: $font-weight-bold;
    background-color: none;
    padding: 2px;
    border-bottom: 1px solid $summary-widget-title-border;
    span {
        margin-left: 5px;
    }
}

.widget-block {
    margin-right: 10px;
    text-align: right;
}

.widget-number {
    span {
        font-family: $font-family-widget;
        // font-size: 30px;
        font-size: 22px;
        &.marker{
            text-decoration: overline;
            cursor: pointer;
        }
    }
    i {
        display: none;
    }
}

.widget-text {
    display: block;
    // margin-top: -10px;
    margin-top: -2px;
    font-family: $font-family-widget;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 1px;
    line-height: 13px;
    &.view-all-style {
        // padding-top: 12px;
        padding-top: 5px;
        font-weight: bold;
        font-weight: bold;
        font-size: 11px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.widget-layout-fix {
    padding-right: 0 !important;
    padding-top: 15px !important;
    @media screen and (max-width: $resLG-E) {
    padding-right: 15px !important;
    }
}



.statusRed, .statusGreen, .statusAmber {
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}
.statusRed{
    background: $rag-red none repeat scroll 0 0;
}
.statusGreen {
    background: $rag-green none repeat scroll 0 0;
}
.statusAmber {
    background: $rag-amber none repeat scroll 0 0;
}

@media screen and (max-width: $resXS-E) {
    .widget-layout-fix {
        padding-top: 5px !important;
        padding-left: 9px !important;
    }
    .widget-container {
        margin-top: 5px;
    }
    .people-onboard-layout .widget-container,
    .casualty-layout .widget-container,
    .demand-received-layout .widget-container {
        max-width: 98%;
    }
    .demand-raised-layout .widget-container,
    .checklist-layout .widget-container {
        max-width: 96%;
    }
}
@media screen and (max-width: $resLG-E){
    .demand-raised-layout{
        margin-left: 5px;
    width: 100%;
    padding-right: 8px !important;
    }
}

@media screen and (max-width: $resLG-E){
   .checklist-layout{
        margin-left: 5px;
    width: 100%;
    padding-right: 25px !important;
    }
}
@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    .people-onboard-layout {
        top: 107px;
        left: 19.5%;
        max-width: 49%;
    }
    .casualty-layout {
        max-width: 51%;
    }
    .dock-menu-enabled .checklist-layout {
        left: 75.5%;
        width: 23%;
    }
    .demand-received-layout {
        position: absolute;
        left: 40%;
        width: 155px;
    }
    .dock-menu-enabled .demand-received-layout {
        left: 32.5%;
        width: 22%;
    }
    .demand-raised-layout {
        position: absolute;
        left: 59.3%;
        width: 156px;
    }
    .dock-menu-enabled .demand-raised-layout {
        left: 54%;
        width: 22%;
    }
    .checklist-layout {
        left: 78.5%;
        width: 155px;
        position: absolute;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {
    .casualty-layout {
        max-width: 31.7%;
    }
    .demand-received-layout,
    .demand-raised-layout,
    .checklist-layout {
        max-width: 32.8%;
    }
}

@media screen and (min-width: $resXL-S) {
    .casualty-layout {
        max-width: 21%;
    }
    .demand-received-layout {
        max-width: 12%;
    }
    .demand-raised-layout {
        max-width: 12%;
    }
    .checklist-layout {
        max-width: 12%;
    }
}