@import '../../config/config';
@import '../../../../assets/css/weather-icons';
@import '../../../../assets/css/weather-icons-wind';
.weather-container {
    padding-left: 10px;
    .current-weather {
        padding: 3%;
        background-color: #ec4747;
        color: #fff;
        .row:nth-child(1) {}
        .row:nth-child(2) {
            margin-top: 5px;
        }
        .row:nth-child(3) {
            text-align: center;
            div {
                padding-top: 5px;
            }
            i {
                font-size: 36px;
                margin-right: 9px;
            }
            p {
                display: inline-block;
                margin: 0;
                text-transform: uppercase;
            }
        }
        .current-location {
            font-weight: bold;
        }
        .current-date {
            text-transform: uppercase;
        }
        .current-logo,
        .current-temp {
            font-size: 80px;
            text-align: center;
        }
        .current-temp {}
        .weather-prop {
            
        }
    }
    .weather-forecast {
        div.row {
            padding: 9px;
            p{
                margin: 0;
                padding: 0;
                display: inline-block;
            }
        }
        div.row:nth-child(odd) {
            background-color: #fee;
        }
        div.row:nth-child(even) {
            background-color: #fff;
        }
    }
}