<div class="row">
    <div class="col-12">
        <div *ngIf="!isArchive">
            <presidentMessage-entry *ngIf="isShowAddPresidentMessage | accesibility:initiatedDepartment:'AddNewPresidentMessage'" [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></presidentMessage-entry>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <presidentMessage-detail [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></presidentMessage-detail>
    </div>
</div>