<div *ngIf="showAdd" class="formStyle card-block entryHolder">
<form [formGroup]="form">
    <div class="panel panel-default panel-minimal">
        <div class="panel-body InnerHolder">
            <input type="hidden" *ngIf="PresidentsMessage.PresidentsMessageId != undefined" [(ngModel)]="PresidentsMessage.PresidentsMessageId"
                formControlName="PresidentsMessageId">
            <div class="AllSearchHolder">
                <div class="row">
                <div class="col-sm-6 col-lg-5 col-md-6">
                    <div class="form-group">
                        <label for="Message">President's Message:<span class="required">*</span></label><span class="MaxChartr">Max 500 chars</span>
                        <textarea class="form-control" id="Message" formControlName="Message" maxlength="500" [readOnly]="PresidentsMessage.IsPublished"
                            placeholder="Enter President's Message" [(ngModel)]="PresidentsMessage.Message" autofocus></textarea>
                        <small *ngIf="!form.controls.Message.valid" class="text-danger">
                            Required.
                        </small>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="Remarks">Remarks:</label><span class="MaxChartr">Max 500 chars</span>
                        <textarea class="form-control" id="Remarks" formControlName="Remarks" maxlength="500" [readOnly]="PresidentsMessage.IsPublished"
                            placeholder="Enter Remarks" [(ngModel)]="PresidentsMessage.Remarks" required autofocus></textarea>
                        <span [hidden]="hideRemarksError">Plese Input Remarks</span>
                    </div>
                </div>
                  <div class="col-sm-6 col-lg-12 col-md-6">
                    <div class="buttonholder">
                        <button class="btn btn-primary" type="submit" (click)="publish()" [disabled]="PresidentsMessage.IsPublished">Publish</button>
                        <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                        <button class="btn btn-primary" type="submit" (click)="save()" [disabled]="PresidentsMessage.IsPublished">Save</button>
                    </div>
                </div>
                </div>
              
            </div>
        </div>
    </div>
</form>

</div>


<div class="addbuttonHolder">
<button class="btn btn-primary" type="submit" (click)="showAddRegion(showAdd)" [disabled]="PresidentsMessage.IsPublished && showAdd">Add New President's Message to publish</button>
</div>