<div class="row">
    <div class="col-12">
        <div *ngIf="!isArchive">
            <!-- <presidentMessage-approval-entry *ngIf="isShowAddPresidentMessage | accesibility:initiatedDepartment:'AddNewPresidentMessage'" [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></presidentMessage-approval-entry> -->
            <presidentMessage-approval-entry [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></presidentMessage-approval-entry>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <presidentMessage-approval-list [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></presidentMessage-approval-list>
    </div>
</div>