<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Reference Number</th>
                <th>Air Way Bill</th>
                <th>Manifest Pieces</th>
                <th>Manifest weight(kg)</th>
                <th>POU</th>
                <th>POL</th>
                <th>Verification Status</th>
                <th>Interaction Details</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="affectedObjects.length != 0">
                <td colspan="8">No Cargo is available.</td>
            </tr>
            <tr *ngFor="let affectedObject of affectedObjects">
                <td data-title="Reference Number">{{affectedObject.TicketNumber}}&nbsp;</td>
                <td data-title="Air Way Bill">{{affectedObject.AWB}}&nbsp;</td>
                <td data-title="Manifest Pieces">{{affectedObject.mftpcs}}&nbsp;</td>
                <td data-title="Manifest weight">{{affectedObject.mftwgt}}&nbsp;</td>
                <td data-title="POU">{{affectedObject.POU}}&nbsp;</td>
                <td data-title="POL">{{affectedObject.POL}}&nbsp;</td>
                <td data-title="Verification Status">
                    <i class="fa fa-check fa-lg fontGreen" aria-hidden="true" [hidden]="affectedObject.IsVerified == false"></i>
                    <i class="fa fa-question fa-lg fontAmber" aria-hidden="true" [hidden]="affectedObject.IsVerified == true"></i>
                </td>
                <!--<td data-title="Verification Status"> <i class="fa fa-check fa-2x fontGreen" aria-hidden="true" [hidden]="affectedObject.IsVerified == false"></i>
                    <i class="fa fa-question fa-2x fontAmber" aria-hidden="true" [hidden]="affectedObject.IsVerified == true"></i>&nbsp;</td>-->
                <td data-title="Interaction Details"><i class="fa fa-comments trailButtonStyle" (click)="openChatTrails(affectedObject.AffectedObjectId)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</responsive-table>



<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Communication Trail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelTrailModal()">
                  <span aria-hidden="true">&times;</span>
                   </button>
            </div>
            <div class="modal-body">
                 <div class="row modalBodyHeaderStyle">
                        <div class="col-sm-6 form-group">
                            <label class="lebelHeaderStyle"><strong>AWB Number</strong></label>
                            <br>
                            <label class="form-control">{{AWBNumber}}</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="lebelHeaderStyle"><strong>Reference Number</strong></label>
                             <br>
                            <label class="form-control">ticketNumber</label>
                        </div>
                    </div>
                    <br>
                <!--<div class="col-sm-12">
                    <div class="col-sm-6 form-group">
                        <label>AWB Number</label>
                        <label>{{AWBNumber}}</label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Reference Number</label>
                        <label>{{ticketNumber}}</label>
                    </div>
                </div>-->
                <responsive-table>
                    <table responsive-table-body>
                        <tbody>
                            <tr *ngFor="let comm of communications">
                                <td data-title="comm"><strong>{{comm.RequesterType}}</strong> logged by
                                    <span [hidden]="comm.RequesterDepartment.length==0"><strong>{{comm.RequesterName}} (Dept: {{comm.RequesterDepartment}})</strong></span>
                                    <span> on <strong>{{comm.CreatedOn | date:"dd-MMM-yy h:mma"}}&nbsp;:</strong></span> {{comm.Answers}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
            </div>
        </div>
    </div>
</div>
























