<button class="btn btn-primary" type="button" (click)="saveVerifiedObjects()">Verify</button>

<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Verify</th>
                <th>Reference Number</th>
                <th>Air Way Bill</th>
                <th>Manifest Pieces</th>
                <th>Manifest weight(kg)</th>
                <th>POU</th>
                <th>POL</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="affectedObjectsForVerification.length != 0">
                <td colspan="7">No Verified Cargo is available.</td>
            </tr>
            <tr *ngFor="let affectedObject of affectedObjectsForVerification">
                <td data-title="Verify">
                    <md-checkbox class="Marght" id="IsVerified" [(ngModel)]="affectedObject.IsVerified" aria-label="Add">
                    </md-checkbox>
                </td>
                <td data-title="Reference Number">{{affectedObject.TicketNumber}}&nbsp;</td>
                <td data-title="Air Way Bill">{{affectedObject.AWB}}&nbsp;</td>
                <td data-title="Manifest Pieces">{{affectedObject.mftpcs}}&nbsp;</td>
                <td data-title="Manifest weight">{{affectedObject.mftwgt}}&nbsp;</td>
                <td data-title="POU">{{affectedObject.POU}}&nbsp;</td>
                <td data-title="POL">{{affectedObject.POL}}&nbsp;</td>
            </tr>
        </tbody>
    </table>
</responsive-table>