<div class="row" *ngFor="let query of crewqueries">
    <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
        <ul class="list-group">
            <li class="list-group-item"><strong><i>Crew Queries:</i></strong></li>
            <li class="list-group-item" style="border-top: none">{{query.Queries}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Caller Name:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{query.CallerName}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Contact Number:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{query.ContactNumber}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Alternate Number:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{query.AlternateContactNumber}}</li>
</ul>
</div>

</div>