<div class="row widget-container no-gutters">
    <div class="col-12">
        <div class="row no-gutters">
            <div class="col-12 widget-title">
                <span>affected on board</span>
                <!--<span class="marker">                    
                    <a class = "markar" (click)="OpenPassengerDetailsKPI()" href="javascript:void(0)">Details</a>
                </span>-->
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col widget-block">
                <span class="widget-number">
                    <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                    <span class="marker" (click)="openAllPassengersDetails()">{{peopleOnBoard.totalAffectedPassengerCount | padding: '0': 2}}</span>
                </span>
                <span class="widget-text">passengers</span>
            </div>
            <!--<div class="col widget-block">
                <span class="widget-number">
                    <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                    <span class="marker" (click)="openEnquiredPassengersDetails()">{{peopleOnBoard.enquiredAffectedPassengerCount | padding: '0': 2}}</span>
                </span>
                <span class="widget-text">enquired passengers</span>
            </div>-->
            <div class="col widget-block">
                <span class="widget-number">
                    <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                    <span class="marker" (click)="openAllCrewsDetails()">{{peopleOnBoard.totalAffectedCrewCount | padding: '0': 2}}</span>
                </span>
                <span class="widget-text">crew members</span>
            </div>
            <!--<div class="col widget-block">
                <span class="widget-number">
                    <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                    <span class="marker" (click)="openEnquiredCrewsDetails()">{{peopleOnBoard.enquiredAffectedCrewCount | padding: '0': 2}}</span>
                </span>
                <span class="widget-text">Enquired crew</span>
            </div>-->
            <div class="col widget-block">
                <span class="widget-number">
                    <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                    <span class="marker" (click)="openAllCargoDetails()">{{peopleOnBoard.totalAffectedCargoCount | padding: '0': 2}}</span>
                </span>
                <span class="widget-text">Cargos</span>
            </div>
            <!--<div class="col widget-block">
                <span class="widget-number">
                    <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                    <span class="marker" (click)="openEnquiredCrewsDetails()">{{peopleOnBoard.enquiredAffectedCrewCount | padding: '0': 2}}</span>
                </span>
                <span class="widget-text">Enquired Cargo</span>
            </div>-->
            <div class="col widget-block">
                <span class="widget-number">
                    <i class="fa fa-address-card-o fa-lg" aria-hidden="true"></i>
                    <span class="marker">{{0 | padding: '0': 2}}</span>
                </span>
                <span class="widget-text">ground members</span>
            </div>
        </div>
    </div>
</div>

<!--All Passengers Popup-->
<div bsModal #childModalPassengers="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><strong>All Passengers</strong></h4>
                <i class="fa fa-times pull-right" aria-hidden="true" (click)="hideAllPassengers()"></i>
            </div>
            <div class="modal-body">
                <responsive-table>
                    <table responsive-table-body>
                        <tbody>
                            <tr>
                                <td><strong>Total Passengers:  </strong> {{peopleOnBoard.totalAffectedPassengerCount | padding:
                                    '0': 2}} </td>
                                <!--<td class="marker">{{peopleOnBoard.totalAffectedPassengerCount | padding: '0': 2}}     </td>-->
                                <td><strong>Enquired Passengers:       </strong> {{peopleOnBoard.enquiredAffectedCrewCount |
                                    padding: '0': 2}} </td>
                                <!--<td class="marker">   {{peopleOnBoard.enquiredAffectedCrewCount | padding: '0': 2}} </td>-->

                                <td><strong> Gender Wise Passengers: </strong> <span *ngFor="let gender of peopleOnBoard.totalGenderTypeCount">
                             <strong>{{gender.Key}}</strong>:{{gender.Value}}
                        </span> </td>
                                <!--<td class="marker"><span *ngFor="let gender of peopleOnBoard.totalGenderTypeCount">
                             <strong>{{gender.Key}}</strong>:{{gender.Value}}
                        </span>    </td>-->
                            </tr>


                            <tr>
                                <td><strong> Nationality Wise Passengers:  </strong> <span *ngFor="let nationality of peopleOnBoard.totalNationalityTypeCount">
                             <strong>{{nationality.Key}}</strong>:{{nationality.Value}}&nbsp; &nbsp;
                        </span> </td>
                                <!--<td class="marker fixed_td_width"><span *ngFor="let nationality of peopleOnBoard.totalNationalityTypeCount">
                             <strong>{{nationality.Key}}</strong>:{{nationality.Value}}&nbsp; &nbsp;
                        </span></td>-->
                                <td colspan="2"><strong> Passenger Type: </strong> <span *ngFor="let paxType of peopleOnBoard.totalPaxTypeCount">
                             <strong>{{paxType.Key}}</strong>:{{paxType.Value}}&nbsp; &nbsp;
                        </span> </td>
                                <!--<td class="marker"> <span *ngFor="let paxType of peopleOnBoard.totalPaxTypeCount">
                             <strong>{{paxType.Key}}</strong>:{{paxType.Value}}&nbsp; &nbsp;
                        </span></td>                              -->
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
                <!--<div class="row">
                    <div class="col-lg-2">
                        <strong>
                            Total Passengers:                             
                        </strong>
                        <span class="marker">{{peopleOnBoard.totalAffectedPassengerCount | padding: '0': 2}}</span>
                    </div>
                    <div class="col-lg-10">
                        <strong>
                            Enquired Passengers:                             
                        </strong>
                        <span class="marker">{{peopleOnBoard.enquiredAffectedCrewCount | padding: '0': 2}}</span>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-lg-2">
                        <strong>
                            Gender Wise Passengers:                     
                        </strong>
                    </div>
                    <div class="col-lg-10">
                        <span *ngFor="let gender of peopleOnBoard.totalGenderTypeCount">
                             <strong>{{gender.Key}}</strong>:{{gender.Value}}
                        </span>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-lg-2">
                        <strong>
                            Nationality Wise Passengers:                     
                        </strong>
                    </div>
                    <div class="col-lg-10">
                        <span *ngFor="let nationality of peopleOnBoard.totalNationalityTypeCount">
                             <strong>{{nationality.Key}}</strong>:{{nationality.Value}},
                        </span>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-lg-2">
                        <strong>
                            Passenger Type Wise Passengers:                     
                        </strong>
                    </div>
                    <div class="col-lg-10">
                        <span *ngFor="let paxType of peopleOnBoard.totalPaxTypeCount">
                             <strong>{{paxType.Key}}</strong>:{{paxType.Value}},
                        </span>
                    </div>
                </div>-->

                <generic-search [filterConfigs]="searchConfigsPax" (InvokeSearch)="invokeSearchPassenger($event);" (InvokeReset)="invokeResetPassenger();"></generic-search>

                <responsive-table>
                    <table responsive-table-body>
                        <thead>
                            <tr>
                                <th>Passenge Name</th>
                                <th>PNR</th>
                                <th>Seat Number</th>
                                <th>Baggage Count</th>
                                <th>Destination</th>
                                <th>Gender</th>
                                <th>Nationality</th>
                                <th>Contact Number</th>
                                <th>PAX Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!(passengerList | async)?.length>0">
                                <td data-title="Records" colspan="7">No passenger to show.</td>
                            </tr>
                            <tr *ngFor="let passenger of passengerList | async">
                                <td data-title="Passenge Name">{{passenger.PassengerName}}</td>
                                <td data-title="PNR">{{passenger.Pnr}}</td>
                                <td data-title="Seat Number">{{passenger.Seatno}}</td>
                                <td data-title="Baggage Count">{{passenger.BaggageCount}}</td>
                                <td data-title="Destination">{{passenger.Destination}}</td>
                                <td data-title="Gender">{{passenger.PassengerGender}}</td>
                                <td data-title="Nationality">{{passenger.PassengerNationality}}</td>
                                <td data-title="Contact Number">{{passenger.ContactNumber}}</td>
                                <td data-title="PAX Type">{{passenger.PassengerType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
                <!--<div class="pull-right">
                    <button type="submit" class="pull-right btn btn-primary" aria-label="Close" (click)="hideAllPassengers()">Close</button>
                </div>-->
            </div>

        </div>

    </div>
</div>

<!--All Cargos Popup-->
<div bsModal #childModalCargos="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><strong>All Cargos</strong></h4>
                <i class="fa fa-times pull-right" aria-hidden="true" (click)="hideAllCargoDetails()"></i>
            </div>
            <div class="modal-body">
                <responsive-table>
                    <table responsive-table-body>
                        <tbody>
                            <tr>
                                <td><strong>Total Cargos: </strong> </td>
                                <td class="marker">{{peopleOnBoard.totalAffectedCargoCount | padding: '0': 2}} </td>

                                <td><strong> Type Wise Cargos: </strong> </td>
                                <td class="marker"><span *ngFor="let Type of peopleOnBoard.cargoOnBoardCountByType">
                             <strong>{{Type.Key}}</strong>:{{Type.Value}} &nbsp; &nbsp;
                        </span> </td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>

                <div class="row"> </div>

                <generic-search [filterConfigs]="searchConfigsCargo" (InvokeSearch)="invokeSearchCargo($event);" (InvokeReset)="invokeResetCargo();"></generic-search>

                <responsive-table>
                    <table responsive-table-body>
                        <thead>
                            <tr>
                                <th>AWB Number</th>
                                <th>POL</th>
                                <th>POU</th>
                                <th>Cargo Pieces</th>
                                <th>Cargo Weight</th>
                                <th>Cargo Type</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Shipper name</th>
                                <th>Shipper Address</th>
                                <th>Shipper Contact Number</th>
                                <th>Document Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!(cargoList | async)?.length>0">
                                <td data-title="Records" colspan="7">No cargo to show.</td>
                            </tr>
                            <tr *ngFor="let cargo of cargoList | async">
                                <td data-title="AWB Number">{{cargo.AWB}}</td>
                                <td data-title="POL">{{cargo.POL}}</td>
                                <td data-title="POU">{{cargo.POU}}</td>
                                <td data-title="Cargo Pieces">{{cargo.mftpcs}}</td>
                                <td data-title="Cargo Weight">{{cargo.mftwgt}}</td>
                                <td data-title="Cargo Type">{{cargo.CargoType}}</td>
                                <td data-title="Origin">{{cargo.Origin}}</td>
                                <td data-title="Destination">{{cargo.Destination}}</td>
                                <td data-title="Shipper name">{{cargo.ShipperName}}</td>
                                <td data-title="Shipper Address">{{cargo.ShipperAddress}}</td>
                                <td data-title="Shipper Contact Number">{{cargo.ShipperContactNo}}</td>
                                <td data-title="Document Path">{{cargo.AWBDocPath}}</td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
                <!--<div class="pull-right">
                    <button type="submit" class="pull-right btn btn-primary" aria-label="Close" (click)="hideAllPassengers()">Close</button>
                </div>-->
            </div>
        </div>
    </div>
</div>

<!--All Passengers Details KPI Popup-->
<div bsModal #childModalPassengersDetailKPI="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><strong>All Affected Details</strong></h4>
                <i class="fa fa-times pull-right" aria-hidden="true" (click)="hideAllPassengersDetails()"></i>
            </div>
            <div class="modal-body">
                <strong>All Passenger Details</strong>
                <div class="row">
                    <div class="col-lg-4">
                        <strong>Gender Wise Passenger Count</strong>
                        <responsive-table>
                            <table responsive-table-body>
                                <thead>
                                    <tr>
                                        <th>Gender</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!peopleOnBoard.totalGenderTypeCount.length > 0">
                                        <td data-title="Records" colspan="7">No passenger to show.</td>
                                    </tr>
                                    <tr *ngFor="let gender of peopleOnBoard.totalGenderTypeCount">
                                        <td data-title="Gender">{{gender.Key}}</td>
                                        <td data-title="Count">{{gender.Value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>

                    <div class="col-lg-4">
                        <strong>Nationality Wise Passenger Count</strong>
                        <responsive-table>
                            <table responsive-table-body>
                                <thead>
                                    <tr>
                                        <th>Nationality</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!peopleOnBoard.totalNationalityTypeCount.length > 0">
                                        <td data-title="Records" colspan="7">No passenger to show.</td>
                                    </tr>
                                    <tr *ngFor="let nationality of peopleOnBoard.totalNationalityTypeCount">
                                        <td data-title="Nationality">{{nationality.Key}}</td>
                                        <td data-title="Count">{{nationality.Value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>

                    <div class="col-lg-4">
                        <strong>Passenger Type Wise Count</strong>
                        <responsive-table>
                            <table responsive-table-body>
                                <thead>
                                    <tr>
                                        <th>Passenger Type</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!peopleOnBoard.totalPaxTypeCount.length > 0">
                                        <td data-title="Records" colspan="7">No passenger to show.</td>
                                    </tr>
                                    <tr *ngFor="let paxType of peopleOnBoard.totalPaxTypeCount">
                                        <td data-title="Passenger Type">{{paxType.Key}}</td>
                                        <td data-title="Count">{{paxType.Value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>
                </div>
                <!--<div class="pull-right">
                    <button type="submit" class="pull-right btn btn-primary" aria-label="Close" (click)="hideAllPassengers()">Close</button>
                </div>-->
            </div>

        </div>

    </div>
</div>

<!--Enquired Passengers Popup-->
<div bsModal #childModalEnquiredPassengers="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Enquired Passengers</h4>
                <i class="fa fa-times pull-right" aria-hidden="true" (click)="hideEnquiredPassengers()"></i>
            </div>
            <div class="modal-body">
                <responsive-table>
                    <table responsive-table-body>
                        <thead>
                            <tr>
                                <th>Passenge Name</th>
                                <th>PNR</th>
                                <th>Seat Number</th>
                                <th>Baggage Count</th>
                                <th>Destination</th>
                                <th>Contact Number</th>
                                <th>PAX Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!(affectedEnquiredPeoples | async)?.length>0">
                                <td data-title="Records" colspan="7">No passenger to show.</td>
                            </tr>
                            <tr *ngFor="let passenger of affectedEnquiredPeoples | async">
                                <td data-title="Passenge Name">{{passenger.PassengerName}}</td>
                                <td data-title="PNR">{{passenger.Pnr}}</td>
                                <td data-title="Seat Number">{{passenger.Seatno}}</td>
                                <td data-title="Baggage Count">{{passenger.BaggageCount}}</td>
                                <td data-title="Destination">{{passenger.Destination}}</td>
                                <td data-title="Contact Number">{{passenger.ContactNumber}}</td>
                                <td data-title="PAX Type">{{passenger.PassengerType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
                <!--<div class="pull-right">
                    <button type="submit" class="pull-right btn btn-primary" aria-label="Close" (click)="hideEnquiredPassengers()">Close</button>
                </div>-->
            </div>

        </div>

    </div>
</div>

<!--All Crews Popup-->
<div bsModal #childModalCrews="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><strong>All Crews</strong></h4>

                <i class="fa fa-times pull-right" aria-hidden="true" (click)="hideAllCrews()"></i>
            </div>
            <div class="modal-body">
                <responsive-table>
                    <table responsive-table-body>
                        <thead>
                            <tr>
                                <th>Employee Number</th>
                                <th>Employee Name</th>
                                <th>Contact Number</th>
                                <th>Assigned Category</th>
                                <th>Operating Crew</th>
                                <th>Base Location</th>
                                <th>Departure Station</th>
                                <th>Arrival Station</th>
                                <th>Flight Number</th>
                                <th>Work Position</th>
                                <th>Email Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!(crewList | async)?.length>0">
                                <td data-title="Records" colspan="11">No crew to show.</td>
                            </tr>
                            <tr *ngFor="let crew of crewList | async">
                                <td data-title="Employee Number">{{crew.EmployeeNumber}}</td>
                                <td data-title="Employee Name">{{crew.CrewName | uppercase}}</td>
                                <td data-title="Contact Number">{{crew.ContactNumber}}</td>
                                <td data-title="Assigned Category">{{crew.AsgCat}}</td>
                                <td data-title="Operating Crew">{{crew.DeadheadCrew.toString().trim()=='' ? 'Yes':'No'}}</td>
                                <td data-title="Base Location">{{crew.BaseLocation}}</td>
                                <td data-title="Departure Station">{{crew.DepartureStationCode}}</td>
                                <td data-title="Arrival Station">{{crew.ArrivalStationCode}}</td>
                                <td data-title="Flight Number">{{crew.FlightNo}}</td>
                                <td data-title="Work Position">{{crew.WorkPosition}}</td>
                                <td data-title="Email Id">{{crew.Email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
                <!--<div class="pull-right">
                    <button type="submit" class="pull-right btn btn-primary" aria-label="Close" (click)="hideAllCrews()">Close</button>
                </div>-->
            </div>

        </div>

    </div>
</div>

<!--Enquired Crews Popup-->
<div bsModal #childModalEnquiredCrew="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><strong>Enquired Crews</strong></h4>
                <i class="fa fa-times pull-right" aria-hidden="true" (click)="hideEnquiredCrews()"></i>
            </div>
            <div class="modal-body">
                <responsive-table>
                    <table responsive-table-body>

                        <thead>
                            <tr>
                                <th>Employee Number</th>
                                <th>Employee Name</th>
                                <th>Contact Number</th>
                                <th>Assigned Category</th>
                                <th>Operating Crew</th>
                                <th>Base Location</th>
                                <th>Departure Station</th>
                                <th>Arrival Station</th>
                                <th>Flight Number</th>
                                <th>Work Position</th>
                                <th>Email Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!(affectedEnquiredCrews | async)?.length>0">
                                <td data-title="Records" colspan="11">No crew to show.</td>
                            </tr>
                            <tr *ngFor="let crew of affectedEnquiredCrews | async">
                                <td data-title="Employee Number">{{crew.EmployeeNumber}}</td>
                                <td data-title="Employee Name">{{crew.CrewName | uppercase}}</td>
                                <td data-title="Contact Number">{{crew.ContactNumber}}</td>
                                <td data-title="Assigned Category">{{crew.AsgCat}}</td>
                                <td data-title="Operating Crew">{{crew.DeadheadCrew.toString().trim()=='' ? 'Yes':'No'}}</td>
                                <td data-title="Base Location">{{crew.BaseLocation}}</td>
                                <td data-title="Departure Station">{{crew.DepartureStationCode}}</td>
                                <td data-title="Arrival Station">{{crew.ArrivalStationCode}}</td>
                                <td data-title="Flight Number">{{crew.FlightNo}}</td>
                                <td data-title="Work Position">{{crew.WorkPosition}}</td>
                                <td data-title="Email Id">{{crew.Email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </responsive-table>
                <!--<div class="pull-right">
                    <button type="submit" class="pull-right btn btn-primary" aria-label="Close" (click)="hideEnquiredCrews()">Close</button>
                </div>-->
            </div>
        </div>
    </div>
</div>