<div *ngIf="showAdd" class="formStyle card-block entryHolder">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <input type="hidden" *ngIf="emergencyLocation.EmergencyLocationId != undefined" [(ngModel)]="emergencyLocation.EmergencyLocationId"
            formControlName="EmergencyLocationId">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-12">
                <div class="form-group">
                    <label for="IATA">IATA<span class="required">*</span></label>
                    <input class="form-control" id="txtIATA" type="text" formControlName="IATA" ngControl="IATA"
                        placeholder="Enter IATA" [(ngModel)]="emergencyLocation.IATA" autofocus />
                    <small *ngIf="!form.controls.IATA.valid" class="text-danger" [hidden]="!isInvalidForm">
                        Required.
                    </small>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12">
                <div class="form-group">
                    <label for="Station">Airport Name<span class="required">*</span></label>
                    <input class="form-control" id="txtAirportName" type="text" formControlName="AirportName"
                        placeholder="Enter Airport Name" [(ngModel)]="emergencyLocation.AirportName" />
                    <small class="text-danger" *ngIf="!form.controls.AirportName.valid" [hidden]="!isInvalidForm">
                        Required.
                    </small>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-12">
                <div class="form-group">
                    <label for="City">City:<span class="required">*</span></label>
                    <input class="form-control" id="txtCity" type="text" formControlName="City" placeholder="Enter City"
                        [(ngModel)]="emergencyLocation.City" />
                    <small class="text-danger" *ngIf="!form.controls.City.valid" [hidden]="!isInvalidForm">
                        Required.
                    </small>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12">
                <div class="form-group">
                    <label for="City">Country:<span class="required">*</span></label>
                    <input class="form-control" id="txtCountry" type="text" formControlName="Country" placeholder="Enter Country"
                        [(ngModel)]="emergencyLocation.Country" />
                    <small class="text-danger" *ngIf="!form.controls.Country.valid" [hidden]="!isInvalidForm">
                        Required.
                    </small>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div style="margin-top: 20px;">
                    <!--<label for="Active"><span class="required"></span></label>-->
                    <md-checkbox class="Marght" id="IsActive" formControlName="isActive" aria-label="IsActive"
                        [(ngModel)]="emergencyLocation.Active" [checked]>
                        Active
                    </md-checkbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="TimeZone">Time Zone:<span class="required">*</span></label>
                <select id="timeZone" class="form-control" formControlName="TimeZone">
                    <option value=''>Select time zone</option>
                    <option *ngFor="let timeZone of timeZones" [value]="timeZone.zonename">
                        {{timeZone.zonename}}
                    </option>
                </select>
                <small class="text-danger" *ngIf="!form.controls.TimeZone.valid" [hidden]="!isInvalidForm">
                    Required.
                </small>
                <div style="margin-top: 20px;"></div>
            </div>
        </div>
        <!--<div class="col-lg-4 col-md-6 col-sm-12">
                <div style="margin-top: 20px;">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>           -->

        <!-- <div style="margin-top: 20px;"></div> -->
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
        <!--<div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <md-checkbox class="Marght" id="IsActive" formControlName="isActive" aria-label="IsActive" [(ngModel)]="emergencyLocation.Active" [checked]>
                        Active
                    </md-checkbox>
                </div>
            </div>-->
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <input class="input_station" type="file" #inputFileStations id="fileuploadStations" formControlName="fileStation"
                    class="form-control-file" (change)="getFileDetails($event)" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <button class="btn btn-primary" type="button" [disabled]="isDisabledUpload" (click)="Upload()">Upload</button>
            </div>
            <!--<div style="margin-top: 20px;"></div>-->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a target="_self" href="{{airportStationTemplatePath}}" download="AirportStation.xlsx">
                    <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i> &nbsp; Station Template
                </a>
            </div>
        </div>
    </form>
</div>

<div class="addbuttonHolder">
    <a href="javascript:void(0);" (click)="showAddRegion(showAdd)"><strong>{{showAddText}}</strong></a>
</div>