<div *ngIf="showAdd" class="formStyle card-block entryHolder">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <input id="CheckListId" class="form-control" type="hidden" name="CheckListId" formControlName="DepartmentId" [ngModel]= "this.departmentModel.DepartmentId"
        />

        <div class="row">
            <div class="col-lg-6 cl-sm-6">
                <div class="form-group">
                    <label for="DepartmentCode">Department Code:<span class="red">*</span></label>
                    <input id="DepartmentCode" class="form-control" type="text" name="DepartmentCode" formControlName="DepartmentName" placeholder="Enter Department Code"
                    />
                </div>
            </div>
            <div class="col-lg-6 cl-sm-6">
                <div class="form-group">
                    <label for="DepartmentName">Department Name:<span class="red">*</span></label>
                    <input id="DepartmentName" class="form-control" type="text" name="DepartmentName" formControlName="Description" placeholder="Enter Department Name"
                    />
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="ContactNumber">Contact Number:<span class="red">*</span></label>
                <input id="ContactNumber" class="form-control" type="number" name="ContactNumber" formControlName="ContactNo" placeholder="Enter Contact Number"
                />
            </div>
        </div>
        <div class="row">

            <div class="form-group col-lg-6">
                <label for="DepartmentSpoc">Department Spoc:<span class="red">*</span></label>
                <select id="DepartmentSpoc" formControlName="DepartmentSpoc" name="DepartmentSpoc" class="form-control">
                    <option *ngFor="let user of users" [value]="user.UserProfileId" >
                        {{user.caption}}
                    </option>
                </select>
            </div>
            <div class="col-lg-6 cl-sm-6">
                <div class="form-group">
                    <label for="ParentDepartmentCode">Parent Department:<span class="red">*</span></label>
                    <select id="ParentDepartmentCode" formControlName="ParentDepartmentId" name="ParentDepartmentCode" class="form-control">
                    <option *ngFor="let dept of parentDepartments" [value]="dept.DepartmentId" >
                        {{dept.DepartmentName}}
                    </option>
                </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="buttonholder">
                    <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Save</button>
                    <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="addbuttonHolder">
    <button class="btn btn-primary" type="submit" (click)="showAddRegion(showAdd)">Add Department</button>
</div>