<generic-search [filterConfigs] = "searchConfigs" 
        (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();"></generic-search>

<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Department Code</th>
                <th>Department Name</th>
                <th>Parent Department:</th>
                <th>Department Spoc</th>
                <th>Contact Number</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="departments.length != 0">
                <td colspan="10">No records found.</td>
            </tr>
            <tr *ngFor="let department of departments">
                <td data-title="Department Code">{{department.DepartmentName}}</td>
                <td data-title="Department Name">{{department.Description}}</td>
                <td data-title="Parent Department">{{department.ParentDepartment?.DepartmentName}}</td>
                <td data-title="Department Spoc">{{department.UserProfile.Name}}</td>
                <td data-title="Contact Number">{{department.ContactNo}}</td>
                <td data-title="Active">
                    <md-checkbox class="Marght" id="IsActive" name="IsActive" [ngModel]="department.Active" (change)="IsActive($event,department)"
                        aria-label="ActiveFlag">
                    </md-checkbox>
                </td>
                <td data-title="Action">
                     <i class="fa fa-edit fa-lg" (click)="editdepartment(department)"></i>
                </td>
            </tr>

        </tbody>
    </table>
</responsive-table>










    <!--<generic-search [filterConfigs] = "searchConfigs" 
        (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();"></generic-search>
    <div class="row" *ngFor="let department of departments">
        <div class="col-sm-12 col-xs-12 hidden-md-up">
            <div class="card card-outline-primary mb-3">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left" style="padding-right: 10px">
                            <i class="fa fa-4x fa-address-book-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{department.DepartmentName}} <small><i>&nbsp; {{ department.ContactNo }}</i></small></h4>
                            <p>{{ department.Description }}</p>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong><i>Contact No.: </i></strong>&nbsp; {{ department.ContactNo }}</li>
                        <li class="list-group-item"><strong><i>Description: </i></strong>&nbsp; {{ department.Description }}</li>
                        <li class="list-group-item" *ngIf="(department.ParentDepartment | json) !== 'null'">
                            <strong><i>Parent Dept.: </i></strong>&nbsp; {{ department.ParentDepartment?.DepartmentName }}
                        </li>
                        <li class="list-group-item"><strong><i>Spoc: </i></strong>&nbsp; {{ department.UserProfile.Name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Department:</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{department.DepartmentName}}</li>
            </ul>
        </div>
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Contact No.</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{department.ContactNo}}</li>
            </ul>
        </div>
        <div class="col-md-5 col-lg-5 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Description: </i></strong>&nbsp; {{department.Description}}</li>
                <li class="list-group-item"><strong><i>Parent Department: </i></strong>&nbsp; {{department.ParentDepartment?.DepartmentName}}</li>
            </ul>
        </div>
        <div class="col-md-3 col-lg-3 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Spoc.</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{department.UserProfile.Name}}</li>
            </ul>
        </div>
    </div>
</div>-->