<div class="row">
    <div class="loginholder-container">
        <div id="logo-container"></div>
        <div class="col-12">
            <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit(changePasswordForm.value)" class="form-signin loginform">
                <div class="form-group">
                    <span class="text-danger">{{errorMessage}}</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Security Question</label>
                        <input type="text" id="SecurityQuestion" name="SecurityQuestion" formControlName="SecurityQuestion" class="form-control"
                            placeholder="Security Question" aria-describedby="SecurityQuestion-group" />
                    </div>
                    <!--<small [hidden]="changePasswordForm.controls.SecurityQuestion.valid || (changePasswordForm.controls.SecurityQuestion.pristine && !submitted)"
                        class="text-danger">Security question is required</small>-->
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Security Answer</label>
                        <input type="text" id="SecurityAnswer" name="SecurityAnswer" formControlName="SecurityAnswer" class="form-control" placeholder="Security Answer"
                            aria-describedby="SecurityAnswer-group" />
                    </div>
                    <!--<small [hidden]="changePasswordForm.controls.SecurityAnswer.valid || (changePasswordForm.controls.SecurityAnswer.pristine && !submitted)"
                        class="text-danger">Security answer is required</small>-->
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Old Password</label>
                        <input type="password" id="OldPassword" name="OldPassword" formControlName="OldPassword" class="form-control" placeholder="Old Password"
                            aria-describedby="OldPassword-group" />
                        <span class="input-group-addon" id="OldPassword-group">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </div>
                    <!--<small [hidden]="changePasswordForm.controls.OldPassword.valid || (changePasswordForm.controls.OldPassword.pristine && !submitted)"
                        class="text-danger">Old password is required</small>-->
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>New Password</label>
                        <input class="form-control" type="password" id="NewPassword" name="NewPassword" formControlName="NewPassword" placeholder="New Password"
                        />
                        <span class="input-group-addon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>

                    <!--<small *ngIf="changePasswordForm.controls.NewPassword.hasError('required')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)"
                        class="text-danger">New password is required</small>

                    <small *ngIf="changePasswordForm.controls.NewPassword.hasError('minlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)"
                        class="text-danger">Minimum password lenght 8 is required</small>

                    <small *ngIf="changePasswordForm.controls.NewPassword.hasError('maxlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)"
                        class="text-danger">Maximum password lenght 20 is allowed</small>

                    <small *ngIf="changePasswordForm.controls.NewPassword.hasError('pattern')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)"
                        class="text-danger">
                        <ul>
                            <li>Following complexity is required</li>
                            <li>At least 1 upper-case character</li>
                            <li>At least 1 lower-case character</li>
                            <li>At least 1 numeric digit</li>
                            <li>At least 1 special [@,#,$,%] character</li>
                            <li>No blank space allowed</li>
                        </ul>    
                    </small>-->
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" id="ConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password"
                        />
                        <span class="input-group-addon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>

                    <!--<small *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('required')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)"
                        class="text-danger">Confirm password is required</small>

                    <small *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('notSame')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)"
                        class="text-danger">Confirm password does not match</small>-->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-def btn-block">Change Password</button>
                    <button class="btn btn-def btn-block" type="button" (click)="onCancelClick($event)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right error_holder">
        <div class="error_white" [hidden]="changePasswordForm.controls.SecurityQuestion.valid || (changePasswordForm.controls.SecurityQuestion.pristine && !submitted)">
            <small class="text-danger">Security question is required</small>
        </div>

        <div class="error_white" [hidden]="changePasswordForm.controls.SecurityAnswer.valid || (changePasswordForm.controls.SecurityAnswer.pristine && !submitted)">
            <small class="text-danger"> Security answer is required</small>
        </div>

        <div class="error_white" [hidden]="changePasswordForm.controls.OldPassword.valid || (changePasswordForm.controls.OldPassword.pristine && !submitted)">
            <small class="text-danger">Old password is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.NewPassword.hasError('required')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">New password is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.NewPassword.hasError('minlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">Minimum password lenght 8 is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.NewPassword.hasError('maxlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">Maximum password lenght 20 is allowed</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.NewPassword.hasError('pattern')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">
                <ul>
                    <li>Following complexity is required</li>
                    <li>At least 1 upper-case character</li>
                    <li>At least 1 lower-case character</li>
                    <li>At least 1 numeric digit</li>
                    <li>At least 1 special [@,#,$,%] character</li>
                    <li>No blank space allowed</li>
                </ul>    
            </small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('required')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)">
            <small class="text-danger">Confirm password is required</small>
        </div>
        
        <div class="error_white" *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('notSame')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)">
            <small class="text-danger">Confirm password does not match</small>
        </div>
    </div>
</div>