<div class="row">
    <div id="logo-container"></div>
    <div class="cms-txt"><strong>Crisis Management System</strong></div>
    <div class="loginholder-container">
        <div class="col-12 d-block d-lg-none">
            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.SecurityQuestion.hasError('required')" [hidden]="changePasswordForm.controls.SecurityQuestion.valid || (changePasswordForm.controls.SecurityQuestion.pristine && !submitted)">●
                Security question is required</small>

            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.SecurityAnswer.hasError('required')" [hidden]="changePasswordForm.controls.SecurityAnswer.valid || (changePasswordForm.controls.SecurityAnswer.pristine && !submitted)">●
                Security answer is required</small>

            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.OldPassword.hasError('required')" [hidden]="changePasswordForm.controls.OldPassword.valid || (changePasswordForm.controls.OldPassword.pristine && !submitted)">●
                Old password is required</small>

            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.NewPassword.hasError('required')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">●
                New password is required</small>

            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.NewPassword.hasError('minlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">●
                Minimum password length 8 is required</small>

            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.NewPassword.hasError('maxlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">●
                Maximum password length 20 is allowed</small>

            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.NewPassword.hasError('pattern')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
                <ul>
                    <li>Following complexity is required for password</li>
                    <li>At least 1 upper-case character</li>
                    <li>At least 1 lower-case character</li>
                    <li>At least 1 numeric digit</li>
                    <li>At least 1 special [@,#,$,%] character</li>
                    <li>No blank space allowed</li>
                </ul>
            </small>

            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('required')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)">●
                Confirm password is required</small>

            <small class="text-danger pull-left" *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('notSame')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)">●
                Confirm password does not match</small>
        </div>
        <div class="col-12">
            <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit(changePasswordForm.value)" class="form-signin loginform">
                <div class="form-group">
                    <span class="text-danger error-login">{{errorMessage}}</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Security Question</label>
                        <input type="text" id="SecurityQuestion" name="SecurityQuestion" formControlName="SecurityQuestion" class="pl-0 form-control"
                            placeholder="Security Question" aria-describedby="SecurityQuestion-group" autocomplete="false" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Security Answer</label>
                        <input type="text" id="SecurityAnswer" name="SecurityAnswer" formControlName="SecurityAnswer" class="pl-0 form-control" placeholder="Security Answer"
                            aria-describedby="SecurityAnswer-group" autocomplete="false" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Old Password</label>
                        <input type="password" id="OldPassword" name="OldPassword" formControlName="OldPassword" class="pl-0 form-control" placeholder="Old Password"
                            aria-describedby="OldPassword-group" autocomplete="false" />
                        <span class="input-group-addon" id="OldPassword-group">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>New Password</label>
                        <input class="pl-0 form-control" type="password" id="NewPassword" name="NewPassword" formControlName="NewPassword" placeholder="New Password"
                            autocomplete="false" />
                        <span class="input-group-addon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Confirm Password</label>
                        <input class="pl-0 form-control" type="password" id="ConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password"
                            autocomplete="false" />
                        <span class="input-group-addon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-def btn-block">Change Password</button>
                    <button class="btn btn-def btn-block" type="button" (click)="onCancelClick($event)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right error_holder hidden-sm-down">
        <div class="error_white" *ngIf="changePasswordForm.controls.SecurityQuestion.hasError('required')" [hidden]="changePasswordForm.controls.SecurityQuestion.valid || (changePasswordForm.controls.SecurityQuestion.pristine && !submitted)">
            <small class="text-danger">Security question is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.SecurityAnswer.hasError('required')" [hidden]="changePasswordForm.controls.SecurityAnswer.valid || (changePasswordForm.controls.SecurityAnswer.pristine && !submitted)">
            <small class="text-danger"> Security answer is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.OldPassword.hasError('required')" [hidden]="changePasswordForm.controls.OldPassword.valid || (changePasswordForm.controls.OldPassword.pristine && !submitted)">
            <small class="text-danger">Old password is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.NewPassword.hasError('required')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">New password is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.NewPassword.hasError('minlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">Minimum password length 8 is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.NewPassword.hasError('maxlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">Maximum password length 20 is allowed</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.NewPassword.hasError('pattern')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">
                <ul>
                    <li>Following complexity is required for password</li>
                    <li>At least 1 upper-case character</li>
                    <li>At least 1 lower-case character</li>
                    <li>At least 1 numeric digit</li>
                    <li>At least 1 special [@,#,$,%] character</li>
                    <li>No blank space allowed</li>
                </ul>
            </small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('required')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)">
            <small class="text-danger">Confirm password is required</small>
        </div>

        <div class="error_white" *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('notSame')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)">
            <small class="text-danger">Confirm password does not match</small>
        </div>
    </div>
</div>