<div class="row">
    <div class="loginholder-container">
        <div id="logo-container"></div>
        <div class="col-12 hidden-md-up">
            <small *ngIf="forgotPasswordForm.controls.EmailOrUserName.hasError('required')" [hidden]="forgotPasswordForm.controls.EmailOrUserName.valid || (forgotPasswordForm.controls.EmailOrUserName.pristine && !submitted)"
                class="text-danger pull-left">● Email or UserName is required</small>

            <small class="text-danger pull-left" *ngIf="forgotPasswordForm.controls.SecurityAnswer.hasError('required')" [hidden]="forgotPasswordForm.controls.SecurityAnswer.valid || (forgotPasswordForm.controls.SecurityAnswer.pristine && !submitted)">● Security answer is required</small>

            <small class="text-danger pull-left" *ngIf="forgotPasswordForm.controls.NewPassword.hasError('required')" [hidden]="forgotPasswordForm.controls.NewPassword.valid || (forgotPasswordForm.controls.NewPassword.pristine && !submitted)">● New password required</small>

            <small class="text-danger pull-left" *ngIf="forgotPasswordForm.controls.NewPassword.hasError('minlength')" [hidden]="forgotPasswordForm.controls.NewPassword.valid || (forgotPasswordForm.controls.NewPassword.pristine && !submitted)">● Minimum password length 8 is required</small>

            <small class="text-danger pull-left" *ngIf="forgotPasswordForm.controls.NewPassword.hasError('maxlength')" [hidden]="forgotPasswordForm.controls.NewPassword.valid || (forgotPasswordForm.controls.NewPassword.pristine && !submitted)">● Maximum password length 20 is allowed</small>

            <small class="text-danger pull-left" *ngIf="forgotPasswordForm.controls.NewPassword.hasError('pattern')" [hidden]="forgotPasswordForm.controls.NewPassword.valid || (forgotPasswordForm.controls.NewPassword.pristine && !submitted)">
                <ul>
                    <li>Following complexity is required for password</li>
                    <li>At least 1 upper-case character</li>
                    <li>At least 1 lower-case character</li>
                    <li>At least 1 numeric digit</li>
                    <li>At least 1 special [@,#,$,%] character</li>
                    <li>No blank space allowed</li>
                </ul>    
            </small>

            <small class="text-danger pull-left" *ngIf="forgotPasswordForm.controls.ConfirmPassword.hasError('required')" [hidden]="forgotPasswordForm.controls.ConfirmPassword.valid || (forgotPasswordForm.controls.ConfirmPassword.pristine && !submitted)">● Confirm password required</small>

            <small class="text-danger pull-left" *ngIf="forgotPasswordForm.controls.ConfirmPassword.hasError('notSame')" [hidden]="forgotPasswordForm.controls.ConfirmPassword.valid || (forgotPasswordForm.controls.ConfirmPassword.pristine && !submitted)">● Confirm password does not match</small>
        </div>
        <div class="col-12">
            <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onSubmit(forgotPasswordForm.value)" class="form-signin loginform">
                <div class="form-group">
                    <span class="text-danger">{{errorMessage}}</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label> UserID/Email</label>
                        <input class="form-control" type="text" id="EmailOrUserName" name="EmailOrUserName" formControlName="EmailOrUserName" placeholder="UserID/Email"
                            (blur)="onBlurMethod($event.target.value)" />
                    </div>
                </div>
                <div class="form-group" *ngIf="SecurityQuestion !== ''">
                    <div class="input-group">
                        <label> Security Question</label>
                        <input class="form-control" type="hidden" id="SecurityQuestion" name="SecurityQuestion" formControlName="SecurityQuestion"
                        />
                        <label class="form-control">{{SecurityQuestion}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label> Security Answer</label>
                        <input class="form-control" type="text" id="SecurityAnswer" name="SecurityAnswer" formControlName="SecurityAnswer" placeholder="Security Answer"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label> New Password</label>
                        <input class="form-control" type="password" id="NewPassword" name="NewPassword" formControlName="NewPassword" placeholder="New Password"
                        />
                        <span class="input-group-addon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" id="ConfirmPassword" formControlName="ConfirmPassword" placeholder="Confirm Password"
                        />
                        <span class="input-group-addon"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-def btn-block">Reset Password</button>
                    <button class="btn btn-def btn-block" type="button" (click)="onCancelClick($event)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right error_holder hidden-sm-down">
        <div class="error_white" *ngIf="forgotPasswordForm.controls.EmailOrUserName.hasError('required')" [hidden]="forgotPasswordForm.controls.EmailOrUserName.valid || (forgotPasswordForm.controls.EmailOrUserName.pristine && !submitted)">
            <small class="text-danger">Email or UserName is required</small>
        </div>

        <div class="error_white" *ngIf="forgotPasswordForm.controls.SecurityAnswer.hasError('required')" [hidden]="forgotPasswordForm.controls.SecurityAnswer.valid || (forgotPasswordForm.controls.SecurityAnswer.pristine && !submitted)">
            <small class="text-danger">Security answer is required</small>
        </div>

        
        <div class="error_white" *ngIf="forgotPasswordForm.controls.NewPassword.hasError('required')" [hidden]="forgotPasswordForm.controls.NewPassword.valid || (forgotPasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">New password required</small>
        </div>

        <div class="error_white" *ngIf="forgotPasswordForm.controls.NewPassword.hasError('minlength')" [hidden]="forgotPasswordForm.controls.NewPassword.valid || (forgotPasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">Minimum password length 8 is required</small>
        </div>

        <div class="error_white" *ngIf="forgotPasswordForm.controls.NewPassword.hasError('maxlength')" [hidden]="forgotPasswordForm.controls.NewPassword.valid || (forgotPasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">Maximum password length 20 is allowed</small>
        </div>

        <div class="error_white" *ngIf="forgotPasswordForm.controls.NewPassword.hasError('pattern')" [hidden]="forgotPasswordForm.controls.NewPassword.valid || (forgotPasswordForm.controls.NewPassword.pristine && !submitted)">
            <small class="text-danger">
                <ul>
                    <li>Following complexity is required for password</li>
                    <li>At least 1 upper-case character</li>
                    <li>At least 1 lower-case character</li>
                    <li>At least 1 numeric digit</li>
                    <li>At least 1 special [@,#,$,%] character</li>
                    <li>No blank space allowed</li>
                </ul>    
            </small>
        </div>

        <div class="error_white" *ngIf="forgotPasswordForm.controls.ConfirmPassword.hasError('required')" [hidden]="forgotPasswordForm.controls.ConfirmPassword.valid || (forgotPasswordForm.controls.ConfirmPassword.pristine && !submitted)">
            <small class="text-danger">Confirm password required</small>
        </div>

        <div class="error_white" *ngIf="forgotPasswordForm.controls.ConfirmPassword.hasError('notSame')" [hidden]="forgotPasswordForm.controls.ConfirmPassword.valid || (forgotPasswordForm.controls.ConfirmPassword.pristine && !submitted)">
            <small class="text-danger">Confirm password does not match</small>
        </div>
    </div>
</div>