<div class="row1">
    
    
    <div class="loginholder-container">
        <div id="logo-container"></div>
        <div class="col-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" id="loginForm" class="form-signin loginform">
                <div class="form-group">
                    <span id="reauth-email" class="reauth-email"></span>
                </div>
                <div class="form-group input-group ">
                   <label>User Name</label>
                    <input class="form-control" type="text" autocomplete="new-password" id="userId" [formControl]="userId" placeholder="User Name" />
                </div>
                <div class="form-group input-group ">
                     <label>Password</label>
                    <input class="form-control" type="password" autocomplete="new-password" id="password" [formControl]="password" placeholder="Password" />
                </div>
                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember Me
                    </label>
                </div>-->
                <div class="form-group">
                    <button type="submit" class="btn btn-def btn-block">Sign In</button>
                </div>
                <div class="form-group text-center">
                    <a [routerLink]="['./forgot']" class="forgot-password">Forgot Password</a>
                </div>
            </form>
        </div>
    </div>
   
</div>