<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-signin">

            <span id="reauth-email" class="reauth-email"></span>
            <input class="form-control" type="text" id="UserId" [formControl]="userId" placeholder="User Id" />
            <input class="form-control" type="password" id="UserId" [formControl]="password" placeholder="Password" />

            <div id="remember" class="checkbox">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            </div>

            <button type="submit" [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block btn-signin">Sign In</button>
        </form>
        <a href="#" class="forgot-password">
        Forgot the password?
    </a>
    </div>
</div>