@import '../../config/config';
.statusRed {
    background: $rag-red none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}

.statusGreen {
    background: $rag-green none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}

.statusAmber {
    background: $rag-amber none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}

.entryHolder {
    background: $entryholder-background;
    padding: 15px;
    border: $entryholder-color solid 1px;
    float: left; // margin: 15px 23px;
    @media screen and (max-width: $resMD-S) {
        margin: 15px 1.5%;
    }
}

// .addbuttonHolder {
//     padding: 5px 15px;
//     float: right;
// }
// .formStyle{
//     width : 97%;
// }
.noBorder {
    border: none !important;
}

.halfBoxStyle {
    width: 49.5%;
    padding-left: 14px;
}

.modalBodyHeaderStyle {
    background-color: #e8e5e5;
    padding: 5px;
}

.lebelHeaderStyle {
    text-align: center;
}

// .buttonholder {
//     float: right;
//     vertical-align: middle;
//     padding-right: 6px;
// }
.holderRemark {
    padding-left: 23px;
    padding-right: 7px;
}

.buttonholderRemark {
    float: right;
    vertical-align: middle;
    padding-right: 6px;
    padding-top: 21px;
}

.marg25 {
    margin-top: 25px;
}