@import '../../config/config';

.halfBoxStyle{
        width: 49.5%;
    padding-left: 14px;
}
.entryHolder{
    background: $entryholder-background;
    padding: 15px;
    border: $entryholder-color solid 1px;
    float: left;
    margin: 15px 23px;
@media screen and (max-width: $resMD-S){
margin: 15px 1.5%;
}


}
