@import '../../config/config';

.entryHolder{
    background: $entryholder-background;
    padding: 15px;
    border: $entryholder-color solid 1px;
    float: left;
    margin: 15px 23px;
}

.addbuttonHolder{
  padding: 5px 15px;
    float: right;
}

.formStyle{
    width : 97%;
}

.buttonholder{
        float: right;
    vertical-align: middle;
    padding-top: 27px;
}