<div class="row">
    <div class="col-12">
        <responsive-table>
            <table responsive-table-body>
                <thead>
                    <tr>
                        <th>Caller Name</th>
                        <th>Contact Number</th>
                        <th>PDA Name</th>
                        <th>Relationship</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="allAssignedCalls.length != 0">
                        <td colspan="5">No queries to show.</td>
                    </tr>
                    <tr *ngFor="let call of allAssignedCalls">
                        <td data-title="Caller Name"><span *ngIf="call.Caller">{{call.Caller.FirstName + " "+ call.Caller.LastName}}</span>&nbsp;</td>
                        <td data-title="Caller Number"><span *ngIf="call.Caller">{{call.Caller.ContactNumber}}</span>&nbsp;</td>
                        <td data-title="PDA Name"><span *ngIf="call.PDAEnquiry">{{getPDAName(call.PDAEnquiry.AffectedPersonId)}}</span>&nbsp;</td>
                        <td data-title="PDA Relation"><span *ngIf="call.Caller">{{call.Caller.Relationship}}</span>&nbsp;</td>
                        <td data-title="Action">
                            <i *ngIf="!isArchive" class="fa fa-edit fa-2x" (click)="openCallcenter(call.ExternalInputId)"></i>
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </responsive-table>
    </div>
</div>


<div bsModal #childModalcallcenter="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Passenger Enquiry</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelCallcenter()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="callcenterload">
                    <call-centre-main [callid]="callId" [enquiryType]="1" [modalType]="modalType"></call-centre-main>
                </div>
            </div>
        </div>
    </div>
</div>