<div [hidden] = "IsVisible">
    <div class="modalcross">
        <i class="fa fa-times" aria-hidden="true" (click)="cancel()"></i>
    </div>
    <div class="modal-header">
        <h4>View Invalid Crews</h4>
    </div>
    <div class="modal-body">
        <form name="viewPaxForm">
            <div class="panel-body WidthHun" *ngIf="invalidCrews.length > 0">
                <table class="table footable default">
                    <thead>
                        <tr>
                            <th>Employee Number</th>
                            <th>Employee Name</th>
                            <th>Assigned Category</th>
                            <th>Operating Crew</th>
                            <th>Base Location</th>
                            <th>Email Id</th>
                            <th>Departure Station</th>
                            <th>Arrival Station</th>
                            <th>Flight Number</th>
                            <th>Work Position</th>
                            <th>Contact Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let affected of invalidCrews">
                            <td>{{affected.EmployeeNumber}}</td>
                            <td>{{affected.CrewName}}</td>
                            <td>{{affected.AsgCat}}</td>
                            <td>{{affected.DeadheadCrew.toString().trim()=="" ? "Yes":"No"}}</td>
                            <td>{{affected.BaseLocation}}</td>
                            <td>{{affected.Email}}</td>
                            <td>{{affected.DepartureStationCode}}</td>
                            <td>{{affected.ArrivalStationCode}}</td>
                            <td>{{affected.FlightNo}}</td>
                            <td>{{affected.WorkPosition}}</td>
                            <td>{{affected.ContactNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-body WidthHun" *ngIf="invalidCrews.length<=0">
                <table class="table footable default">
                    <tr>
                        <td>
                            No Records Found
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>