<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <!-- <th>Flight Details</th> -->
                <th>POL</th>
                <th>POU</th>
                <th>AWB</th>
                <th>Manifest Pieces</th>
                <th>Manifest Weight</th>
                <th>Shipper’s Name</th>
                <th>Shipper’s Address</th>
                <th>Shipper’s Contact Number</th>
                <th>Consignee's Name</th>
                <th>Consignee's Address</th>
                <th>Consignee's Contact Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Cargo Type</th>
                <th>Advisory To Consignee</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="invalidCargoes.length<=0">
                <td data-title="Records" colspan="6">No records to show.</td>
            </tr>
            <tr *ngFor="let affected of invalidCargoes">
                <!-- <td data-title="Flight Details">{{affected.FlightDetails}}</td> -->
                <td data-title="POL">{{affected.POL}}</td>
                <td data-title="POU">{{affected.POU}}</td>
                <td data-title="AWB">{{affected.AWB}}</td>
                <td data-title="Manifest Pieces">{{affected.mftpcs}}</td>
                <td data-title="Manifest Weight">{{affected.mftwgt}}</td>
                <td data-title="Shipper’s Name">{{affected.ShipperName}}</td>
                <td data-title="Shipper’s Address">{{affected.ShipperAddress}}</td>
                <td data-title="Shipper’s Contact Number">{{affected.ShipperContactNo}}</td>
                <td data-title="Consignee's Name">{{affected.ConsigneeName}}</td>
                <td data-title="Consignee's Address">{{affected.ConsigneeAddress}}</td>
                <td data-title="Consignee's Contact Number">{{affected.ConsigneeContactNo}}</td>
                <td data-title="Origin">{{affected.Origin}}</td>
                <td data-title="Destination">{{affected.Destination}}</td>
                <td data-title="Cargo Type">{{affected.CargoType}}</td>
                <td data-title="Advisory To Consignee">{{affected.AdvisoryToConsignee}}</td>
            </tr>
        </tbody>
    </table>
</responsive-table>