<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Employee Number</th>
                <th>Employee Name</th>
                <th>Assigned Category</th>
                <th>Operating Crew</th>
                <th>Base Location</th>
                <th>Email Id</th>
                <th>Departure Station</th>
                <th>Arrival Station</th>
                <!-- <th>Flight Number</th> -->
                <!-- <th>Work Position</th> -->
                <th>Contact Number</th>
                <th>License Records</th>
                <th>Qualification Records</th>
                <th>Error Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="invalidCrews.length<=0">
                <td data-title="Records" colspan="11">No records to show.</td>
            </tr>
            <tr *ngFor="let affected of invalidCrews">
                <td data-title="Employee Number">{{affected.EmployeeNumber}}</td>
                <td data-title="Employee Name">{{affected.CrewName}}</td>
                <td data-title="Assigned Category">{{affected.AsgCat}}</td>
                <td data-title="Operating Crew">{{affected.DeadheadCrew.toString().trim()=="" ? "Yes":"No"}}</td>
                <td data-title="Base Location">{{affected.BaseLocation}}</td>
                <td data-title="Email Id">{{affected.Email}}</td>
                <td data-title="Departure Station">{{affected.DepartureStationCode}}</td>
                <td data-title="Arrival Station">{{affected.ArrivalStationCode}}</td>
                <!-- <td data-title="Flight Number">{{affected.FlightNo}}</td> -->
                <!-- <td data-title="Work Position">{{affected.WorkPosition}}</td> -->
                <td data-title="Contact Number">{{affected.ContactNumber}}</td>
                <td data-title="License Records">{{affected.LicenseRecords}}</td>
                <td data-title="Qualification Records">{{affected.QualificationRecords}}</td>
                <td data-title="Error Reason">{{affected.QualificationRecords}}</td>
            </tr>
        </tbody>
    </table>
</responsive-table>