Main view
<!--<ul class="nav nav-tabs" role="tablist">
    <li role="affectedTabs" class="active"><a href="#" (click)="selectTab(affectedPeople)" aria-controls="affectedPeople" role="tab" data-toggle="tab">Passenger Directly Affected</a></li>
    <li role="affectedTabs"><a href="#" (click)="selectTab(affectedPeopleToVerify)" aria-controls="affectedPeopleToVerify" role="tab" data-toggle="tab">Verify Passenger Manifest</a></li>
      </ul>

      <div class="tab-content">-->

         <a [routerLink]="['../affectedPeopleList']">Affected People</a>
         </br>
          <a [routerLink]="['../affectedPeopleToVerify']">Affected People Verify</a>
         <!--<ng-content></ng-content>-->
  <!--</div>-->

 

