@import '../../config/config';
.col-no-left-padding {
    padding-left: 0 !important;
}

.col-no-right-padding {
    padding-right: 0 !important;
}

.row-no-padding>[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.labelStyle {
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.entryHolder {
    background: $entryholder-background;
    padding: 15px;
    border: $entryholder-color solid 1px;
    float: left; // margin: 15px 23px;
    @media screen and (max-width: $resMD-S) {
        margin: 15px 1.5%;
    }
}

// .addbuttonHolder {
//     padding: 5px 15px;
//     float: right;
// }
// .formStyle{
//     width : 97%;
// }
.heightFix {
    height: 94px;
}

// .buttonholder {
//     float: right;
//     vertical-align: middle;
//     padding-top: 27px;
// }
.multiselect-selector {
    background: $multiselect-background none repeat scroll 0 0;
    border: $multiselect-border solid 1px;
    border-radius: 3px;
    color: $multiselect-color;
    padding: 4px 5px;
    width: 100%;
    font-size: 12px;
}

// .multiselect-list {
//     background: $multiselect-background none repeat scroll 0 0;
//     border: $multiselect-border solid 1px;
//     border-radius: 0 0 6px 6px;
//     color: $multiselect-color;
//     padding: 5px 8px;
//     width: 93.5%;
//     font-size: 12px;
//     max-height: 150px;
//     position: absolute;
//     z-index: 999;
//     overflow-x: hidden;
//     overflow-y: auto;
//     top: 51px;
// }
// .butt-des{
//     text-align: right;
//     padding-bottom: 8px
// }
.anchor-Export {
    margin-right: 15px;
}

.btn-pos {
    margin-right: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width: $resXXS-S) {
    .btn-pos {
        margin-right: 6px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: $resXS-E) {}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {
    .btn-pos {
        margin-right: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    .btn-pos {
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}

@media screen and (min-width: $resXL-S) {}