@import '../../config/config';
.multiselect-selector {
    background: $multiselect-background none repeat scroll 0 0;
    border: $multiselect-border solid 1px;
    color: $multiselect-color;
    padding: 4px 5px;
    width: 100%;
    font-size: 12px;
    .inputStyle {
        width: 90% !important;
        display: -webkit-inline-box !important;
        border: none !important;
        font-size: 12px;
        padding: 0px;
        line-height: 1.25;
        color: $multiselect-color;
    }
    .crossStyle {
        font-size: 20px;
        color: $cross-color;
        float: right;
    }
    .expandStyle {
        font-size: 20px;
        color: $expand-color;
        float: right;
    }
}

ul.multiselect-list {
    background: $multiselect-background none repeat scroll 0 0;
    border: $multiselect-border solid 1px;
    border-radius: 0 0 6px 6px;
    color: $multiselect-color;
    width: 95%;
    font-size: 12px;
    height: 150px;
    position: absolute;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    top: 51px;
    li {
        padding: 6px 10px;
        font-size: 12px;
        cursor: default;
        text-transform: uppercase;
        ul.multiselect-actionlist {
            // display: inline;
            padding: 0;
            margin: 0;
            list-style-type: none;
            float: right;
            li {
                padding: 6px 6px;
                margin: 0;
                display: inline;
                cursor: pointer;
            }
        }
    }
    li:hover {
        background-color: rgba(92, 196, 239, 0.2);
    }
}

@media screen and (max-width: $resXS-E) {
    ul.multiselect-list {
        width: 91.5%;
    }
}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {
    ul.multiselect-list {
        width: 91.5%;
    }
}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    ul.multiselect-list {
        width: 90.5%;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {
    ul.multiselect-list {
        width: 93.5%;
    }
}

@media screen and (min-width: $resXL-S) {
    ul.multiselect-list {
        width: 95%;
    }
}