<div class="row">
    <div class="col-12 col-md-5 col-lg-6 no-gutters prod-align">
        <span class="prod-name prod-align">Crisis Management system</span>
        <span class="client-name prod-align">Crisis Management system</span>
    </div>

    <div class="col-6 col-md-2 top-dw-align no-gutters">
        <div class="btn-group">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Incident
                        </a>
            <!--<div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>-->
        </div>
    </div>
    <div class="col-6 col-md-2 top-dw-align no-gutters">
        <div class="btn-group">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Department
                        </a>
            <!--<div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>-->
        </div>
    </div>
    <div class="col-12 col-md-2 top-dw-align no-gutters">
        <div class="btn-group">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sandip
                        </a>
            <!--<div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>-->
        </div>
    </div>
</div>