<div class="row">
    <div class="col-12 col-md-5 col-lg-6 no-gutters prod-align">
        <span class="prod-name prod-align">Crisis Management System</span>
        <span class="client-name prod-align">{{clientName}}</span>
    </div>

    <div class="col-6 col-md-3 top-dw-align no-gutters">
        <div class="btn-group">
            <custom-dropdown 
                [dataItems]="incidents" 
                [placeholder]="incidentPlaceholder"
                [initialValue]="currentIncidentId"
                (onChange)="onIncidentChange($event)">
            </custom-dropdown>
        </div>
    </div>
    <div class="col-6 col-md-3 top-dw-align no-gutters">
        <div class="btn-group">
            <custom-dropdown 
                [dataItems]="departments" 
                [placeholder]="departmentPlaceholder" 
                [initialValue]="currentDepartmentId"
                (onChange)="onDepartmentChange($event)">
            </custom-dropdown>
        </div>
    </div>
</div>
