<div class="card-block">
    <div class="row">
        <div class="form-group col-lg-6 col-sm-12 col-md-12">
            <label for="Passengers">Departments:<span class="required">*</span></label>
            <autocomplete [items]="items" (notify)='onNotify($event)' (InvokeAutoCompleteReset)="invokeReset();"></autocomplete>
        </div>
    </div>
    <div class="row">
        <div class="col-12 buttonholder">
            <button class="btn btn-primary" type="button" (click)="save()">Submit</button>
        </div>
    </div>
    <div class="hidden-lg-up">
        <md-checkbox id="IsAutoApproved" [(ngModel)]="allSelectView" (change)="selectAllDeptView($event)" aria-label="Add">Can View</md-checkbox>
    </div>
    <div class="hidden-lg-up">
        <md-checkbox id="IsAutoApproved" [(ngModel)]="allSelectOnlyHOD" (change)="selectAllDeptOnlyHOD($event)" aria-label="Add">Only HOD</md-checkbox>
    </div>
    <responsive-table>
        <table responsive-table-body>
            <thead>
                <tr>
                    <th>Module Name</th>
                    <th>Page Name</th>
                    <th>Parent Page</th>
                    <!--<th>Sort Order</th>-->
                    <th>
                        <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="allSelectView" (change)="selectAllDeptView($event)" aria-label="Add">Can View</md-checkbox>
                    </th>
                    <th>
                        <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="allSelectOnlyHOD" (change)="selectAllDeptOnlyHOD($event)" aria-label="Add">Only HOD</md-checkbox>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="pagesForDepartment.length != 0">
                    <td colspan="5">No records found.</td>
                </tr>
                <tr *ngFor="let pageFordepartment of pagesForDepartment">
                    <td data-title="Module Name" title="{{pageFordepartment.ModuleName}}"><span class="trimString">{{pageFordepartment.ModuleName}}</span></td>
                    <td data-title="Page Name" title="{{pageFordepartment.PageName}}"><span class="trimString">{{pageFordepartment.PageName}}</span></td>
                    <td data-title="Parent Page" title="{{pageFordepartment.ParentPageName}}"><span class="trimString">{{pageFordepartment.ParentPageName}}</span></td>
                    <!--<td data-title="Sort Order"><span>{{pageFordepartment.SortOrder}}</span></td>-->
                    <td data-title="Can View">
                        <md-checkbox [disabled]="pageFordepartment.isDisabled" id="IsAutoApproved" class="allowView" [(ngModel)]="pageFordepartment.AllowView" aria-label="Add" (change)="checkStatusView($event,pageFordepartment)"></md-checkbox>
                    </td>
                    <td data-title="Is HOD">
                        <md-checkbox id="IsAutoApproved" [disabled]="!pageFordepartment.isOnlyHOD" class="onlyHod" [(ngModel)]="pageFordepartment.OnlyForHod" aria-label="Add" (change)="checkAllStatusOnlyHOD($event)"></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </responsive-table>
    <div class="row">
        <div class="col-12 buttonholder">
            <button class="btn btn-primary" type="button" (click)="save()">Submit</button>
        </div>
    </div>
</div>