<div class="card-block">
    <div class="row">
        <div class="form-group col-lg-6 col-sm-12 col-md-12">
            <label for="Passengers">Departments:<span class="required">*</span></label>
            <autocomplete [items]="items" (notify)='onNotify($event)' (InvokeAutoCompleteReset)="invokeReset();"></autocomplete>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 text-right">
            <button class="btn btn-primary pull-right" type="button" (click)="save()">Submit</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <page-functionality-hierarchy [currentDepartmentId]="selectedDepartment"></page-functionality-hierarchy>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary pull-right" type="button" (click)="save()">Submit</button>
        </div>
    </div>
</div>