.col-no-left-padding{
    padding-left: 0 !important;
}
.col-no-right-padding{
    padding-right: 0 !important;
}
.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.labelStyle{
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.butt-des{
    text-align: right;
    padding-bottom: 8px
}