<div class="row messaging-widget-container no-gutters">
    <div class="col-3 col-md-12 col-lg-3 border-seperator">
        <div class="message-icon">
            <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
            <span>president message</span>
            <a href="#">view all</a>
        </div>
    </div>
    <div class="col-9 col-md-12 col-lg-9">
        <text-accordion [accordionItems]="presidentMessages"></text-accordion>
    </div>
</div>

<!--<h2>President Messages</h2>
<ul>
    <li *ngFor="let presidentMessage of presidentMessages | async">
        <span>{{presidentMessage.Message}}
            <i>{{presidentMessage.PublishedOn}}</i>
        </span>
    </li>
</ul>-->

<!-- "View All Presidents Messages" Modal Panel -->
<!--<a (click) = "openPresidentMessages(false,$event)" href="">View All President Messages</a>

<div class="modal-body" [hidden]="isHidden">
    <div class="modalcross">
        <a (click) = "openPresidentMessages(true,$event)" href=""><i class="fa fa-times" aria-hidden="true" ></i> </a>
    </div>
    <br />
    <h4>All Presidents Messages</h4>
    <div class="col-sm-12 innerBodyContent">
        <div class="MainSearch">
            <div class="WidthHun">
                <table class="table footable default ">
                    <thead>
                        <tr>
                            <th width="80%">President's Messages</th>
                            <th width="20%">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let presidentMessage of AllPresidentMessages | async">
                            <td width="80%">{{presidentMessage.Message}}</td>
                            <td width="20%">{{presidentMessage.PublishedOn}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->
