<div class="row justify-content-md-center no-gutters jumbotron">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 align-items-center">
        <a href="javascript:void(0);" (click)="onInitiateEmergencyLinkClick()" target="_blank">
            <div class="link-box">
                <i class="fa fa-bell fa-4x" aria-hidden="true"></i>
                <strong>Initiate Crisis</strong>
            </div>
        </a>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 align-items-center">
        <a href="javascript:void(0);" (click)="onMasterDataLinkClick()" target="_blank">
            <div class="link-box">
                <i class="fa fa-database fa-4x line-align" aria-hidden="true"></i>
                <strong>Manage Master Data</strong>
            </div>
        </a>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 align-items-center">
        <a href="javascript:void(0);" (click)="onArchiveLinkClick()" target="_blank">
            <div class="link-box">
                <i class="fa fa-archive fa-4x" aria-hidden="true"></i>
                <strong>Archive</strong>
            </div>
        </a>
    </div>
</div>