<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <input type="hidden" *ngIf="userProfileModel.UserProfileId != undefined" [(ngModel)]="userProfileModel.UserProfileId" formControlName="UserProfileId">
    <div class="AllSearchHolder">
        <div class="AllSearchHolderRow">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-9" style="padding-right:0;">
                        <label for="Email">Email:<span class="red">*</span></label>
                        <input class="form-control" id="txtEmail" type="email" formControlName="Email" ngControl="mailAddress" placeholder="Enter Email"
                            [(ngModel)]="userProfileModel.Email" required autofocus />
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="UserId">User Id:<span class="red">*</span></label>
                    <input class="form-control" id="txtUserId" type="text" formControlName="UserId" placeholder="Enter User Id" [(ngModel)]="userProfileModel.UserId"
                        required autofocus />
                </div>
            </div>
        </div>
        <div class="AllSearchHolderRow">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Name">Name:<span class="red">*</span></label>
                    <input class="form-control" id="txtName" type="text" formControlName="Name" placeholder="Enter Name" [(ngModel)]="userProfileModel.Name"
                        required autofocus />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="MainContact">MainContact:<span class="red">*</span></label>
                    <input class="form-control" id="txtMainContact" type="text" formControlName="MainContact" placeholder="Enter MainContact"
                        [(ngModel)]="userProfileModel.MainContact" required autofocus />
                </div>
            </div>
        </div>

        <div class="AllSearchHolderRow">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="AlternateContact">AlternateContact:</label>
                    <input class="form-control" id="txtAlternateContact" type="text" formControlName="AlternateContact" placeholder="Enter AlternateContact"
                        [(ngModel)]="userProfileModel.AlternateContact" required autofocus />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Location">Location:<span class="red">*</span></label>
                    <input class="form-control" id="Location" type="text" formControlName="Location" placeholder="Enter Location" [(ngModel)]="userProfileModel.Location"
                        required autofocus />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="Active">Active:</label>
                <input type="checkbox" [(ngModel)]="userProfileModel.isActive" aria-label="IsActive" formControlName="isActive">
            </div>
        </div>
    </div>
    <div class="">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>