<generic-search [filterConfigs] = "searchConfigs" 
        (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();"></generic-search>

<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                 <th>User Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Main Contact</th>
                <th>Alternate Contact</th>
                <th>Location</th>
                <th>IsActive</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="userProfiles.length != 0">
                <td colspan="6">No records found.</td>
            </tr>
            <tr *ngFor="let userprofile of userProfiles">
                <td data-title="User Id">{{userprofile.UserId}}</td>
                <td data-title="Name">{{userprofile.Name}}</td>
                <td data-title="Email">{{userprofile.Email }}</td>
                <td data-title="Main Contact">{{userprofile.MainContact}}</td>
                <td data-title="Alternate Contact">{{userprofile.AlternateContact}}</td>
                <td data-title="Location">{{userprofile.Location}}</td>
                 <td data-title="IsActive">
                    <md-checkbox class="Marght" id="IsActive" name="IsActive" [(ngModel)]="userprofile.isActive" (change)="checkChange($event,userprofile)"
                        aria-label="ActiveFlag">
                    </md-checkbox>
                </td>
                <td data-title="Action">
                    <i class="fa fa-edit fa-lg" (click)="UpdateUserProfile(userprofile)"></i>
                </td>
            </tr>

        </tbody>
    </table>
</responsive-table>



















<!--<div class="panel-body WidthHun">
    <table class="table footable default">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Main Contact</th>
                <th>Alternate Contact</th>
                <th>Location</th>
                <th>IsActive</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userprofile of userProfiles">
                <td>{{userprofile.UserId}}</td>
                <td>{{userprofile.Name}}</td>
                <td>{{userprofile.Email }}</td>
                <td>{{userprofile.MainContact}}</td>
                <td>{{userprofile.AlternateContact}}</td>
                <td>{{userprofile.Location}}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="userprofile.isActive" [disabled]="true" />
                </td>
                <td>
                    <button class="btn btn-warning" type="button" (click)="UpdateUserProfile(userprofile)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>-->