<div *ngIf="showAdd" class="formStyle card-block entryHolder">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <input type="hidden" *ngIf="userProfileModel.UserProfileId != undefined" [(ngModel)]="userProfileModel.UserProfileId" formControlName="UserProfileId">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="form-group">
                    <label for="Email">Email:<span class="required">*</span></label>
                    <input class="form-control" id="txtEmail" type="email" formControlName="Email" ngControl="mailAddress" placeholder="Enter Email"
                        autofocus />

                    <div class="error_white" *ngIf="form.controls.Email.hasError('required')" [hidden]="form.controls.Email.valid || (form.controls.Email.pristine && !submitted)">
                        <small class="text-danger">Required</small></div>
                    <div class="error_white" *ngIf="form.controls.Email.hasError('pattern')" [hidden]="form.controls.Email.valid || (form.controls.Email.pristine && !submitted)">
                        <small class="text-danger">Email address is not proper.</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="form-group">
                    <label for="UserId">User Id:<span class="required">*</span></label>
                    <input class="form-control" id="txtUserId" type="text" formControlName="UserId" placeholder="Enter User Id" />

                    <small *ngIf="form.controls.UserId.hasError('required')" [hidden]="form.controls.UserId.valid || (form.controls.UserId.pristine && !submitted)"
                        class="text-danger">Required</small>
                    <small *ngIf="form.controls.UserId.hasError('validateUserId')" [hidden]="form.controls.UserId.valid || (form.controls.UserId.pristine && !submitted)"
                        class="text-danger">Invalid Input</small>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <div class="form-group">
                    <label for="Name">Name:<span class="required">*</span></label>

                    <input class="form-control" id="txtName" type="text" formControlName="Name" placeholder="Enter Name" />

                    <small *ngIf="form.controls.Name.hasError('required')" [hidden]="form.controls.Name.valid || (form.controls.Name.pristine && !submitted)"
                        class="text-danger">Required</small>
                     <!-- <small *ngIf="form.controls.Name.hasError('validateName')" [hidden]="form.controls.Name.valid || (form.controls.Name.pristine && !submitted)"
                        class="text-danger">Invalid Input</small>  -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="form-group">
                    <label for="MainContact">Main Contact:<span class="required">*</span></label>
                    <input class="form-control" id="txtMainContact" type="text" formControlName="MainContact" placeholder="Enter MainContact"
                        autofocus />

                    <small *ngIf="form.controls.MainContact.hasError('required')" [hidden]="form.controls.MainContact.valid || (form.controls.MainContact.pristine && !submitted)"
                        class="text-danger">Required</small>

                    <small *ngIf="form.controls.MainContact.hasError('minlength')" [hidden]="form.controls.MainContact.valid || (form.controls.MainContact.pristine && !submitted)"
                        class="text-danger">Minimum contact lenght 10 is required</small>

                    <small *ngIf="form.controls.MainContact.hasError('maxlength')" [hidden]="form.controls.MainContact.valid || (form.controls.MainContact.pristine && !submitted)"
                        class="text-danger">Maximum contact lenght 10 is allowed</small>

                    <small *ngIf="form.controls.MainContact.hasError('pattern')" [hidden]="form.controls.MainContact.valid || (form.controls.MainContact.pristine && !submitted)"
                        class="text-danger">Only number allowed.</small>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="form-group">
                    <label for="AlternateContact">Alternate Contact:</label>
                    <input class="form-control" id="txtAlternateContact" type="text" formControlName="AlternateContact" placeholder="Enter AlternateContact"
                    />


                    <small *ngIf="form.controls.AlternateContact.hasError('minlength')" [hidden]="form.controls.AlternateContact.valid || (form.controls.AlternateContact.pristine && !submitted)"
                        class="text-danger">Minimum contact lenght 10 is required</small>

                    <small *ngIf="form.controls.AlternateContact.hasError('maxlength')" [hidden]="form.controls.AlternateContact.valid || (form.controls.AlternateContact.pristine && !submitted)"
                        class="text-danger">Maximum contact lenght 10 is allowed</small>

                    <small *ngIf="form.controls.AlternateContact.hasError('pattern')" [hidden]="form.controls.AlternateContact.valid || (form.controls.AlternateContact.pristine && !submitted)"
                        class="text-danger">Only number allowed.</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="form-group">
                    <label for="Location">Location:<span class="required">*</span></label>
                    <input class="form-control" id="Location" type="text" formControlName="Location" placeholder="Enter Location" />

                    <small *ngIf="form.controls.Location.hasError('required')" [hidden]="form.controls.Location.valid || (form.controls.Location.pristine && !submitted)"
                        class="text-danger">Required</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <md-checkbox id="IsTravelRequest" formControlName="isActive">
                        Active
                    </md-checkbox>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <md-checkbox id="IsVolunteered" formControlName="isVolunteered">
                        Volunteer Indicator
                    </md-checkbox>
                </div>
            </div>
            <div class="row">
                 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
         <hr>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 butt-des">
                <input type="file" #inputFileUserProfile id="file" (change)="getFileDetails($event,'UserProfile')" />
                
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 butt-align">
                <button class="btn btn-primary" type="button" (click)="uploadFiles()" [disabled] = "disableUploadButton">Upload</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a target="_self" href="{{HRInfoTemplatePath}}">
                    <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;HR Record Template
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a target="_self" href="{{HRTrainingTemplatePath}}">
                    <i class="fa fa-file-excel-o fa-fw fa-lg" aria-hidden="true"></i>&nbsp;HR Training Record Template
                </a>
            </div>
        </div>
    </form>
</div>

<div class="addbuttonHolder">
     <a href="javascript:void(0);" (click)="showAddRegion(showAdd)"><strong>{{showAddText}}</strong></a>
</div>