<div class="row" *ngIf="!(isShowPage | accesibility:currentDepartmentId:'NotifyPeople')">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>Department Wise Notify</strong>
            </div>
            <div class="card-block">
                <span class="validationAlert">
                    <span class="accessibility-error">{{accessibilityErrorMessage}}</span>
                </span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isShowPage | accesibility:currentDepartmentId:'NotifyPeople'" class="card">
    <div class="card-header">
        <strong>Department Wise Notify</strong>
    </div>
    <div class="card-block">
        <div class="row">
            <!-- <div class="col-md-6 col-sm-12">
                <multiselect-dropdown [data]="userAllocatedDepartments" [(ngModel)]="selectedItems" [settings]="multiselectSettings"
                    (onSelect)="onMultiselectItemSelect($event)" (onDeSelect)="onMultiselectItemDeSelect($event)"
                    (onSelectAll)="onMultiselectSelectAll($event)" (onDeSelectAll)="onMultiselectDeSelectAll($event)">
                </multiselect-dropdown>
            </div> -->
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-primary mr-2" aria-label="Expand or Collapse All" (click)="ExpandCollapseAll()">Expand
                    or Collapse All</button>
                <button type="button" class="btn btn-primary mr-2" aria-label="Notify" (click)="notify()">Notify
                    On Event</button>
                <button type="button" class="btn btn-primary" aria-label="Notify" (click)="notifyMessage()">Notify
                    Message</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="tree">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-primary mr-2" aria-label="Notify On Event" (click)="notify()">Notify
                    On Event</button>
                <button type="button" class="btn btn-primary" aria-label="Notify Message" (click)="notifyMessage()">Notify
                    Message</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #childModalEventNoificationMessage="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form [formGroup]="eventMessageForm" (ngSubmit)="saveNotificationMessage(eventMessageForm.value)">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Event Notification Message Preview</strong></h4>
                    <i class="fa fa-times pull-right" aria-hidden="true" (click)="hideEventNoificationMessage()"></i>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="AdditionalData">Message content</label>
                            <textarea class="form-control" rows="5" disabled [innerHTML]="appendedTemplate.Description"></textarea>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="AdditionalData">Enter additional text for notification</label>
                            <input id="AdditionalData" class="form-control" type="text" name="AdditionalData"
                                formControlName="AdditionalData" placeholder="Additional Data" />
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="pull-right btn btn-primary" aria-label="Close">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;
                                Send Notification
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div bsModal #childModalCustomNoificationMessage="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form [formGroup]="customMessageForm" (ngSubmit)="saveCustomNotificationMessage(customMessageForm.value)">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Custom Notification Message Preview</strong></h4>
                    <i class="fa fa-times pull-right" aria-hidden="true" (click)="hideCustomNoificationMessage()"></i>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="AdditionalData">Message content</label>
                            <textarea class="form-control" formControlName="MessageData" rows="5"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="pull-right btn btn-primary" aria-label="Close">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;
                                Send Notification
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>