<form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit(changePasswordForm.value)">
    <div class="row" *ngIf="errorMessage !== ''">
        <div class="col-12">
            <span class="text-danger">{{errorMessage}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="OldPassword">Old Password:<span class="required">*</span></label>
                <div class="input-group">
                    <input type="password" id="OldPassword" name="OldPassword" formControlName="OldPassword" class="form-control" placeholder="Old Password"
                        autocomplete="false" aria-describedby="OldPassword-group" />
                    <span class="input-group-addon" id="OldPassword-group">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </span>
                </div>
                <small [hidden]="changePasswordForm.controls.OldPassword.valid || (changePasswordForm.controls.OldPassword.pristine && !submitted)"
                    class="text-danger">Required</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="NewPassword">New Password:<span class="required">*</span></label>
                <div class="input-group">
                    <input type="password" id="NewPassword" name="NewPassword" formControlName="NewPassword" class="form-control" placeholder="New Password"
                        autocomplete="false" aria-describedby="NewPassword-group" />
                    <span class="input-group-addon" id="NewPassword-group">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </span>
                </div>
                <small *ngIf="changePasswordForm.controls.NewPassword.hasError('required')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)"
                    class="text-danger">Required</small>

                <small *ngIf="changePasswordForm.controls.NewPassword.hasError('minlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)"
                    class="text-danger">Minimum password lenght 8 is required</small>

                <small *ngIf="changePasswordForm.controls.NewPassword.hasError('maxlength')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)"
                    class="text-danger">Maximum password lenght 20 is allowed</small>

                <small *ngIf="changePasswordForm.controls.NewPassword.hasError('pattern')" [hidden]="changePasswordForm.controls.NewPassword.valid || (changePasswordForm.controls.NewPassword.pristine && !submitted)"
                    class="text-danger">
                    <ul>
                        <li>Following complexity is required</li>
                        <li>At least 1 upper-case character</li>
                        <li>At least 1 lower-case character</li>
                        <li>At least 1 numeric digit</li>
                        <li>At least 1 special [@,#,$,%] character</li>
                        <li>No blank space allowed</li>
                    </ul>    
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password:<span class="required">*</span></label>
                <div class="input-group">
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" formControlName="ConfirmPassword" class="form-control"
                        autocomplete="false" placeholder="Conform Password" aria-describedby="ConfirmPassword-group" />
                    <span class="input-group-addon" id="ConfirmPassword-group">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </span>
                </div>
                <small *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('required')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)"
                    class="text-danger">Required</small>

                <small *ngIf="changePasswordForm.controls.ConfirmPassword.hasError('notSame')" [hidden]="changePasswordForm.controls.ConfirmPassword.valid || (changePasswordForm.controls.ConfirmPassword.pristine && !submitted)"
                    class="text-danger">Confirm password does not match</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-warning" type="button" (click)="onCancelClick($event)">Cancel</button>
            </div>
        </div>
    </div>
</form>