@import '../../config/config';

.card-without-top-border {
    border-top: none !important;
}

.trailButtonStyle {
    font-size:20px;
    color:$trail-green;
}

.modalBodyHeaderStyle {
    background-color: #e8e5e5;
    padding: 5px;
}

.lebelHeaderStyle{
    text-align: center;
}

.buttonholder{
        float: right;
    vertical-align: middle;
    //padding-top: 27px;
}

.modalBodyHeaderStyle {
    background-color: #e8e5e5;
    padding: 5px;
}

.CallerClass{
    padding: 2px;
}

.dropdown-menu{
      padding: 0;
        margin-top: 19px;
        margin-left: 16px;
        border: none;
        ul li>a:hover {
            background-color: $sidemenu-active;
        }
        li.disable-hover>a:hover {
            background-color: $default !important;
            color: #000;
        }
}
.top-padding{
    padding-top: 20px;
}

.rowpadding{
        padding-top: 10px;
    padding-bottom: 5px;
}
