@import '../../config/config';
.widget-layout-fix {
    padding-right: 0 !important;
    padding-top: 15px !important;
}

@media screen and (max-width: $resXS-E) {}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}

@media screen and (min-width: $resXL-S) {}