@import '../config/config';
html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    font-size: $font-size-normal;
    font-family: $font-family-body;
    // -webkit-animation-duration: 0.1s;
    // -webkit-animation-name: fontfix;
    // -webkit-animation-iteration-count: 1;
    // -webkit-animation-timing-function: linear;
    // -webkit-animation-delay: 0.1s;
}

// @-webkit-keyframes fontfix {
//   from { opacity: 1; }
//   to { opacity: 1; }
// }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: $font-size-small;
}

.fill-height {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.row.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
    > {
        [class^="col-"],
        [class*=" col-"] {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}

header.branding {
    background: $header-bg;
    @include box-shadow(0, 2px, 10px, 0, $header-shadow);
    position: fixed;
    width: 100%;
    z-index: 99;
    height: $header-height;
}

footer {
    position: absolute;
    z-index: 99;
}

footer .row {
    bottom: 0;
    height: $footer-height;
    position: fixed;
    background-color: $footer-bg;
    width: 100%;
    @include box-shadow(0px, -2px, 2px, 0px, $footer-shadow);
    text-align: center;
    font-size: $font-size-small;
    vertical-align: middle;
    padding-top: 9px;
}

.container-fluid {
    background-color: $body-bg;
}

.tab-root-container {
    @include box-shadow(0, 2px, 10px, 0, $header-shadow);
    background-color: $body-bg;
    min-height: 150px;
    width: 98.8%;
}

section.body-container>.row {
    padding-right: 15px;
}

@media screen and (max-width: $resXS-E) {
    .body-container {
        margin-top: 50px;
    }
    .tab-root-container {
        width: 98%;
    }
}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    .body-container {
        padding-top: 60px;
        padding-left: 17%;
    }
    .tab-root-container {
        width: 98.3%;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {
    .body-container {
        padding-top: 36px;
        padding-left: 15%;
    }
    .tab-root-container {
        width: 98.4%;
    }
}

@media screen and (min-width: $resXL-S) {
    .body-container {
        padding-top: 36px;
        padding-left: 12%;
    }
}


/*
@media screen and (max-width: $resXS-E) {}
@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}
@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {}
@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}
@media screen and (min-width: $resXL-S) {}
*/