@import '../config/config';
@import '../../../assets/css/cms-icons';
html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    font-size: $font-size-normal;
    font-family: $font-family-body;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: $font-size-normal;
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}

.fill-height {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.row.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
    > {
        [class^="col-"],
        [class*=" col-"] {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}

header.branding {
    background: $header-bg;
    @include box-shadow(0, 2px, 10px, 0, $header-shadow);
    position: fixed;
    width: 100%;
    z-index: 99;
    height: $header-height;
}

footer {
    position: relative;
    z-index: 99;
    margin-top: 50px;
}

footer .row {
    bottom: 0;
    height: 27px;
    position: fixed;
    background-color: $footer-bg;
    width: 100%;
    @include box-shadow(0px, -2px, 2px, 0px, $footer-shadow);
    text-align: center;
    font-size: $font-size-small;
    vertical-align: middle;
    padding-top: 7px;
}

.container-fluid {
    background-color: $body-bg;
    padding: 0;
}

.grey-input {
    background-color: $disabled-background;
}

.validationAlert{
    color:red;
    font-weight: bold;
    font-size: 16px;
}

.tab-root-container {
    @include box-shadow(0, 2px, 10px, 0, $header-shadow);
    background-color: $body-bg;
    min-height: 150px;
    width: 98.8%;
}

section.body-container>.row {
    padding-right: 15px;
    background: #eeeded;
    margin-top: 15px;
}

pages {
    padding: 0 15px;
    float: left;
    width: 100%;
}
.widgetDefaultStyle{
    max-height: 121px;
    height: 121px;
}

@media screen and (max-width: $resXS-E) {
    .body-container {
        margin-top: 50px;
    }
    .tab-root-container {
        width: 98%;
    }
}

@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}

@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {
    .body-container {
        padding-top: 62px;
        padding-left: 17%;
    }
    .tab-root-container {
        width: 98.3%;
    }
}

@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {
    .body-container {
        padding-top: 53px;
        padding-left: 15%;
    }
    .tab-root-container {
        width: 100%;
    }
}

@media screen and (min-width: $resXL-S) {
    .body-container {
        padding-top: 47px;
        padding-left: 12%;
    }
}


/*
@media screen and (max-width: $resXS-E) {}
@media screen and (min-width: $resSM-S) and (max-width: $resSM-E) {}
@media screen and (min-width: $resMD-S) and (max-width: $resMD-E) {}
@media screen and (min-width: $resLG-S) and (max-width: $resLG-E) {}
@media screen and (min-width: $resXL-S) {}
*/