.buttonholder{
        float: right;
    vertical-align: middle;
    padding: 15px;
}

.trimString{
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
