<div class="col-1 hambarger-menu">
    <i class="fa fa-bars" aria-hidden="true" (click)="onHambargerClicked($event)"></i>
</div>
<div class="col-8 col-md-2 col-lg-1 logo-align no-gutters">
    <a [href]="logoUrl">
        <img [src]="logoImage" alt="TCG Logo" />
    </a>
</div>
<div class="col-3 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-gutters command-icons">
    <div class="row no-gutters">
        <div class="col-4">
            <i class="fa fa-user" data-dropdown="#dropdown-standard"></i>
            <div class="dropdown-menu dropdown-anchor-top-right dropdown-has-anchor" id="dropdown-standard">
                <ul>
                    <li class="disable-hover"><a href="#"><i class="fa fa-user-circle-o fa-lg"></i>&nbsp; Hi! {{userName}}</a></li>
                    <li class="disable-hover"><a href="#">Last Login: {{lastLogin| date:'medium'}}</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);" (click)="onLogoutClicked($event)"><i class="fa fa-sign-out  fa-lg"></i>&nbsp; Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <i class="fa fa-phone" (click)="onContactClicked($event)"></i>
        </div>
        <div class="col-4">
            <a target="_self" href="{{HelpFileFath}}" download="{{FileName}}">
                <i class="fa fa-question-circle fa-2x" ></i>
            </a>
            
        </div>
    </div>
</div>