<div class="col-1 hambarger-menu">
    <i class="fa fa-bars" aria-hidden="true" (click)="onHambargerClicked($event)"></i>
</div>
<div class="col-9 col-md-2 col-lg-1 logo-align no-gutters">
    <a [href]="logoUrl">
        <img [src]="logoImage" alt="TCG Logo" />
    </a>
</div>
<div class="col-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-gutters command-icons">
    <div class="row no-gutters">
        <div class="col-6">
            <i class="fa fa-phone"></i>
        </div>
        <div class="col-6">
            <i class="fa fa-question"></i>
        </div>
    </div>
</div>