<div class="container  multiselect-container">
    <div class="input-field col s12  multiselect-selector">
        <input id="item" type="text" class="validate filter-input form-control inputStyle"
         [(ngModel)]="query" (keyup)="filter()" (click)="filter()">
        <!--<label for="item">Item</label>-->
        <i class="fa fa-times crossStyle" aria-hidden="true" *ngIf="showClose()" (click)="clear()"></i>
        <!--<a *ngIf="showClose()" class="close" class="validate filter-input" aria-label="Close" (click)="clear()">Close</a>-->

    </div>
    <!--<pre>{{filteredList | json}}</pre>-->
    <!--<div class="suggestions" *ngIf="filteredList.length > 0">-->
        <ul class="multiselect-list" [hidden]="filteredList.length == 0">
            <li *ngFor="let item of filteredList" >
                <span>
                    <a (click)="select(item)">{{item.Key}}</a>
                </span>
            </li>
        </ul>
    <!--</div>-->
</div>