<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Broadcast Message</th>
                <th>Created On</th>
                <th>Submitted On</th>
                <th>Priority</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="broadcastMessages.length <= 0">
                <td colspan="10">No Message is broadcasted yet.</td>
            </tr>
            <tr *ngFor="let broadcastMessage of broadcastMessages">
                <td data-title="Broadcast Message" width="60%">{{broadcastMessage.Message}}</td>
                <td data-title="Created On">{{broadcastMessage.CreatedOn | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                <td data-title="Submitted On">{{broadcastMessage.SubmittedOn | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                <td data-title="Priority">{{broadcastMessage.Priority}}</td>
                <td data-title="Edit">
                    <button class="md-icon-button" aria-label="Edit" type="button" (click)="UpdateBroadcast(broadcastMessage)">
                        <span class="fa fa-edit fa-2x"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</responsive-table>