<form [formGroup]="form">
    <input type="hidden" *ngIf="broadcast.BroadcastId != undefined" [(ngModel)]="broadcast.BroadcastId" formControlName="BroadcastId">

    <div class="col-sm-6">
        <div class="form-group">
            <label for="Message">Broadcast Message:<span class="red">*</span></label><span class="MaxChartr">Max 1000 chars</span>
            <textarea class="form-control" id="Message" formControlName="Message" [readOnly]="broadcast.IsSubmitted" maxlength="1000"
                placeholder="Enter Broadcast Message" [(ngModel)]="broadcast.Message" required autofocus></textarea>
        </div>
    </div>
    <div class="col-sm-3">
        <label for="ParentCheckListId">Select Department: <span class="red">*</span></label>
        <div class="multiselect-container">
            <ul class="multiselect-list">
                <li>
                    <input type="checkbox" [(ngModel)]="IsAllSelected" formControlName="SelectAllDepartment" aria-label="Callback" (change)="selectAllDepartment(IsAllSelected)"
                        [readOnly]="broadcast.IsSubmitted" />
                    <span>Select All</span>
                </li>
                <li *ngFor="let BroadCastDepartmentMappingModel of BroadCastDepartmentMappings">
                    <input type="checkbox" formControlName="BroadCastDepartmentMappings" aria-label="Callback" [checked]="BroadCastDepartmentMappingModel.IsSelected"
                        (change)="selectDepartment($event,BroadCastDepartmentMappingModel)" [readOnly]="broadcast.IsSubmitted"
                    />
                    <span>{{BroadCastDepartmentMappingModel.TargetDepartment.DepartmentName}}</span>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-sm-3">
        <label for="Priority">Priority<span class="red">*</span></label>
        <select id="selectPriority" class="form-control" [(ngModel)]="broadcast.Priority" formControlName="Priority">
            <option *ngFor="let priority of priorities" [value]="priority.caption">
                    {{priority.caption}}
            </option>
        </select>
    </div>
    <div><br/></div>
    <div class="col-sm-12">
        <div class="TxtAlRght">
            <button class="btn btn-primary" type="submit" (click)="save(true)" [disabled]="broadcast.IsSubmitted">Submit</button>
            <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit" (click)="save(false)" [disabled]="broadcast.IsSubmitted">Save</button>
        </div>
    </div>
    <br/>
</form>