<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Broadcast Message</th>
                <th>Created On</th>
                <th>Submitted On</th>
                <th>Priority</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="broadcastMessages.length <= 0">
                <td colspan="5">No Message is broadcasted yet.</td>
            </tr>
            <tr *ngFor="let broadcastMessage of broadcastMessages">
                <td data-title="Broadcast Message" width="60%">{{broadcastMessage.Message}}</td>
                <td data-title="Created On">{{broadcastMessage.CreatedOn | date: 'dd-MMM-yyyy HH:mm'}}</td>
                <td data-title="Submitted On">{{broadcastMessage.SubmittedOn | date: 'dd-MMM-yyyy HH:mm'}}</td>
                <td data-title="Priority">{{broadcastMessage.Priority}}</td>
                <td data-title="Edit">
                    <i disabled ="isArchive" *ngIf="isShowAddEditBroadcast | accesibility:currentDepartmentId:'AddEditBroadcastMessage'" class="fa fa-edit fa-2x" (click)="UpdateBroadcast(broadcastMessage)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</responsive-table>