<div class="row row-fix">
    <div class="col-12">
        <div *ngIf="!isArchive">
            <broadcast-entry *ngIf="isShowAddEditBroadcast | accesibility:initiatedDepartment:'AddEditBroadcastMessage'" [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></broadcast-entry>
        </div>
    </div>
</div>
<div class="row row-fix">
    <div class="col-12">
        <broadcast-list [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></broadcast-list>
    </div>
</div>