<header brand-header class="row branding" 
    [userName]="userName"
    [lastLogin]="lastLogin"
    (hambargerClicked)="onToggleSideMenu($event)"
    (contactClicked)="onContactClicked($event)"
    (helpClicked)="onHelpClicked($event)"
    (logoutClicked)="onLogoutClicked($event)">
</header>
<section command-header class="command-menu" 
    [departments]="departments" 
    [incidents]="incidents"
    (departmentChange)="onDepartmentChange($event)"
    (incidentChange)="onIncidentChange($event)">
</section>