<div class="row clock-container no-gutters">
    <div *ngIf="!(isShow | accesibility:initiatedDepartmentId:'TimerWidget')" class="row no-gutters">
        <span class="accessibility-error">{{accessibilityErrorMessage}}</span>
    </div>
    <div class="col-sm-12 col-xs-12 clock-align">ELAPSED TIME</div>
    <div *ngIf="(isShow | accesibility:initiatedDepartmentId:'TimerWidget')" class="col">
        <span class="clock-number">{{days | padding: '0': 2}}</span>
        <span class="clock-text">days</span>
    </div>
    <div *ngIf="(isShow | accesibility:initiatedDepartmentId:'TimerWidget')" class="col clock-v-border">
        <span class="clock-number">{{hours | padding: '0': 2}}</span>
        <span class="clock-text">hours</span>
    </div>
    <div *ngIf="(isShow | accesibility:initiatedDepartmentId:'TimerWidget')" class="col">
        <span class="clock-number">{{minutes | padding: '0': 2}}</span>
        <span class="clock-text">minutes</span>
    </div>
</div>