<table class="table footable default ">
    <thead>
        <tr>
            <th width="80%">Media Releases</th>
            <th width="20%">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!mediaReleases.length">
            <td colspan="10">No Media Release is published yet.</td>
        </tr>
        <tr *ngFor="let query of mediaReleases">
            <td width="80%">{{query.Message}}</td>
            <td width="20%">{{query.PublishedOn}}</td>
        </tr>
    </tbody>
</table>