<div class="row weather-container">
    <div class="col-md-12 col-lg-6 current-weather">
        <div class="row">
            <div class="col-12 current-location">{{currentWeather.name}}, {{currentWeather.sys.country}}</div>
            <div class="col-12 current-date">{{currentWeather.localDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
        </div>
        <div class="row">
            <div class="col-6 current-logo">
                <i [ngClass]="currentWeather.icon"></i>
                <!--<p>{{currentWeather.weather[0].main}}</p>-->
            </div>
            <div class="col-6 current-temp">{{currentWeather.main.temp}}<i class="wi wi-celsius"></i></div>
        </div>
        <div class="row">
            <div class="col-6">
                <i class="wi wi-wind wi-towards-190-deg"></i>
                <p>{{currentWeather.wind.deg}} degrees</p>
            </div>
            <div class="col-6">
                <i class="wi wi-strong-wind"></i>
                <p>{{currentWeather.wind.speed}} meter/sec</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 weather-forecast">
        <div class="row" *ngFor="let item of weatherForecast.list; let i = index;">
            <div class="col-4">{{item.localDate | date: 'dd-MMM-yyyy HH:mm'}}</div>
            <div class="col-4">
                <i [ngClass]="item.icon"></i>
                <p>{{item.weather[0].main}}</p>
            </div>
            <div class="col-4">
                {{item.temp.max}}<i class="wi wi-celsius"></i>/
                {{item.temp.min}}<i class="wi wi-celsius"></i>
            </div>
        </div>
    </div>
</div>