<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="panel panel-default panel-minimal">
        <div class="panel-body InnerHolder">
            <input type="hidden" *ngIf="PresidentsMessage.PresidentsMessageId != undefined" [(ngModel)]="PresidentsMessage.PresidentsMessageId"
                formControlName="PresidentsMessageId">
            <div class="AllSearchHolder">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Message">President's Message:<span class="red">*</span></label><span class="MaxChartr">Max 500 chars</span>
                        <textarea class="form-control" id="Message" formControlName="Message" maxlength="500" [readOnly]="PresidentsMessage.IsPublished"
                            placeholder="Enter President's Message" [(ngModel)]="PresidentsMessage.Message" required autofocus></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Remarks">Remarks:</label><span class="MaxChartr">Max 500 chars</span>
                        <textarea class="form-control" id="Remarks" formControlName="Remarks" maxlength="500" [readOnly]="PresidentsMessage.IsPublished"
                            placeholder="Enter Remarks" [(ngModel)]="PresidentsMessage.Remarks" required autofocus></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="fromtop1">
                        <button class="btn btn-primary" type="submit" (click)="publish()" [disabled]="PresidentsMessage.IsPublished">Publish</button>
                        <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                        <button class="btn btn-primary" type="submit" (click)="save()" [disabled]="PresidentsMessage.IsPublished">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>