<div class="row" *ngIf="!(isShowPage | accesibility:currentDepartment:'InitiateACrisis')">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>Create an Event</strong>
            </div>
            <div class="card-block">
                <span class="validationAlert">
                    <span class="accessibility-error">{{accessibilityErrorMessage}}</span>
                </span>
            </div>
        </div>
    </div>
</div>
<incident-entry *ngIf="isShowPage | accesibility:currentDepartment:'InitiateACrisis'"></incident-entry>
