<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Releases</th>
                <th>Status</th>
                <th>Created On</th>
                <th>Sent For Approval On</th>                           
                <th>Edit</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!mediaReleases.length">
                <td colspan="10">No Releases to show.</td>
            </tr>
            <tr *ngFor="let query of mediaReleases">
                <td data-title="Releases" width="30%">{{query.MediaReleaseType}}</td>
                <td data-title="Status">{{query.MediaReleaseStatus === 'SentForApproval' ? 'Approval Pending': query.MediaReleaseStatus}}</td>
                <td data-title="Created On">{{query.CreatedOn | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                <td data-title="Sent For Approval On">{{query.SentForApprovalOn | date: 'dd-MMM-yyyy hh:mm a'}}</td>                      
                <td data-title="Edit">
                    <i class="fa fa-edit fa-2x" (click)="UpdateMediaRelease(query)"></i>
                </td>               
            </tr>
        </tbody>
    </table>
</responsive-table>