<div class="formStyle card-block entryHolder" *ngIf="showAdd">
    <form [formGroup]="form">
        <div class="panel panel-default panel-minimal">
            <div class="panel-body InnerHolder">
                <input type="hidden" *ngIf="media.MediaqueryId != undefined" [(ngModel)]="media.MediaqueryId" formControlName="MediaqueryId">
                <div class="AllSearchHolder">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="form-group">
                                <label for="Media Release Type">Select Media Release Type:<span class="required">*</span></label>
                                <select id="selectMediaRelease" formControlName="MediaReleaseType" name="MediaReleaseType" [ngModel]="currentTemplateMediaId"
                                    class="form-control" (change)="getContentFromTemplate($event)">
                                    <option value=''>Select Media Release Type</option>
                                    <option *ngFor="let template of templateMedias" [value]="template.TemplateMediaId" >
                                        {{template.TemplatePurpose}}
                                    </option>
                                </select>
                                <small class="text-danger" [hidden]="hideRemarksError">
                                 Required.
                                </small>
                            </div>
                        </div>                        
                    </div>
                    <div class="row"></div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="Message">Media Release Message:<span class="required">*</span></label>
                                <ckeditor formControlName="Message" [(ngModel)]="media.Message" debounce="500" (change)="onMessageChange($event)" (blur)="onMessageBlur($event)"
                                    (focus)="onMessageFocus($event)" (ready)="onMessageReady($event)" [config]="toolbarConfig">
                                </ckeditor>

                                <small class="text-danger" [hidden]="hideMessageError">
                                Required.
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="Remarks">Remarks:</label>
                                <textarea class="form-control" id="Remarks" formControlName="Remarks" [readOnly]="applyReadOnlytextBox" placeholder="Enter Remarks"
                                    [(ngModel)]="media.Remarks"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="buttonholder">
                                <button class="btn btn-primary" (click)="SentForApproval()" [disabled]="applyReadOnlyButtons">Send for Approval</button>
                                <button class="btn btn-primary" (click)="publish()" [disabled]="appReadOnlyPublish">Publish</button>
                                <button class="btn btn-warning" (click)="cancel()">Cancel</button>
                                <button class="btn btn-primary" (click)="save()" [disabled]="applyReadOnlyButtons">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="addbuttonHolder">
    <button class="btn btn-primary" type="submit" (click)="showAddRegion(showAdd)">Add New Media Release</button>
    <!--[disabled]="media.IsPublished": Disable feature will be required in Archieve dashboard-->
</div>