 <div class="card-block">
 <responsive-table>
        <table responsive-table-body>
            <thead>
                <tr>
                    <th>Media Queries</th>
                    <th>Caller Name</th>
                    <th>Contact Number</th>
                    <th>Alternate Number</th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="mediaQueries.length != 0">
                    <td colspan="8">No media queries to show.</td>
                </tr>
                <tr *ngFor="let query of mediaQueries">
                    <td data-title="Media Queries">{{query.Queries}}&nbsp;</td>
                    <td data-title="Caller Name">{{query.CallerName}}&nbsp;</td>
                    <td data-title="Contact Number">{{query.ContactNumber}}&nbsp;</td>
                    <td data-title="Alternate Number">{{query.AlternateContactNumber}}&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </responsive-table>
 </div>
