<div class="row">
    <div class="col-12">
        <div *ngIf="!isArchive">
            <mediaRelease-entry *ngIf="isShowAddMediaRelease | accesibility:initiatedDepartment:'AddNewMediaRelease'" [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></mediaRelease-entry>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <mediaRelease-list [initiatedDepartmentId]="initiatedDepartment" [incidentId]="incidentId"></mediaRelease-list>
    </div>
</div>