<div class="formStyle" *ngIf="showAdd">
<form [formGroup]="form">
    <div class="panel panel-default panel-minimal">
        <div class="panel-body InnerHolder">
            <input type="hidden" *ngIf="media.MediaqueryId != undefined" [(ngModel)]="media.MediaqueryId" formControlName="MediaqueryId">
            <div class="AllSearchHolder">
                <div class="row">
               <div class="col-sm-6 col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="Message">Media Releases:<span class="red">*</span></label><span class="MaxChartr">Max 500 chars</span>
                        <textarea class="form-control" id="Message" formControlName="Message" maxlength="500" [readOnly]="media.IsPublished"
                            placeholder="Enter Media Release Message" [(ngModel)]="media.Message" required autofocus></textarea>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6">
                    <div class="form-group">
                        <label for="Remarks">Remarks:</label><span class="MaxChartr">Max 500 chars</span>
                        <textarea class="form-control" id="Remarks" formControlName="Remarks" maxlength="500" [readOnly]="media.IsPublished"
                            placeholder="Enter Remarks" [(ngModel)]="media.Remarks" required autofocus></textarea>
                    </div>
                </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6">
                        <button class="btn btn-primary"  (click)="publish()" [disabled]="media.IsPublished">Publish</button>
                        <button class="btn btn-warning"  (click)="cancel()">Cancel</button>
                        <button class="btn btn-primary"  (click)="save()" [disabled]="media.IsPublished">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

<div class="addbuttonHolder">
<button class="btn btn-primary" type="submit" (click)="showAddRegion(showAdd)" [disabled]="media.IsPublished">Add New Media Release</button>
</div>