<h2>Media Releases</h2>
<ul>
    <li *ngFor="let mediaRelease of mediaReleases | async">
        <span>{{mediaRelease.Message}}
            <i>{{mediaRelease.PublishedOn}}</i>
        </span>
    </li>
</ul>

<!-- "View All Media Releases" Modal Panel -->
<br />
<a (click) = "openMediaReleases(false,$event)" href="">View All Media Releases</a>

<div class="modal-body" [hidden]="isHidden">
    <div class="modalcross">
        <a (click) = "openMediaReleases(true,$event)" href=""><i class="fa fa-times" aria-hidden="true" ></i> </a>
    </div>
    <br />
    <h4>All Media Releases</h4>
    <div class="col-sm-12 innerBodyContent">
        <div class="MainSearch">
            <div class="WidthHun">
                <table class="table footable default ">
                    <thead>
                        <tr>
                            <th width="80%">Media Releases</th>
                            <th width="20%">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr *ngIf="!presidentMessages.length">
                            <td colspan="10">No presidents' message is published yet.</td>
                        </tr>-->
                        <tr *ngFor="let mediaRelease of AllMediaReleases | async">
                            <td width="80%">{{mediaRelease.Message}}</td>
                            <td width="20%">{{mediaRelease.PublishedOn}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br/>