<div>
    <h3>Passenger Directly Affected</h3>

    <a [routerLink]="['../']">Back to affected People</a>
    <div class="row" *ngFor="let affectedperson of affectedPeople">
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Reference Number:</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{affectedperson.TicketNumber}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>PDA Name.</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{affectedperson.CrewName}}</li>
</ul>
</div>
<div class="col-md-5 col-lg-5 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>PDA Contact: </i></strong></li>
        <li class="list-group-item" style="border-top: none">{{affectedperson.ContactNumber}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>PNR:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{affectedperson.Pnr}}</li>

</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Passenger Type:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{affectedperson.PaxType}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Medical Status:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{affectedperson.MedicalStatus}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Verification Status:</i></strong></li>
        <!--<li class="list-group-item" style="border-top: none">{{affectedperson.TicketNumber}}</li>             -->
        <li>
            <i class="fa fa-check fa-2x fontGreen" aria-hidden="true" [hidden]="affectedperson.IsVerified == false"></i>
            <i class="fa fa-question fa-2x fontAmber" aria-hidden="true" [hidden]="affectedperson.IsVerified == true"></i>
        </li>
    </ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Interaction Details:</i></strong></li>
    </ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Action:</i></strong></li>
        <li>
            <i class="fa fa-edit" (click)="openAffectedPersonDetail(affectedperson)"></i>
        </li>
    </ul>
</div>
<div class="col-lg-6 col-md-6" [hidden]="!affectedperson.showDiv">
    <strong> Information </strong>
    <ul class="list-group">
        <li class="list-group-item"><strong><i>PDA NAme:</i></strong></li>
        <li class="list-group-item"><strong><i> {{affectedperson.CrewName}}</i> </strong></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Reference Number:</i></strong></li>
        <li class="list-group-item"><strong><i> {{affectedperson.TicketNumber}} </i> </strong></li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Identification Details:</i></strong></li>
        <li><input value="{{affectedperson.Identification}}" type="text"/> </li>
    </ul>

    <div class="col-sm-3">
        <label for="IsAutoApproved">Status:</label>
    </div>
    <div class="col-sm-3">
        <div class="form-control">
            <select id="selectStatus" [(ngModel)]="affectedperson.MedicalStatusToshow">
                        <option *ngFor="let status of medicalStatus" [value]="status.value" >
                        {{status.caption}}
                        </option>
                    </select>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Remarks:</i></strong></li>
        <li><input value="{{affectedperson.Remarks}}"  [(ngModel)]="affectedperson.Remarks" type="text"/> </li>
    </ul>
     <button class="btn btn-primary" type="button" (click)="saveUpdateAffectedPerson(affectedperson)">Ok</button>
      <button class="btn btn-primary" type="button" (click)="cancelUpdate(affectedperson)">Cancel</button>

</div>
</div>
</div>