<div class="row">
    <div class="col-lg-4 col-md-12">
        <care-member-for-all [currentIncidentId]="currentIncident" [currentDepartmentId]="currentDepartmentId"></care-member-for-all>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 text-lg-right text-md-left text-right">
        <a target="_blank" href="{{downloadRoute}}" *ngIf="isAffectedPeopleCrewStatusDownloadLink | accesibility: currentDepartmentId :'AffectedPeopleCrewStatusDownloadLink'"
            download="CrewStatusInfo">
            <i class="fa fa-download" aria-hidden="true"></i>&nbsp; Status Info Report (Crew)
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 text-lg-right text-md-left text-right pb-1">
        <a target="_blank" href="{{downloadPath}}" *ngIf="isPassengerStatusInfoReportDownloadLink | accesibility: currentDepartmentId:'PassengerStatusInfoReportDownloadLink'"
            download="PDAStatusInfo">
            <i class="fa fa-download" aria-hidden="true"></i>&nbsp; Status Info Report (Pax)
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 text-right">
        <input type="button" class="btn btn-primary" (click)="expandSearchPanel(expandSearch)" [ngModel]="searchValue" />
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="expandSearch">
        <generic-search [filterConfigs]="searchConfigs" (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();">
        </generic-search>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <responsive-table>
            <table responsive-table-body>
                <thead>
                    <tr>
                        <th>Reference Number</th>
                        <th>PDA Name</th>
                        <th>PDA Contact</th>
                        <th>PNR</th>
                        <th>Passenger Type</th>
                        <th>Medical Status</th>
                        <th>Care Name</th>
                        <th>Care Log</th>
                        <th>Interaction Details</th>
                        <th>Edit</th>
                        <th>Is NOK Informed</th>
                        <th>Crew 201 File</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="affectedPeople.length != 0">
                        <td colspan="12">No PDA is available.</td>
                    </tr>
                    <tr *ngFor="let affectedperson of affectedPeople">
                        <td data-title="Reference Number">{{affectedperson.TicketNumber}}&nbsp;</td>
                        <td data-title="PDA Name">{{affectedperson.CrewName || affectedperson.PassengerName}}&nbsp;</td>
                        <td data-title="PDA Contact">{{affectedperson.ContactNumber}}&nbsp;</td>
                        <td data-title="PNR">{{affectedperson.Pnr}}&nbsp;</td>
                        <td data-title="Passenger Type">{{affectedperson.PaxType}}&nbsp;</td>
                        <td data-title="Medical Status">{{affectedperson.MedicalStatus}}&nbsp;</td>
                        <td data-title="Care Name">{{affectedperson.CurrentCareMemberName}}&nbsp;</td>
                        <td data-title="Care Log">
                            <span class="fa-stack fa-md" aria-hidden="true" (click)="openAffectedPersonCareMemberDetail(affectedperson)">
                                <i class="fa fa-comment-o fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x"></i>
                            </span>
                        </td>
                        <td data-title="Interaction Details">
                            <i class="fa fa-comments fa-md" [ngClass]="{'trailActiveButtonStyle': affectedperson.commlength, 'trailNormalButtonStyle': !affectedperson.commlength}"
                                (click)="openChatTrails(affectedperson.AffectedPersonId)">
                            </i>
                        </td>
                        <td data-title="View Com. Trail">
                            <i class="fa fa-edit fa-2x pt-2" (click)="openAffectedPersonDetail(affectedperson)"></i>
                        </td>
                        <td data-title="Is NOK Informed">
                            <md-checkbox [disabled]="isArchive" *ngIf="isShowIsNOKInvolved | accesibility:currentDepartmentId:'ShowIsNOKInformed'"
                                class="Marght" id="IsNokInformed" name="IsNokInformed" [ngModel]="affectedperson.IsNokInformed"
                                (change)="IsNokInformed($event,affectedperson.AffectedPersonId,affectedperson.CrewName || affectedperson.PassengerName)"
                                aria-label="ActiveFlag">
                            </md-checkbox>
                        </td>
                        <td data-title="Crew 201 File">
                            <ul *ngIf="affectedperson.IsCrew">
                                <li *ngFor="let file of affectedperson.Crew.FileStores">
                                    <a target="_blank" href="{{downloadFilePath + file.FileStoreID}}" download="file.UploadedFileName"><i
                                            class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </responsive-table>
    </div>
</div>



<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Additional Information</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelModal(actionableModelToUpdate)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="modalBodyHearStydele-bg">
                        <div class="col-sm-6 form-group">
                            <label class="lebelHeaderStyle"><strong>PDA Name</strong></label>
                            <label class="form-control">{{affectedPersonModelForStatus.CrewName ||
                                affectedPersonModelForStatus.PassengerName}}
                            </label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="lebelHeaderStyle"><strong>Reference Number</strong></label>
                            <label class="form-control">{{affectedPersonModelForStatus.TicketNumber}}</label>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="affectedPersonModelForStatus.IsCrew">
                    <div class="row rowpadding">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="form-group col-md-8 col-sm-12">
                                    <label for="DiscussionNote">Gender:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Gender}}</label>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="Age">Age:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Age}}</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-8 col-sm-12">
                                    <label for="Nationality">Nationality:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Nationality}}</label>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="DiscussionNote">Crew Id Code:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.CrewIdCode}}</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-8 col-sm-12">
                                    <label for="SSRCode">SSR Code:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.PassengerSpecialServiceRequestCode}}</label>
                                </div>
                                <div class="form-group col-md-4 col-sm-12 top-padding">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <md-checkbox id="VerificationStatus" [disabled]="true" [(ngModel)]="affectedPersonModelForStatus.IsVerified"
                                                aria-label="Add">Verified</md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-8">
                            <responsive-table [scrollableclass]="true">
                                <table responsive-table-body>
                                    <thead>
                                        <tr>
                                            <th>Caller Name</th>
                                            <th>Contact Number</th>
                                            <th>Select as NOK</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [hidden]="callers.length != 0">
                                            <td colspan="9">No Call has been made yet.</td>
                                        </tr>
                                        <tr *ngFor="let caller of callers">
                                            <td data-title="Caller Name"><strong>{{caller.FirstName + " "+
                                                    caller.LastName}}&nbsp;
                                                </strong></td>
                                            <td data-title="Contact Number"><strong>{{caller.ContactNumber}}&nbsp;</strong></td>
                                            <td data-title="Select NOK">
                                                <md-checkbox [disabled]="isArchive" [(ngModel)]="caller.IsNok" (change)="saveNok(affectedPersonModel.AffectedPersonId,caller,$event)"
                                                    aria-label="Add"></md-checkbox>
                                                <br /><span>Relation: {{caller.Relationship}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </responsive-table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4 col-sm-12 ">
                            <label for="Identification Details">Identification Details:</label>
                            <input value="{{affectedPersonModelForStatus.Identification}}" [(ngModel)]="affectedPersonModelForStatus.Identification"
                                type="text" class="form-control" />
                        </div>

                        <div class="form-group col-md-4 col-sm-12">
                            <label for="DiscussionNote">Status:</label>
                            <select id="selectStatus" [(ngModel)]="affectedPersonModelForStatus.MedicalStatusToshow"
                                class="form-control">
                                <option *ngFor="let status of medicalStatus" [value]="status.value">{{status.caption}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-md-4 col-sm-12">
                            <label for="DiscussionNote">Remarks:</label>
                            <input value="{{affectedPersonModelForStatus.Remarks}}" [(ngModel)]="affectedPersonModelForStatus.Remarks"
                                class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 col-sm-12" *ngIf="affectedPersonModelForStatus.IsCrew">
                            <label for="FileUpload">Upload 201 File for Crew: <span class="required"></span></label>
                            <input type="file" #inputFileCrew id="fileuploadDemand" class="form-control-file" (change)="getFileDetails($event)" />
                        </div>

                        <div class="form-group col-md-6 col-sm-12" *ngIf="!isArchive">
                            <div class="buttonholder">
                                <button [disabled]="isArchive" class="btn btn-primary" type="button" (click)="saveUpdateAffectedPerson(affectedPersonModelForStatus)">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </ng-container>

                <ng-container *ngIf="!affectedPersonModelForStatus.IsCrew">
                    <div class="row rowpadding">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-8 col-md-8 col-sm-12">
                                    <label for="DiscussionNote">Gender:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Gender}}</label>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12">
                                    <label for="Age">Age:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Age}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8 col-md-8 col-sm-12">
                                    <label for="Nationality">Nationality:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Nationality}}</label>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 pt-lg-2 pt-md-4 pt-sm-0">
                                    <md-checkbox id="VerificationStatus" [disabled]="true" [(ngModel)]="affectedPersonModelForStatus.IsVerified"
                                        aria-label="Add" ng-disabled="true">
                                        Verification Status
                                    </md-checkbox>
                                </div>
                            </div>
                            <div class="row" *ngIf="isUnidentifiedShow">
                                <div class="form-group col-md-8 col-sm-12">
                                    <label for="MedicalStatusToshow">Unidentified Passengers:</label>
                                    <select id="selectStatus" [(ngModel)]="affectedPersonModelForStatus.UnidentifiedPassengerId"
                                        class="form-control">
                                        <option *ngFor="let uperson of unidentifiedPersons" [value]="uperson.PassengerId">{{uperson.PassengerName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">

                                    <button class="btn btn-primary mt-3" type="button" (click)="mergeUnidentifiedWithPDA(affectedPersonModelForStatus)">Merge</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <label for="Baggage">Baggage checked in(wt):</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.BaggageWeight}}</label>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <label for="Baggage">Baggage checked in(PCS):</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.BaggageCount}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <responsive-table [scrollableclass]="true">
                                <table responsive-table-body>
                                    <thead>
                                        <tr>
                                            <th>Caller Name</th>
                                            <th>Contact Number</th>
                                            <th>Select as NOK</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [hidden]="callers.length != 0">
                                            <td data-title="&#9785;" colspan="3">No Call has been made yet.</td>
                                        </tr>
                                        <tr *ngFor="let caller of callers">
                                            <td data-title="Caller Name"><strong>{{caller.FirstName + " "+
                                                    caller.LastName}}&nbsp;
                                                </strong></td>
                                            <td data-title="Contact Number"><strong>{{caller.ContactNumber}}&nbsp;</strong></td>
                                            <td data-title="Select NOK">
                                                <md-checkbox [disabled]="isArchive" [(ngModel)]="caller.IsNok" (change)="saveNok(affectedPersonModel.AffectedPersonId,caller,$event)"
                                                    aria-label="Add"></md-checkbox>
                                                <br /><span>Relation: {{caller.Relationship}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </responsive-table>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <responsive-table [scrollableclass]="true">
                                <table responsive-table-body>
                                    <thead>
                                        <tr>
                                            <th>Co Passengers</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [hidden]="copassangers.length > 1">
                                            <td data-title="&#9785;">No copassengers mapped yet</td>
                                        </tr>
                                        <tr *ngFor="let copassenger of copassangers">
                                            <td data-title="Co Passenger">{{copassenger.PassengerName}}&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </responsive-table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4 col-sm-12">
                            <label for="Identification">Identification Details:</label>
                            <input value="{{affectedPersonModelForStatus.Identification}}" [(ngModel)]="affectedPersonModelForStatus.Identification"
                                type="text" class="form-control" />
                        </div>

                        <div class="form-group col-md-4 col-sm-12">
                            <label for="MedicalStatusToshow">Status:</label>
                            <select id="selectStatus" [(ngModel)]="affectedPersonModelForStatus.MedicalStatusToshow"
                                class="form-control">
                                <option *ngFor="let status of medicalStatus" [value]="status.value">{{status.caption}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-md-4 col-sm-12">
                            <label for="Remarks">Remarks:</label>
                            <input value="{{affectedPersonModelForStatus.Remarks}}" [(ngModel)]="affectedPersonModelForStatus.Remarks"
                                class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4 col-sm-12" *ngIf="!isArchive">
                            <button class="btn btn-primary" type="button" (click)="saveUpdateAffectedPerson(affectedPersonModelForStatus)">Submit</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>


<div bsModal #childModalForTrail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Communication Trail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelTrailModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row modalBodyHeaderStyle">
                    <div class="col-sm-6 form-group">
                        <label class="lebelHeaderStyle"><strong>PDA Name</strong></label>
                        <!--<br>-->
                        <label class="form-control">{{pdaNameForTrail}}</label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="lebelHeaderStyle"><strong>Reference Number</strong></label>
                        <!--<br>-->
                        <label class="form-control">{{ticketNumber}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <responsive-table>
                            <table responsive-table-body>
                                <tbody>
                                    <tr *ngFor="let comm of communications">
                                        <td data-title="comm">
                                            <strong>{{comm.RequesterType}}</strong> logged by
                                            <span [hidden]="comm.RequesterDepartment.length==0">
                                                <strong>{{comm.RequesterName}} (Dept:
                                                    {{comm.RequesterDepartment}})&nbsp;
                                                </strong>
                                            </span>
                                            <span> on
                                                <strong>{{comm.CreatedOn | date: 'dd-MMM-yyyy HH:mm'}}&nbsp;:</strong>
                                            </span> {{comm.Answers}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #childModalForCareMembers="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Care Member Trail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelCareTrailModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <care-member-tracker [currentIncidentId]="currentIncident" [currentDepartmentId]="currentDepartmentId"></care-member-tracker>
            </div>
        </div>
    </div>
</div>