<div class="row">
    <div class="col-md-4 col-lg-5 butt-rightalign">
        <label class="lebelHeaderStyle">Crew Status Info Report</label>
        <a target="_blank" href="{{downloadRoute}}" download="CrewStatusInfo"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-5 col-lg-4 butt-rightalign">
        <label class="lebelHeaderStyle">Passenger Status Info Report</label>
        <a target="_blank" href="{{downloadPath}}" download="PDAStatusInfo"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-3 col-lg-3 butt-rightalign">
        <input type="button" class="btn btn-primary" (click)="expandSearchPanel(expandSearch)" [ngModel]="searchValue" />
    </div>
</div>
<div class="row">
    <div class="col-12" *ngIf="expandSearch">
        <generic-search [filterConfigs]="searchConfigs" (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();">
        </generic-search>
    </div>
</div>

<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Reference Number</th>
                <th>PDA Name</th>
                <th>PDA Contact</th>
                <th>PNR</th>
                <th>Passenger Type</th>
                <th>Medical Status</th>
                <th>Interaction Details</th>
                <th>View</th>
                <th>Is NOK Informed</th>
                <th>Crew 201 File</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="affectedPeople.length != 0">
                <td colspan="10">No PDA is available.</td>
            </tr>
            <tr *ngFor="let affectedperson of affectedPeople">
                <td data-title="Reference Number">{{affectedperson.TicketNumber}}&nbsp;</td>
                <td data-title="PDA Name">{{affectedperson.CrewName || affectedperson.PassengerName}}&nbsp;</td>
                <td data-title="PDA Contact">{{affectedperson.ContactNumber}}&nbsp;</td>
                <td data-title="PNR">{{affectedperson.Pnr}}&nbsp;</td>
                <td data-title="Passenger Type">{{affectedperson.PaxType}}&nbsp;</td>
                <td data-title="Medical Status">{{affectedperson.MedicalStatus}}&nbsp;</td>
                <td data-title="Interaction Details"><i class="fa fa-comments" [ngClass]="{'trailActiveButtonStyle': affectedperson.commlength, 'trailNormalButtonStyle': !affectedperson.commlength}"
                        (click)="openChatTrails(affectedperson.AffectedPersonId)"></i>
                </td>
                <td data-title="Action">
                    <i class="fa fa-edit fa-2x" (click)="openAffectedPersonDetail(affectedperson)"></i>
                </td>
                <td data-title="Active">
                    <md-checkbox [disabled] ="isArchive" *ngIf="isShowIsNOKInvolved | accesibility:currentDepartmentId:'ShowIsNOKInformed'" class="Marght" id="IsNokInformed" name="IsNokInformed" [ngModel]="affectedperson.IsNokInformed" (change)="IsNokInformed($event,affectedperson.AffectedPersonId,affectedperson.CrewName || affectedperson.PassengerName)"
                        aria-label="ActiveFlag">
                    </md-checkbox>
                </td>
                <td data-title="Crew 201 File">
                    <ul *ngIf="affectedperson.IsCrew">
                        <li *ngFor="let file of affectedperson.Crew.FileStores">
                            <a target="_blank" href="{{downloadFilePath + file.FileStoreID}}" download="file.UploadedFileName"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</responsive-table>



<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Additional Information</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelModal(actionableModelToUpdate)">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="modalBodyHearStydele-bg">
                        <div class="col-sm-6 form-group">
                            <label class="lebelHeaderStyle"><strong>PDA Name</strong></label>
                            <!--<br>-->
                            <label class="form-control">{{affectedPersonModelForStatus.CrewName || affectedPersonModelForStatus.PassengerName}}</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="lebelHeaderStyle"><strong>Reference Number</strong></label>
                            <!--<br>-->
                            <label class="form-control">{{affectedPersonModelForStatus.TicketNumber}}</label>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="affectedPersonModelForStatus.IsCrew">
                    <!--<div [hidden]="!affectedPersonModelForStatus.IsCrew">-->
                    <div class="row rowpadding">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-8 col-sm-12 col-md-8">
                                    <label for="DiscussionNote">Gender:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Gender}}</label>
                                </div>
                                <div class="form-group col-lg-4 col-sm-12 col-md-4">
                                    <label for="Age">Age:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Age}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8 col-sm-12 col-md-8">
                                    <label for="Nationality">Nationality:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Nationality}}</label>
                                </div>
                                <div class="form-group col-lg-4 col-sm-12 col-md-4">
                                    <label for="DiscussionNote">Crew Id Code:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.CrewIdCode}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8 col-sm-12 col-md-8">
                                    <label for="SSRCode">SSR Code:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.PassengerSpecialServiceRequestCode}}</label>
                                </div>
                                <div class="form-group col-lg-4 col-sm-12 col-md-4 top-padding">
                                    <div class="row">
                                        <!-- <div class="col-lg-4 col-sm-12 col-md-4">
                                            <label>Verified:</label>
                                        </div> -->
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <md-checkbox id="VerificationStatus" [disabled]="true" [(ngModel)]="affectedPersonModelForStatus.IsVerified" aria-label="Add">Verified</md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8">
                            <responsive-table [scrollableclass]="true">
                                <table responsive-table-body>
                                    <thead>
                                        <tr>
                                            <th>Caller Name</th>
                                            <th>Contact Number</th>
                                            <th>Select as NOK</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [hidden]="callers.length != 0">
                                            <td colspan="9">No Call has been made yet.</td>
                                        </tr>
                                        <tr *ngFor="let caller of callers">
                                            <td data-title="comm"><strong>{{caller.FirstName + "  "+ caller.LastName}}</strong>
                                            <td data-title="comm"><strong>{{caller.ContactNumber}}</strong>
                                            </td>
                                            <td data-title="Select NOK">
                                                <md-checkbox [disabled] ="isArchive" [(ngModel)]="caller.IsNok" (change)="saveNok(affectedPersonModel.AffectedPersonId,caller,$event)" aria-label="Add"></md-checkbox>
                                                <br /><span>Relation: {{caller.Relationship}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </responsive-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12 col-md-4">
                            <label for="Identification Details">Identification Details:</label>
                            <input value="{{affectedPersonModelForStatus.Identification}}" [(ngModel)]="affectedPersonModelForStatus.Identification" type="text" class="form-control" />
                        </div>

                        <div class="form-group col-lg-4 col-sm-12 col-md-4">
                            <label for="DiscussionNote">Status:</label>
                            <select id="selectStatus" [(ngModel)]="affectedPersonModelForStatus.MedicalStatusToshow" class="form-control">
                                  <option *ngFor="let status of medicalStatus" [value]="status.value" >{{status.caption}} </option>                      
                               </select>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 col-md-4">
                            <label for="DiscussionNote">Remarks:</label>
                            <input value="{{affectedPersonModelForStatus.Remarks}}" [(ngModel)]="affectedPersonModelForStatus.Remarks" class="form-control"
                                type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12" *ngIf="affectedPersonModelForStatus.IsCrew">
                            <label for="FileUpload">Upload 201 File for Crew: <span class="required"></span></label>
                            <input type="file" #inputFileCrew id="fileuploadDemand" (change)="getFileDetails($event)" />
                        </div>
                        <div class="form-group col-lg-6 col-sm-12 col-md-6" *ngIf="!isArchive">
                            <div class="buttonholder">
                                <button class="btn btn-primary" type="button" (click)="saveUpdateAffectedPerson(affectedPersonModelForStatus)">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </ng-container>
                <ng-container *ngIf="!affectedPersonModelForStatus.IsCrew">
                    <!--<div [hidden]="affectedPersonModelForStatus.IsCrew">-->
                    <div class="row rowpadding">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-8 col-sm-12 col-md-8">
                                    <label for="DiscussionNote">Gender:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Gender}}</label>
                                </div>
                                <div class="form-group col-lg-4 col-sm-12 col-md-4">
                                    <label for="Age">Age:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Age}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-8 col-sm-12 col-md-8">
                                    <label for="Nationality">Nationality:</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.Nationality}}</label>
                                </div>
                                <div class="form-group col-lg-4 col-sm-12 col-md-4 top-padding">
                                    <md-checkbox id="VerificationStatus" [disabled]="true" [(ngModel)]="affectedPersonModelForStatus.IsVerified" aria-label="Add"
                                        ng-disabled="true">
                                        Verification Status:
                                    </md-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-sm-12 col-md-6">
                                    <label for="Baggage">Baggage checked in(wt):</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.BaggageWeight}}</label>
                                </div>
                                <div class="form-group col-lg-6 col-sm-12 col-md-6">
                                    <label for="Baggage">Baggage checked in(PCS):</label>
                                    <label class="form-control">{{affectedPersonModelForStatus.BaggageCount}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <responsive-table [scrollableclass]="true">
                                <table responsive-table-body>
                                    <thead>
                                        <tr>
                                            <th>Caller Name</th>
                                            <th>Contact Number</th>
                                            <th>Select as NOK</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [hidden]="callers.length != 0">
                                            <td colspan="9">No Call has been made yet.</td>
                                        </tr>
                                        <tr *ngFor="let caller of callers">
                                            <td data-title="comm"><strong>{{caller.FirstName + "  "+ caller.LastName}}</strong>
                                                <td data-title="comm"><strong>{{caller.ContactNumber}}</strong>
                                                </td>
                                                <td data-title="Select NOK">
                                                    <md-checkbox [(ngModel)]="caller.IsNok" (change)="saveNok(affectedPersonModel.AffectedPersonId,caller,$event)" aria-label="Add"></md-checkbox>
                                                <br /><span>Relation: {{caller.Relationship}}</span>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </responsive-table>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <responsive-table [scrollableclass]="true">
                                <table responsive-table-body>
                                    <thead>
                                        <tr>
                                            <th> Co Passengers</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [hidden]="copassangers.length>1">No copassengers mapped yet</tr>
                                        <tr *ngFor="let copassenger of copassangers">
                                            <td>{{copassenger.PassengerName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </responsive-table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12 col-md-4">
                            <label for="Identification Details">Identification Details:</label>
                            <input value="{{affectedPersonModelForStatus.Identification}}" [(ngModel)]="affectedPersonModelForStatus.Identification" type="text" class="form-control" />
                        </div>

                        <div class="form-group col-lg-4 col-sm-12 col-md-4">
                            <label for="DiscussionNote">Status:</label>
                            <select id="selectStatus" [(ngModel)]="affectedPersonModelForStatus.MedicalStatusToshow" class="form-control">
                                  <option *ngFor="let status of medicalStatus" [value]="status.value" >{{status.caption}} </option>                      
                               </select>
                        </div>
                        <div class="form-group col-lg-4 col-sm-12 col-md-4">
                            <label for="DiscussionNote">Remarks:</label>
                            <input value="{{affectedPersonModelForStatus.Remarks}}" [(ngModel)]="affectedPersonModelForStatus.Remarks" class="form-control"
                                type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-12 col-md-4" *ngIf="!isArchive">
                            <button class="btn btn-primary" type="button" (click)="saveUpdateAffectedPerson(affectedPersonModelForStatus)">Submit</button>
                        </div>
                    </div>
                    <!--</div>-->
                </ng-container>
            </div>
        </div>
    </div>
</div>


<div bsModal #childModalForTrail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Communication Trail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelTrailModal()">
                  <span aria-hidden="true">&times;</span>
                   </button>
            </div>
            <div class="modal-body">
                <div class="row modalBodyHeaderStyle">
                    <div class="col-sm-6 form-group">
                        <label class="lebelHeaderStyle"><strong>PDA Name</strong></label>
                        <!--<br>-->
                        <label class="form-control">{{pdaNameForTrail}}</label>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="lebelHeaderStyle"><strong>Reference Number</strong></label>
                        <!--<br>-->
                        <label class="form-control">{{ticketNumber}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <responsive-table>
                            <table responsive-table-body>
                                <tbody>
                                    <tr *ngFor="let comm of communications">
                                        <td data-title="comm">
                                            <strong>{{comm.RequesterType}}</strong> logged by
                                            <span [hidden]="comm.RequesterDepartment.length==0">
                                                <strong>{{comm.RequesterName}} (Dept: {{comm.RequesterDepartment}})</strong>
                                            </span>
                                            <span> on 
                                                <strong>{{comm.CreatedOn | date: 'dd-MMM-yyyy hh:mm a'}}&nbsp;:</strong>
                                            </span> {{comm.Answers}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>