<div class="row">
    <div class="col-md-5 col-lg-6 butt-rightalign">
        <label>Verified PDA Manifest</label>
        <a target="_blank" href="{{downloadPath}}" download="PDAVerifiedManifest"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-4 col-lg-3 butt-rightalign">
        <label>Verified Crew Manifest</label>
        <a target="_blank" href="{{downloadURL}}" download="CrewVerifiedManifest"><i class="fa fa-download fa-2x" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-3 col-lg-3 butt-rightalign">
        <button class="btn btn-primary" type="button" (click)="saveVerifiedAffectedPeople()" *ngIf="!isArchive">Verify</button>
        <div class="hidden-lg-up">
            <md-checkbox id="IsAutoApproved" [(ngModel)]="allSelectVerify" (change)="selectAllVerify($event)" aria-label="Add">Verify</md-checkbox>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <responsive-table>
            <table responsive-table-body>
                <thead>
                    <tr>
                        <th>
                            <md-checkbox [disabled] ="isArchive" class="Marght" id="IsAutoApproved" [(ngModel)]="allSelectVerify" (change)="selectAllVerify($event)" aria-label="Add">Verify</md-checkbox>
                        </th>
                        <th>Reference Number</th>
                        <th>PDA Name</th>
                        <th>PDA Contact</th>
                        <th>PNR</th>
                        <th>Passenger Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="affectedPeopleForVerification.length != 0">
                        <td colspan="9">No Verified PDA is available.</td>
                    </tr>
                    <tr *ngFor="let affectedperson of affectedPeopleForVerification">
                        <td data-title="Verify">
                            <md-checkbox [disabled] ="isArchive" class="Marght" id="IsVerified" [(ngModel)]="affectedperson.IsVerified" aria-label="Add" (change)="isVerfiedChange()"
                                [disabled]="isArchive">
                            </md-checkbox>
                        </td>
                        <td data-title="Reference Number">{{affectedperson.TicketNumber}}&nbsp;</td>
                        <td data-title="PDA Name">{{affectedperson.CrewName || affectedperson.PassengerName}}&nbsp;</td>
                        <td data-title="PDA Contact">{{affectedperson.ContactNumber}}&nbsp;</td>
                        <td data-title="PNR">{{affectedperson.Pnr}}&nbsp;</td>
                        <td data-title="Passenger Type">{{affectedperson.PaxType}}&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </responsive-table>
    </div>
</div>