<div class="row">
    <div class="col-sm-12 pull-right">
<div class="addbuttonHolder">
<button class="btn btn-primary" type="button" (click)="submit()" *ngIf="(!isArchive && isShowApprovedDemand | accesibility:currentDepartmentId:'UpdateApprovedDemand')">Submit</button>
</div>
    </div>
</div>
<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
                <th>Demand Type</th>
                <th>Demand Description</th>
                <th>Requester Department</th>
                <th>Requested By</th>
                <th>Target Department</th>
                 <th>Required Location</th>
                <th>Priority</th>
                <th>Schedule Time Close</th>
                <th>RAG</th>
                <th>Remarks</th>
                <th>Download File</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="demandsForApproval.length != 0">
                <td colspan="9">No Demand is pending for Approval.</td>
            </tr>
            <tr *ngFor="let demand of demandsForApproval">
                <td data-title="Demand Type">{{demand.DemandTypeName}}&nbsp;</td>
                <td data-title="Demand Description"><a href="javascript:void(0);" (click)="openDemandDetails(demand.DemandId)">{{demand.DemandDesc}}</a>&nbsp;</td>
                <td data-title="Requester Department">{{demand.RequesterDepartmentName}}&nbsp;</td>
                <td data-title="Requested By">{{demand.RequestedBy}}&nbsp;</td>
                <td data-title="Target Department">{{demand.TargetDepartmentName}}&nbsp;</td>
                <td data-title="Required Location">{{demand.RequiredLocation}}&nbsp;</td>
                <td data-title="Priority">{{demand.Priority}}&nbsp;</td>
                <td data-title="Schedule Time Close">{{demand.ScheduleTimeToShow}}&nbsp;</td>
                <td data-title="RAG"><span [ngClass]="demand.RagStatus"></span></td>
                <td data-title="Remarks"><i class="fa fa-list-alt fa-2x" (click)="openDemandRemarks(demand)"></i></td>
                <td data-title="Download File">
                    <ul>
                        <li *ngFor="let file of demand.FileStores">
                            <a target="_self" href="{{demandFilePath + file.FileStoreID}}" download="file.UploadedFileName"></a>
                        </li>
                    </ul>
                </td>
                <td data-title="Approve">
                    <md-checkbox class="Marght" id="Done" name="Done" [(ngModel)]="demand.IsApproved" [disabled]="demand.IsRejected" aria-label="Done">
                    </md-checkbox>
                </td>
                <td data-title="Reject">
                    <md-checkbox class="Marght" id="Done" name="Done" [(ngModel)]="demand.IsRejected" [disabled]="demand.IsApproved" aria-label="Done">
                    </md-checkbox>
                </td>
            </tr>
        </tbody>
    </table>
</responsive-table>


<div bsModal #childModalRemarks="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Demand Remarks</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelRemarkUpdate()">
                  <span aria-hidden="true">&times;</span>
                   </button>
            </div>
            <div class="modal-body">
                <div class="row holderRemark" *ngIf="!isArchive">
                    <div class="col-lg-8 col-sm-12 col-md-6 form-group">
                        <label>Remarks</label><span class="required">*</span>
                        <input [(ngModel)]="Remarks" class="form-control" type="text" />
                        <small *ngIf="isInvalidRemarks" class="text-danger">Required</small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                        <div class="buttonholderRemark">
                            <button class="btn btn-primary" type="button" (click)="saveRemark(Remarks)" *ngIf="!isArchive">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <responsive-table>
                        <table responsive-table-body>
                            <thead>
                                <th>Department</th>
                                <th>Remarks added by</th>
                                <th>Remarks added on</th>
                                <th>Remarks</th>
                            </thead>
                            <tbody>
                                <tr [hidden]="demandRemarks.length != 0">
                                    <td colspan="9">No Remark is added yet.</td>
                                </tr>
                                <tr *ngFor="let remark of demandRemarks">
                                    <td data-title="Requester Department">{{remark.RequesterDepartmentName}}</td>
                                    <td data-title="Remarks added by">{{remark.CreatedByName}}</td>
                                    <td data-title="Remarks added on">{{remark.CreatedOn | customDate: 'DD-MMM-YYYY hh:mm a'}}</td>
                                    <td data-title="Remarks">{{remark.Remark}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </responsive-table>
                </div>
        </div>
    </div>
</div>
</div>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Demand Details</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="cancelModal()">
                  <span aria-hidden="true">&times;</span>
                   </button>
                </div>
                <div class="modal-body">
                    <div class="holderStyle">
                        <div class="formStyle">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                    <label for="DemandTypeId">Demand Type</label>
                                    <span class="form-control" for="DemandTypeId">{{demand.DemandTypeName}}</span>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                    <label for="Priority">Priority</label>
                                    <span class="form-control" for="DemandTypeId">{{demand.Priority}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                    <label for="DemandDesc">Demand Description:</label>
                                    <span class="form-control" for="DemandTypeId">{{demand.DemandDesc}}</span>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                            <label for="RequestedBy">Requested By:</label>
                                            <span class="form-control" for="DemandTypeId">{{demand.RequestedBy}}</span>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                            <label for="RequesterType">Requester Type:</label>
                                            <span class="form-control" for="DemandTypeId">{{demand.RequesterType}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label for="DepartmentId">Target Department:</label>
                                            <span class="form-control" for="DemandTypeId">{{demand.TargetDepartmentName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                    <label for="ReferenceNumber">Reference Number</label>
                                    <span class="form-control" for="DemandTypeId">{{demand.ReferenceNumber}}</span>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                            <label for="PDA">PDA Name:</label>
                                            <span class="form-control" for="DemandTypeId">{{demand.AffectedPersonName}}</span>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                            <label for="awb">AWB</label>
                                            <span class="form-control" for="DemandTypeId">{{demand.AWB}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                    <label for="ContactNumber"> Contact Number:</label>
                                    <span class="form-control" for="DemandTypeId">{{demand.ContactNumber}}</span>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                    <label for="ExpectedResolutionTime">Expected Resolution Time:</label>
                                    <span class="form-control" for="DemandTypeId">{{demand.ScheduleTimeToShow}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                    <label for="RequiredLocation">Required Location:</label>
                                    <span class="form-control" for="DemandTypeId">{{demand.RequiredLocation}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>