<div class="row">
    <div class="col-12">
        <div class="addbuttonHolder">
            <button class="btn btn-primary" type="button" (click)="submit()" [disabled]="isArchive" *ngIf="(isShowAssignToMeDemand | accesibility:currentDepartmentId:'UpdateAssignToMeDemand')">Submit</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <responsive-table>
            <table responsive-table-body>
                <thead>
                    <tr>
                        <th>Demand Type</th>
                        <th>Demand Description</th>
                        <th>Trail</th>
                        <th>Requester Department</th>
                        <th>Priority</th>
                        <th>Schedule Time Close</th>
                        <th>Requester Contact Number</th>
                        <th>Required Location</th>
                        <th>Remarks</th>
                        <th>RAG</th>
                        <th>Download File</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="demands.length != 0">
                        <td colspan="11">No Demand is Assigned.</td>
                    </tr>
                    <tr *ngFor="let demand of demands">
                        <td data-title="Reference Number">{{demand.DemandTypeName}}&nbsp;</td>
                        <td data-title="PDA Name">
                            <a href="javascript:void(0);" (click)="openDemandDetails(demand.DemandId)">{{demand.DemandDesc}}&nbsp;</a>
                        </td>
                        <td data-title="Trail">
                            <i class="fa fa-info-circle fa-2x" (click)="openTrail(demand)"></i>
                        </td>
                        <td data-title="PDA Contact">{{demand.RequesterDepartmentName}}&nbsp;</td>
                        <td data-title="PNR">{{demand.Priority}}&nbsp;</td>
                        <td data-title="Passenger Type">{{demand.ScheduleTimeToShow}}&nbsp;</td>
                        <td data-title="Medical Status">{{demand.ContactNumber}}&nbsp;</td>
                        <td data-title="Medical Status">{{demand.RequiredLocation}}&nbsp;</td>
                        <td>
                            <i class="fa fa-list-alt fa-2x" (click)="openDemandRemarks(demand)"></i>
                        </td>
                        <td>
                            <span [ngClass]="demand.RagStatus"></span>
                        </td>
                        <td data-title="Download File">
                            <ul>
                                <li *ngFor="let file of demand.FileStores">
                                    <a target="_self" href="{{demandFilePath + file.FileStoreID}}" download="file.UploadedFileName">
                                        <i class="fa fa-download fa-2x" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <md-checkbox [disabled]="isArchive" class="Marght" id="Done" name="Done" [(ngModel)]="demand.IsCompleted" aria-label="Done">
                            </md-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </responsive-table>
    </div>
</div>


<div bsModal #childModalRemarks="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Demand Remarks</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelRemarkUpdate()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="!isArchive">
                    <div class="col-lg-8 col-sm-12 col-md-6 form-group">
                        <label>Remarks</label><span class="required">*</span>
                        <input [(ngModel)]="Remarks" class="form-control" type="text" />
                        <small *ngIf="isInvalidRemarks" class="text-danger">Required</small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                        <div class="buttonholderRemark">
                            <button class="btn btn-primary" type="button" (click)="saveRemark(Remarks)" *ngIf="!isArchive">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <responsive-table>
                            <table responsive-table-body>
                                <thead>
                                    <th>Department</th>
                                    <th>Remarks added by</th>
                                    <th>Remarks added on</th>
                                    <th>Remarks</th>
                                </thead>
                                <tbody>
                                    <tr [hidden]="demandRemarks.length != 0">
                                        <td colspan="4">No Remark is added yet.</td>
                                    </tr>
                                    <tr *ngFor="let remark of demandRemarks">
                                        <td data-title="Requester Department">{{remark.RequesterDepartmentName}}&nbsp;</td>
                                        <td data-title="Remarks added by">{{remark.CreatedByName}}&nbsp;</td>
                                        <td data-title="Remarks added on">{{remark.CreatedOn | customDate: 'DD-MMM-YYYY HH:mm'}}&nbsp;</td>
                                        <td data-title="Remarks">{{remark.Remark}}&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Demand Details</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="holderStyle">
                    <div class="formStyle">
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                <label for="DemandTypeId">Demand Type</label>
                                <span class="form-control" for="DemandTypeId">{{demand.DemandTypeName}}</span>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                <label for="Priority">Priority</label>
                                <span class="form-control" for="DemandTypeId">{{demand.Priority}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                <label for="DemandDesc">Demand Description:</label>
                                <span class="form-control" for="DemandTypeId">{{demand.DemandDesc}}</span>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                        <label for="RequestedBy">Requested By:</label>
                                        <span class="form-control" for="DemandTypeId">{{demand.RequestedBy}}</span>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                        <label for="RequesterType">Requester Type:</label>
                                        <span class="form-control" for="DemandTypeId">{{demand.RequesterType}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <label for="DepartmentId">Target Department:</label>
                                        <span class="form-control" for="DemandTypeId">{{demand.TargetDepartmentName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                <label for="ReferenceNumber">Reference Number</label>
                                <span class="form-control" for="DemandTypeId">{{demand.ReferenceNumber}}</span>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                        <label for="PDA">PDA Name:</label>
                                        <span class="form-control" for="DemandTypeId">{{demand.AffectedPersonName}}</span>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                        <label for="awb">AWB</label>
                                        <span class="form-control" for="DemandTypeId">{{demand.AWB}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                <label for="ContactNumber"> Contact Number:</label>
                                <span class="form-control" for="DemandTypeId">{{demand.ContactNumber}}</span>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                <label for="ExpectedResolutionTime">Expected Resolution Time:</label>
                                <span class="form-control" for="DemandTypeId">{{demand.ScheduleTimeToShow}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                <label for="RequiredLocation">Required Location:</label>
                                <span class="form-control" for="DemandTypeId">{{demand.RequiredLocation}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #childModalTrail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Demand Trail</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelTrail()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row modalBodyHeaderStyle">
                    <div class="col-sm-6 form-group">
                        <label class="lebelHeaderStyle">
                            <strong>Demand Type Name</strong>
                        </label> <br>
                        <span class="form-control">{{demandTypeName}}</span>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label class="lebelHeaderStyle">
                            <strong>Requester Department</strong>
                        </label> <br>
                        <span class="form-control">{{requesterDepartmentName}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <responsive-table>
                            <table responsive-table-body>
                                <tbody>
                                    <tr *ngFor="let trail of demandTrails">
                                        <td [innerHTML]="trail.Answers" type="text">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>