<style>
.statusRed {
    background: #F00 none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}

.statusGreen {
    background: #090 none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}
.statusAmber {
    background: #FFC200 none repeat scroll 0 0;
    border-radius: 20px;
    float: left;
    height: 12px;
    margin-left: 10px;
    width: 12px;
}
</style>
Assigned Demand

<button class="btn btn-primary" type="button" (click)="submit()">Submit</button>

<div class="row" *ngFor="let demand of demands">
    <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
        <ul class="list-group">
            <li class="list-group-item"><strong><i>Demand Type:</i></strong></li>
            <li class="list-group-item" style="border-top: none">{{demand.DemandTypeName}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Demand Description:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{demand.DemandDesc}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Requester Department:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{demand.RequesterDepartmentName}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Priority:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{demand.Priority}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Schedule Time Close:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{demand.ScheduleTime}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Requester Contact Number:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{demand.ContactNumber}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Required Location:</i></strong></li>
        <li class="list-group-item" style="border-top: none">{{demand.RequiredLocation}}</li>
</ul>
</div>
<!--<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Remarks:</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{demand.Remarks}}</li>
                <input type="text" [(ngModel)]="demand.Remarks" />
</ul>
</div>-->
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Remarks:</i></strong></li>
        <button class="gmd-icon-button fa fa-list-alt" (click)="openDemandRemarks(demand)" aria-label="Edit"></button>
    </ul>
</div>
<div class="col-lg-6 col-md-6" [hidden]="!demand.showRemarks">
    <strong>Request Remarks</strong>
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Remarks:</i></strong></li>
        <li><input [(ngModel)]="Remarks" type="text" /> </li>
    </ul>
    <div class="row" *ngFor="let remark of demandRemarks">
        <ul class="list-group">
            <li class="list-group-item"><strong><i>Requester Department:</i></strong></li>
            <li class="list-group-item" style="border-top: none">{{remark.RequesterDepartmentName}}</li>
           </ul>
           <ul class="list-group">
            <li class="list-group-item"><strong><i>Remarks added by:</i></strong></li>
            <li class="list-group-item" style="border-top: none">{{remark.CreatedByName}}</li>
           </ul>
           <ul class="list-group">
            <li class="list-group-item"><strong><i>Remarks added on:</i></strong></li>
            <li class="list-group-item" style="border-top: none">{{remark.CreatedOn | date:"dd-MMM-yy h:mma"}}</li>
           </ul>
           <ul class="list-group">
            <li class="list-group-item"><strong><i>Remarks:</i></strong></li>
            <li class="list-group-item" style="border-top: none">{{remark.Remark}}</li>
           </ul>
</div>


<button class="btn btn-primary" type="button" (click)="ok(Remarks, demand)">Ok</button>
<button class="btn btn-primary" type="button" (click)="cancel(demand)">Cancel</button>

</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>RAG:</i></strong></li>
        <span [ngClass]="demand.RagStatus"></span>
    </ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Done:</i></strong></li>
        <!--<li class="list-group-item" style="border-top: none">{{demand.TicketNumber}}</li>-->
        <md-checkbox class="Marght" id="Done" [(ngModel)]="demand.IsCompleted" aria-label="Add">
        </md-checkbox>
    </ul>
</div>


</div>