<div class="addbuttonHolder">
        <button class="btn btn-primary" type="submit" (click)="showAddRegion(showAdd)">{{buttonValue}}</button>
</div>





<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        <div class="modal-header">
                                <h4 class="modal-title pull-left">Create Demand</h4>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="cancelModal()">
                  <span aria-hidden="true">&times;</span>
                   </button>
                        </div>
                        <div class="modal-body">
                                <div class="holderStyle">
                                        <div *ngIf="showAdd" class="formStyle">
                                                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                                                        <input type="hidden" formControlName="DemandId" name="EnquiryId" />
                                                        <div class="row">
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="DemandTypeId">Demand Type<span class="required">*</span></label>
                                                                        <select id="selectDemandTypeId" class="form-control" [(ngModel)]="demandModel.DemandTypeId" formControlName="DemandTypeId">
                                                                                <option [value]=''>Select Demand Type</option>
                                                                                <option *ngFor="let demandType of demandTypes" [value]="demandType.DemandTypeId">
                                                                                        {{demandType.DemandTypeName}}
                                                                                </option>
                                                                                </select>
                                                                        <small *ngIf="!form.controls.DemandTypeId.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                                </div>
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="Priority">Priority<span class="required">*</span></label>
                                                                        <select id="selectPriority" class="form-control" [(ngModel)]="demandModel.Priority" formControlName="Priority"><option [value]="0">Select Priority</option>
                                                          <option [value]=''>Select Priority</option>
                                                          <option *ngFor="let priority of priorities" [value]="priority.caption">
                                                                 {{priority.text}}
                                                           </option>
                                                           </select>
                                                                        <small *ngIf="!form.controls.Priority.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                                </div>
                                                        </div>

                                                        <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                <label for="DemandDesc">Demand Description:<span class="required">*</span></label>
                                                                <textarea class="form-control" maxlength="500" id="DemandDesc" name="DemandDesc" rows="4" cols="50" ng-disabled="disableDemandSubmit"
                                                                        placeholder="Enter Request Desc" formControlName="DemandDesc"></textarea>
                                                                <small *ngIf="!form.controls.DemandDesc.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                        </div>
                                                        <div class="row">
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="RequestedBy">Requested By:<span class="required">*</span></label>
                                                                        <input id="RequestedBy" type="text" formControlName="RequestedBy" class="form-control" placeholder="Enter Requested By" autofocus
                                                                        />
                                                                        <small *ngIf="!form.controls.RequestedBy.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                                </div>

                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="RequesterType">Requester Type:<span class="required">*</span></label>
                                                                        <select id="selectRequesterType" class="form-control" [(ngModel)]="demandModel.RequesterType" formControlName="RequesterType">
                                                                         <option [value]=''>Select Requester Type</option>
                                                                          <option *ngFor="let requesterType of requesterTypes" [value]="requesterType.caption">
                                                                         {{requesterType.caption}}
                                                                       </option>
                                                                 </select>
                                                                        <small *ngIf="!form.controls.RequesterType.valid" class="text-danger">
                                                                Required.
                                                                </small>
                                                                </div>
                                                        </div>

                                                        <div class="row">
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="PDA">PDA Name:<span class="required">*</span></label>
                                                                        <!--<autocomplete [items]="pdas" (notify)='onNotifyPassengerCrew($event)'></autocomplete>-->
                                                                        <select id="selectenquiryType" class="form-control" [(ngModel)]="demandModel.AffectedPersonId" formControlName="AffectedPersonId"
                                                                                (change)="ChangeAffectedPeople()">
                                                          <option [value]=''>Select PDA</option>
                                                               <option *ngFor="let affectedPerson of affectedPeople" [value]="affectedPerson.AffectedPersonId">
                                                                       {{affectedPerson.PassengerName || affectedPerson.CrewName}}
                                                               </option>
                        
                                                              </select>
                                                                        <small *ngIf="!form.controls.AffectedPersonId.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                                </div>

                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="awb">AWB</label>
                                                                        <!--<autocomplete [items]="awbs" (notify)='onNotifyCargo($event)'></autocomplete>-->
                                                                        <select id="selectenquiryType" class="form-control" [(ngModel)]="demandModel.AffectedObjectId" formControlName="AffectedObjectId"
                                                                                (change)="ChangeAffectedObjects()">
                                                               <option [value]=''>Select Cargo</option>
                                                                          <option *ngFor="let affectedObject of affectedObjects" [value]="affectedObject.AffectedObjectId">
                                                                                  {{affectedObject.AWB}}
                                                                          </option>                       
                                                                     </select>

                                                                </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="ReferenceNumber">Reference Number</label>
                                                                        <input id="PDATicketNumber" type="text" formControlName="PDATicketNumber" class="form-control" [disabled]="true" placeholder="Enter Requested By"
                                                                                autofocus />
                                                                </div>

                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="DepartmentId">Target Department:<span class="required">*</span></label>
                                                                        <select id="selectTargetDepartmentId" class="form-control" [(ngModel)]="demandModel.TargetDepartmentId" formControlName="TargetDepartmentId">
                                                                 <option [value]=''>Select Target Department</option>
                                                                        <option *ngFor="let department of departments" [value]="department.DepartmentId">
                                                                                {{department.DepartmentName}}
                                                                        </option>
                                                                   </select>
                                                                        <small *ngIf="!form.controls.TargetDepartmentId.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                                </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="ContactNumber"> Contact Number:<span class="required">*</span></label>
                                                                        <input id="ContactNumber" type="text" formControlName="ContactNumber" class="form-control" placeholder="Enter Requested By"
                                                                                autofocus />
                                                                        <small *ngIf="!form.controls.ContactNumber.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                                </div>

                                                                <div class="form-group col-lg-6 col-md-6 col-sm-4">
                                                                        <label for="ExpectedResolutionTime">Expected Resolution Time:<span class="required">*</span></label>
                                                                        <div *ngIf="!isReadonly"> <input id="EmergencyDate" class="form-control" type="text"
                                                                                        formControlName="ScheduleTime" placeholder="Enter Resolution Time"
                                                                                        datetime-picker [options]="datepickerOption"
                                                                                        (selectHandler)="dateTimeSet($event,'EmergencyDate');"
                                                                                />
                                                                                <small *ngIf="!form.controls.ScheduleTime.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                                        </div>
                                                                        <input id="ExpectedResolutionTime" type="text" formControlName="ScheduleTime" class="form-control" placeholder="Enter Resolution Time"
                                                                                *ngIf="isReadonly" />
                                                                        <small *ngIf="!form.controls.ScheduleTime.valid" class="text-danger">
                                                                                Required.
                                                                                </small>
                                                                </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                                                        <label for="RequiredLocation">Required Location:<span class="required">*</span></label>
                                                                        <input id="RequiredLocation" type="text" formControlName="RequiredLocation" class="form-control" placeholder="Enter Requested By"
                                                                                autofocus />
                                                                        <!--<input id="RequiredLocation" type="text" formControlName="RequiredLocation" style="width: 89%;" />-->
                                                                </div>
                                                                <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                                                        <label for="FileUpload">Upload File: <span class="required"></span></label>
                                                                         <input type="file" #inputFileDemand id="fileuploadDemand" formControlName="FileInputDemand" (change)="getFileDetails($event)" />
                                                                        <!--<input id="RequiredLocation" type="text" formControlName="RequiredLocation" style="width: 89%;" />-->
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4" *ngIf="!isReadonly">
                                                                        <button class="btn btn-primary" type="submit" *ngIf="!isArchive">{{Action}}</button>
                                                                </div>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>