<div class="card card-without-top-border noBorder">
    <div *ngIf="!isArchive">
        <demand-entry></demand-entry>
    </div>
    <div class="card-block">
        <responsive-table>
            <table responsive-table-body>
                <thead>
                    <tr>
                        <th>Demand Type</th>
                        <th>Demand Description</th>
                        <th>Target Department</th>
                        <th>Priority</th>
                        <th>Schedule Time Close</th>
                        <th>Requester Contact Number</th>
                        <th>Required Location</th>
                        <th>Demand Status</th>
                        <th>Remarks</th>
                        <th>RAG</th>
                        <th>Download File</th>
                        <th *ngIf="!isArchive">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="mydemands.length != 0">
                        <td colspan="9">No Demand is created yet.</td>
                    </tr>
                    <tr *ngFor="let demand of mydemands">
                        <td data-title="Demand Type">{{demand.DemandTypeName}}&nbsp;</td>
                        <td data-title="Demand Description"><i (click)="openDemandDetails(demand.DemandId)">{{demand.DemandDesc}}</i>&nbsp;<i class="fa fa-info-circle"
                                (click)="openTrail(demand)"></i> </td>
                        <td data-title="Target Department">{{demand.TargetDepartmentName}}&nbsp;</td>
                        <td data-title="Priority">{{demand.Priority}}&nbsp;</td>
                        <td data-title="Schedule Time Close">{{demand.ScheduleTimeToShow}}&nbsp;</td>
                        <td data-title="Requester Contact Number">{{demand.ContactNumber}}&nbsp;</td>
                        <td data-title="Required Location">{{demand.RequiredLocation}}&nbsp;</td>
                        <td data-title="Demand Status">{{demand.DemandStatusDescription}}&nbsp;</td>
                        <td data-title="Remarks"><i class="fa fa-list-alt" (click)="openDemandRemarks(demand)"></i></td>
                        <td data-title="RAG"><span [ngClass]="demand.RagStatus"></span></td>
                        <td data-title="Download File">
                            <ul>
                                <li *ngFor="let file of demand.FileStores">
                                    <a target="_blank" href="{{demandFilePath + file.FileStoreID}}" download="file.UploadedFileName"><i class="fa fa-download fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;{{file.UploadedFileName}}</a>
                                </li>
                            </ul>
                        </td>
                        <td data-title="Edit" *ngIf="!isArchive"><i class="fa fa-edit fa-2x" (click)="open(demand.DemandId)"></i></td>
                    </tr>
                </tbody>
            </table>
        </responsive-table>



        <div bsModal #childModalRemarks="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Demand Remarks</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelRemarkUpdate()">
                  <span aria-hidden="true">&times;</span>
                   </button>
                    </div>
                    <div class="modal-body">
                        <div class="row holderRemark" *ngIf="!isArchive">
                            <div class="col-lg-8 col-sm-12 col-md-6 form-group">
                                <label>Remarks</label>
                                <input [(ngModel)]="Remarks" class="form-control" type="text" />
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <div class="buttonholderRemark">
                                    <button class="btn btn-primary" type="button" (click)="saveRemark(Remarks)" *ngIf="!isArchive">Submit</button>
                                    <button class="btn btn-primary" type="button" (click)="cancelRemarkUpdate()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <responsive-table>
                                <table responsive-table-body>
                                    <thead>
                                        <th>Requester Department</th>
                                        <th>Remarks added by</th>
                                        <th>Remarks added on</th>
                                        <th>Remarks</th>
                                    </thead>
                                    <tbody>
                                        <tr [hidden]="demandRemarks.length != 0">
                                            <td colspan="9">No Remark is added yet.</td>
                                        </tr>
                                        <tr *ngFor="let remark of demandRemarks">
                                            <td data-title="Requester Department">{{remark.RequesterDepartmentName}}</td>
                                            <td data-title="Remarks added by">{{remark.CreatedByName}}</td>
                                            <td data-title="Remarks added on">{{remark.CreatedOn | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                                            <td data-title="Remarks">{{remark.Remark}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </responsive-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div bsModal #childModalTrail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Demand Trail</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelTrail()">
                  <span aria-hidden="true">&times;</span>
                   </button>
                    </div>
                    <div class="modal-body">
                        <div class="row modalBodyHeaderStyle">
                            
                            <div class="col-sm-6 form-group">
                                 <label class="lebelHeaderStyle"><strong>Demand Type Name</strong></label>  <br> 
                                <label class="form-control">{{demandTypeName}}</label>  </div>
                            
                            <div class="col-sm-6 form-group">
                                 <label class="lebelHeaderStyle"><strong>Requester Department</strong></label> <br> 
                                <label class="form-control">{{requesterDepartmentName}}</label>  </div>
                             </div>
                         <br>
                        <responsive-table>
                            <table responsive-table-body>
                                <tbody>
                                    <tr *ngFor="let trail of demandTrails">
                                        <td>
                                            <div [innerHTML]="trail.Answers" type="text"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </responsive-table>
                    </div>
                </div>
            </div>
        </div>


    </div>