.mod-head{
    font-size: 16px;
}
.dilld{
    background: none;
    border-radius: 15px;
    color: #f1cb0c;
    font-size: 15px;
    width: 8%;
    text-align: center;
    padding: 3px 0;
    font-weight: bold;
}