$default: #ffffff;
$body-bg: #f5f5f5;

$header-bg: $default;
$header-shadow: rgba(0, 0, 0, 0.55);

$footer-bg: #eaeaea;
$footer-shadow: rgba(128, 128, 128, 0.75);

// $default-text: #666666;
// $content-text: $default-text;
// $help-text: #949494;

// $label-text: #ffffff;
// $disabled: #dddddd;
// $disabled-bg: tint($disabled, 15%);
// $border: #d6d6d6;
// $border-light: tint($border, 15%);
// $input-border: shade($border, 5%);
// $input-background: #ffffff;
// $dropdown-text: #7d7d7d;

$primary: #209e91 !default;
$info: #2dacd1 !default;
$success: #90b900 !default;
$warning: #dfb81c !default;
$danger: #e85656 !default;

$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);

$sidebar-bg: #696562;
$sidemenu-border:#797979;
$sidemenu-active: #df7160;
$sidemenu-active-arrow: $body-bg;
$sidemenu-text: $body-bg;
$sidemenu-hover-bg:#ded5d4;
$sidemenu-hover-text: #000000;

$summary-widget-bg:#d0bd81;
$summary-widget-title:$body-bg;
$summary-widget-title-border:#dad8d8;

$clock-widget-bg:#caf1ff;
$clock-widget-title:$body-bg;
$clock-widget-border:#dad8d8;

$button-s:#de796a;
$button-e:#8e1e18;
$button-hover: rgba(142, 30, 24, 0.86);

$message-widget-bg:$body-bg;
$message-widget-text:$body-bg;
$message-widget-button-text:$body-bg;
$message-widget-button-s:$button-s;
$message-widget-button-e:$button-e;
$message-widget-title-border:#dad8d8;
$message-widget-border-s:$body-bg;
$message-widget-border-m:#000000;
$message-widget-border-e:$body-bg;

$widget-accordion-bg: $body-bg;
$widget-accordion-nav-bg:rgba(216, 216, 216, 0.4);
$widget-accordion-nav-hover-bg:rgba(216, 216, 216, 0.6);

$text-accordion-bg: $body-bg;
$text-accordion-nav-bg: $widget-accordion-nav-bg;
$text-accordion-nav-hover-bg: $widget-accordion-nav-hover-bg;
$text-accordion-date:#0275d8;

$ribbon-text: #333;
$ribbon-text-shadow: rgba(255, 255, 255, 0.5) 0.07em 0.05em 0px;
$ribbon-bg:#BFDC7A;
$ribbon-bg-s:#BFDC7A;
$ribbon-bg-e:#8EBF45;
$ribbon-back-border-bg: #3a4803;

$tab-item-bg:rgba(86, 76, 75, 0.14);
$tab-item-selected-bg:$default;
$tab-item-selected-border:#03A9F4;
$tab-nav-bg:rgba(64, 64, 66, 0.15);
$tab-nav-hover-bg:rgba(64, 64, 66, 0.3);
$tab-nav-arrow:$default;
$tab-slider-bg:#de7464;
$tab-ripple-on:rgba(41, 32, 30, 0.47);
$tab-ripple-off:$default;

$table-header-font-color:#757575;
$table-bg:$default;
$table-bg-accent:$body-bg;
$table-bg-hover:rgba(0,0,0,0.12);
$table-bg-active:$table-bg-hover;
$table-border-color:#e0e0e0;
$table-stripped-default-bg:$body-bg;
$table-stripped-default-hover-bg:rgba(0,0,0,0.12);
$table-stripped-red-bg:#fde0dc;
$table-stripped-red-hover-bg:#f9bdbb;
$table-stripped-pink-bg:#fce4ec;
$table-stripped-pink-hover-bg:#f8bbd0;
$table-stripped-purple-bg:#f3e5f5;
$table-stripped-purple-hover-bg:#e1bee7;
$table-stripped-deeppurple-bg:#ede7f6;
$table-stripped-deeppurple-hover-bg:#d1c4e9;
$table-stripped-indigo-bg:#e8eaf6;
$table-stripped-indigo-hover-bg:#c5cae9;
$table-stripped-blue-bg:#e7e9fd;
$table-stripped-blue-hover-bg:#d0d9ff;
$table-stripped-lightblue-bg:#e1f5fe;
$table-stripped-lightblue-hover-bg:#b3e5fc;
$table-stripped-cyan-bg:#e0f7fa;
$table-stripped-cyan-hover-bg:#b2ebf2;
$table-stripped-teal-bg:#e0f2f1;
$table-stripped-teal-hover-bg:#b2dfdb;
$table-stripped-green-bg:#d0f8ce;
$table-stripped-green-hover-bg:#a3e9a4;
$table-stripped-lightgreen-bg:#f1f8e9;
$table-stripped-lightgreen-hover-bg:#dcedc8;
$table-stripped-lime-bg:#f9fbe7;
$table-stripped-lime-hover-bg:#f0f4c3;
$table-stripped-yellow-bg:#fffde7;
$table-stripped-yellow-hover-bg:#fff9c4;
$table-stripped-amber-bg:#fff8e1;
$table-stripped-amber-hover-bg:#ffecb3;
$table-stripped-orange-bg:#fff3e0;
$table-stripped-orange-hover-bg:#ffe0b2;
$table-stripped-deeporange-bg:#fbe9e7;
$table-stripped-deeporange-hover-bg:#ffccbc;

$dropdown-bg:#9bc7de;
$dropdown-text:$default;
$dropdown-arrow-right:$default;
$dropdown-arrow-bottom:$dropdown-bg;
$dropdown-items-bg:$default;
$dropdown-item-hover-bg:#f3f8f8;
$dropdown-item-text:#9e9e9e;

$rag-red : #F00;
$rag-amber : #f8a920;
$rag-green : #090;

$trail-green : #090;

$multiselect-background :#fff;
$multiselect-color : #333;
$multiselect-border : #ccc;

$entryholder-background :#fff;;
$entryholder-color :#ccc;

$cross-color : #F00;
