<ul class="cd-container">
    <li (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
        <ul class="cd-item-wrapper">
            <ng-container *ngFor="let accordionItem of (accordionItems | async); let i = index;">
                <li [ngClass]="{'cd-item-front': i===0,'cd-item-middle': i===1,'cd-item-back': i===2,'cd-item-out': i===3 }">
                    <div *ngIf="i === 0" class="ribbon-wrapper-green">
                        <div class="ribbon-green">new</div>
                    </div>
                    <i class="publish-date">{{accordionItem.PublishedOn | customDate: 'DD-MMM-YYYY HH:mm'}}</i>
                    <span>
                        {{accordionItem.Message}}
                        <br />
                        <ng-template [ngIf]="isShow | accesibility:currentDepartmentId:accessibilityCodeForDownloadLink">
                            <a *ngIf="accordionItem.DownloadLink != '' " target="_blank" href="{{accordionItem.DownloadLink}}">
                                <i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp; Download
                            </a>
                        </ng-template>
                    </span>
                </li>
            </ng-container>
            <li class="cd-item-front" *ngIf="(accordionItems | async)?.length==0">
                <span>
                    <div class="nodatafound">
                        <i class="fa fa-ban fa-3x" aria-hidden="true"></i>
                        No Data Available
                    </div>
                </span>
            </li>
        </ul>
        <nav>
            <ul class="cd-item-navigation">
                <li>
                    <a class="cd-img-replace" href="javascript:void(0);" (click)="onPreviousClick($event)">
                        <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="cd-img-replace" href="javascript:void(0);" (click)="onNextClick($event)">
                        <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </li>
</ul>