.search-container {
    background: #eee;
    border: 1px solid #dcdcdc;
    position: relative;
    margin-bottom: 10px;
    form {
        padding: 7px 20px;
    }
    .search-title {
        width: 100%;
        display: block;
        padding: 5px;
        background-color: #9e9d9d;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
    }
    .search-block {
        width: 200px;
        display: inline-block;
        margin: 5px;
    }
    .button-block {
        width: 85px !important;
    }
}