<div class="card-block">
<div class="row">
    <div class="col-12 butt-des">
        <input type="button" class="btn btn-primary" (click)="expandSearchPanel(expandSearch)" [ngModel]="searchValue" />
    </div>
</div>
<div class="row">
    <div class="col-12" *ngIf="expandSearch">
        <generic-search [filterConfigs]="searchConfigs" (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();">
        </generic-search>
    </div>
</div>

<responsive-table>
    <table responsive-table-body>
        <thead>
            <tr>
            <th>Media</th>
            <th>Situation</th>
            <th>Description</th>
           </tr>
        </thead>
         <tr [hidden]="templates.length != 0">
                <td colspan="6">No records found.</td>
            </tr>
        <tr *ngFor="let template of templates">
            <td data-title="Media">{{template.TemplateMediaId}}</td>
            <td data-title="Situation">{{template.EmergencySituation.EmergencySituationName}}</td>
            <td data-title="Description">{{template.Description}}</td>
        </tr>
    </table>
</responsive-table>
</div>