<div class="card-block">
    <div class="row">
        <div class="col-sm-12 butt-des">
            <input type="button" class="btn btn-primary" (click)="expandSearchPanel(expandSearch)" [ngModel]="searchValue" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" *ngIf="expandSearch">
            <generic-search [filterConfigs]="searchConfigs" (InvokeSearch)="invokeSearch($event);" (InvokeReset)="invokeReset();">
            </generic-search>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <responsive-table>
                <table responsive-table-body>
                    <thead>
                        <tr>
                            <th>Media</th>
                            <th>Situation</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tr [hidden]="templates.length != 0">
                        <td colspan="3">No records found.</td>
                    </tr>
                    <tr *ngFor="let template of templates">
                        <td data-title="Media">{{template.TemplateMediaId}}&nbsp;</td>
                        <td data-title="Situation">{{template.EmergencySituation.EmergencySituationName}}&nbsp;</td>
                        <td data-title="Description" [innerHTML]="template.Description">&nbsp;</td>
                    </tr>
                </table>
            </responsive-table>
        </div>
    </div>
</div>