<div class="card-block">
    <div class="row">
        <div class="form-group col-lg-6 col-sm-12 col-md-12">
            <label for="Passengers">Emergency:<span class="red">*</span></label>
            <autocomplete [items]="items" (notify)='onNotify($event)'></autocomplete>
        </div>
    </div>
    <div class="row">
        <div class="col-12 buttonholder">
    <button class="btn btn-primary" type="button" (click)="save()">Save</button>
        </div>
    </div>
    <responsive-table>
        <table responsive-table-body>
            <thead>
                <tr>
                    <th>Department Name</th>
                    <th>Select Department</th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="departmentsForEmergency.length != 0">
                    <td colspan="6">No records found.</td>
                </tr>
                <tr *ngFor="let departmentForEmergency of departmentsForEmergency">
                    <td data-title="Department Code">{{departmentForEmergency.DepartmentName}}</td>
                    <td data-title="Select Department">
                        <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="departmentForEmergency.IsSelected" aria-label="Add"></md-checkbox>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </responsive-table>
    <div class="row">
        <div class="col-12 buttonholder">
    <button class="btn btn-primary" type="button" (click)="save()">Save</button>
        </div>
    </div>
</div>













<!--<div>
    <h3>Emergency Department Mapping</h3>

    <autocomplete [items]="items" (notify)='onNotify($event)'></autocomplete>

    <button class="btn btn-primary" type="button" (click)="save()">Save</button>
    <div class="row" *ngFor="let departmentForEmergency of departmentsForEmergency">
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Department Name:</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{departmentForEmergency.DepartmentName}}</li>
</ul>
</div>
<div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
    <ul class="list-group">
        <li class="list-group-item"><strong><i>Select Department.</i></strong></li>
        <md-checkbox class="Marght" id="IsAutoApproved" [(ngModel)]="departmentForEmergency.IsSelected" aria-label="Add">
        </md-checkbox>
    </ul>
</div>
</div>

</div>-->