<div *ngIf="showAdd" class="formStyle card-block entryHolder">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <input type="hidden" formControlName="DemandTypeId" name="DemandTypeId" />
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="DemandTypeName">Request Type:<span class="required">*</span></label>
                    <input id="DemandTypeName" type="text" class="form-control" formControlName="DemandTypeName" placeholder="Enter RequestType Name"
                        autofocus />
                        <small *ngIf="!form.controls.DemandTypeName.valid" class="text-danger">
                        Required.
                        </small>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <!--<label for="IsAutoApproved">Is Auto Approved:</label>
                    <br>-->
                    <md-checkbox class="Marght" id="IsAutoApproved" formControlName="IsAutoApproved" aria-label="Add" (change)="IsAutoApproved($event)">
                        Is Auto Approved:
                    </md-checkbox>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="form-group">
                    <div *ngIf="showApproverDept">
                        <label for="ApproverDept">Approver Department:<span class="required">*</span></label>
                        <select id="selectApprover" [(ngModel)]="demandTypeModel.DepartmentId" formControlName="ApproverDept" class="form-control">
                        <option value=''>Select Approver Department</option>
                        <option *ngFor="let department of departments" [value]="department.DepartmentId" >
                        {{department.DepartmentName}}
                        </option>
                    </select>
                    <small *ngIf="!form.controls.ApproverDept.valid" class="text-danger">
                        Required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="buttonholder">
                    <button class="btn btn-primary" type="submit">{{Action}}</button>
                    <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="addbuttonHolder">
    <button class="btn btn-primary" type="submit" (click)="showAddRegion()">Add Demand Type</button>
</div>