<div>
    <h3>DemandTypes listing data</h3>
    <div class="row" *ngFor="let demandType of demandTypes">
        <div class="col-sm-12 col-xs-12 hidden-md-up">
            <div class="card card-outline-primary mb-3">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left" style="padding-right: 10px">
                            <i class="fa fa-4x fa-address-book-o"></i>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong><i>DemandType.: </i></strong>&nbsp; {{ demandType.DemandTypeName }}</li>
                        <li class="list-group-item"><strong><i>AutoApproved: </i></strong>&nbsp; {{ demandType.IsAutoApproved }}</li>
                        <li class="list-group-item" *ngIf="(demandType.ApproverDepartment | json) !== 'null'">
                            <strong><i>Approver Department.: </i></strong> &nbsp; {{demandType.ApproverDepartment?.DepartmentName
                            }}
                        </li>
                        <li class="list-group-item"><strong><i>IsActive: </i></strong>&nbsp; {{ demandType.ActiveFlag }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>DemandType:</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{demandType.DemandTypeName}}</li>
            </ul>
        </div>
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>AutoApproved.</i></strong></li>
                <li class="list-group-item" style="border-top: none">{{demandType.IsAutoApproved }}</li>
            </ul>
        </div>
        <div class="col-md-5 col-lg-5 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Approver Department: </i></strong>&nbsp; {{demandType.ApproverDepartment?.DepartmentName}}</li>
                <li class="list-group-item"><strong><i>IsActive: </i></strong>&nbsp; {{demandType.ActiveFlag }}</li>
            </ul>
        </div>
        <div class="col-md-2 col-lg-2 hidden-sm-down col-no-left-padding col-no-right-padding">
            <ul class="list-group">
                <li class="list-group-item"><strong><i>Action:</i></strong></li>
                <li><button (click)="edit(demandType)" class="fa fa-edit"></button></li>
            </ul>
        </div>

    </div>
</div>