<div class="card card-without-top-border ">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                 <a class="nav-link" [routerLink]="['./assignedcalls']" routerLinkActive="active">Recieved Calls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['./recievedCalls']" routerLinkActive="active">Assigned Calls</a>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <router-outlet></router-outlet>
    </div>
</div>